<app-adminheader></app-adminheader>
<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right tranningcategorylist">
      <app-listing class="mytranningcategory" templatetype="table" sourcetitle="Tranning Category" source="tranningcategory_view" [sourcecondition]="sourcecondition" [tabledatalis]="tabledatalis" menuval="Tranning Category List " [formdata]="formdata" [formsource]="datasource">
      </app-listing>
    </div>
  </div>
</div>
<app-footer></app-footer>