<!--<div style="width:100vw; height:100vh; position: absolute; z-index: 999; background: #fff; " *ngIf="showLoader==1">-->
<!--<div style="width:100vw; height:100vh; display:table-cell; vertical-align:middle; text-align:center; ">-->
<!--<img src="assets/images/s_getmybrand_logo.png"  alt="#" style="margin:0 auto; display: block; margin-bottom:30px; max-width: 280px;"/>-->
<!--<div class="loader">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div style="width:100vw; height:100vh; display:table-cell; vertical-align:middle; text-align:center; position: fixed; top: 0; background: #fff; z-index: 999"
    *ngIf="loaderdiv">
    <div style="width: 100vw; height: 100vh; display: table-cell; vertical-align: middle; ">

        <img src="assets/images/logo.png" alt="#"
            style="margin:0 auto; display: block; margin-bottom:30px; max-width: 280px;" />

        <div class="loader"></div>
        <p class="sync_data">Synchronizing Data ...</p>
    </div>

</div>

<div class="nextGen_admin_mainwrapper">
    <div class="page-wrapper s_getmybrand_adminlist">
        <div class="nexgen_adminlist">
            <div class="user_management_wrapper">
                <div class="user_management_inner">
                    <h2 *ngIf="router.url==['/tranningcategory'] || router.url==['/addtrainings']">Add {{sourcetitle}}
                    </h2>
                    <h2 *ngIf="router.url!=['/tranningcategory'] && router.url!=['/addtrainings']">manage
                        {{sourcetitle}}</h2>

                    <div class="inner_search_wrapper"
                        *ngIf="router.url!=['/tranningcategory'] && router.url!=['/addtrainings']">
                        <div class="inner_content_wrapper">
                            <div class="search_content">
                                <h3><span>Search by Email: </span> <input type="text" [(ngModel)]="filterval2"
                                        (keyup)="searchbyval()"><button>search</button> </h3>
                            </div>
                            <div class="search_content">
                                <h3> <span>Search by Name: </span> <input type="text" [(ngModel)]="filterval3"
                                        (keyup)="searchbyval()"><button>search</button> </h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="inner_search_wrapper single_content"
                        *ngIf="router.url==['/tranningcategory'] || router.url==['/addtrainings']">
                        <div class="inner_content_wrapper">
                            <div class="search_content">
                                <h3> <span>Search by Training Name : </span> <input type="text" [(ngModel)]="filterval1"
                                        (keyup)="searchbyval()"><button>search</button> </h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    
                    <input type="text" placeholder="Search..." [(ngModel)]="filterval" #listFilter (keyup)="0"
                        class="hide">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 admin_inner_wrapper">


                <!-- <div class="content_header_block">
                    <ol class="breadcrumb">
                        <li><a href="javascript:void(0)" class="active" [routerLink]="['/dashboard']">Dashboard</a></li>
                        <li>Manage {{sourcetitle}}</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>-->

                <div class="clearfix"></div>
                <div class="content_header_block">
                    <div class="clearfix"></div>
                    <div class="newblock1 ">
                        <!--    <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search {{sourcetitle}}">-->

                        <!--<a (click)="openform(formtemplate,0)" class="addfrinderbtn s_getmybrand_savebutton"> Add {{sourcetitle}}</a>-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="nexgen_admin_table">
                    <div class="action_section">
                        <div class="inner_actionblock">
                            <!-- <h3 *ngIf="router.url!='/rep'"> {{menuval}}</h3> -->
                            <!-- <div class="legend_status" *ngIf="router.url=='/rep'">
                       <h2> STATUS LEGEND:</h2>
                        <ul>
                            <li>Not Qualified</li>
                            <li>Pending Sign Up</li>
                            <li>Pending Phone Verification</li>
                            <li>Pending Contract</li>
                            <li>Pending New Hire Training</li>
                            <li>Dashboard Access</li>
                        </ul>
                    </div> -->
                            <div class="abcde">
                                <a *ngIf="hideadd!=null && hideadd!='true' " (click)="openform(formtemplate,0)"
                                    class="addfrinderbtn s_getmybrand_savebutton"> Add {{sourcetitle}}</a>
                                <a *ngIf="slotlist=='true' " [routerLink]="['/slotview']"
                                    class="addfrinderbtn s_getmybrand_savebutton slotadd"> Slot View</a>
                                <a *ngIf="slotlist=='true' " href="http://gapi.betoparedes.com/connect-calendar.php"
                                    class="addfrinderbtn s_getmybrand_savebutton slotadd"> Add or update calendar
                                    settings</a>
                                <a *ngIf="slotlist=='true' " (click)="syncgoogle()"
                                    class="addfrinderbtn s_getmybrand_savebutton slotadd"> Sync with Google Calendar</a>
                              <!-- <a (click)="syncgoogle()" class="addfrinderbtn s_getmybrand_savebutton slotadd"> All Leads</a>
                              <a (click)="syncgoogle()" class="addfrinderbtn s_getmybrand_savebutton slotadd"> Product Wise Leads</a> -->
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive admin_table_wrapper">
                        <div *ngIf="templatetype=='table'">
                            <table class="table" *ngIf="datalist.length>0">
                                <thead>
                                    <tr>
                                        <th [ngClass]="item.class" *ngFor="let item of tabledatalisval; index as i;"
                                            scope="col" >{{item.name}}</th>
                                        <th *ngIf="hideaction!=null && hideaction!='true' ">Actions</th>
                                        <th *ngIf="notes!=null && notes=='true' ">Manage Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of datalist | usersearch:listFilter.value; index as i ">
                                        <td *ngFor="let item1 of tabledatalisval; let i1=index;" scope="col"
                                            class="{{item._id}}"  [attr.datalabel]="item1.class">
                                            <span *ngIf="item1.type=='text' && router.url!='/rep'"
                                                [ngClass]="item1.class">
                                                <!-- <span *ngIf="item1.selectvalue=='show'">{{showname(item[item1.value])}}</span>-->
                                                <!-- <span *ngIf="item1.selectvalue!='show'">{{item[item1.value]}}</span>-->
                                                {{item[item1.value]}}
                                            </span>
                                            <span *ngIf="item1.type=='number' && router.url!='/rep'"
                                                [ngClass]="item1.class">
                                                <!-- <span *ngIf="item1.selectvalue=='show'">{{showname(item[item1.value])}}</span>-->
                                                <!-- <span *ngIf="item1.selectvalue!='show'">{{item[item1.value]}}</span>-->
                                                {{item[item1.value]}}
                                            </span>
                                            <span *ngIf="item1.type=='text'&& router.url=='/rep'" class="pointerbtn"
                                                [ngClass]="item1.class"
                                                (click)="gotorepdetails(item._id)">{{item[item1.value]}}</span>

                                            <!--<span *ngIf="item1.type=='text1'&& router.url=='/rep'" class="pointerbtn" [ngClass]="item1.class" (click)="updaterecruiter(item._id)">{{item[item1.value]}}</span>

                                        <span *ngIf="item1.type=='text1'&& router.url=='/rep'" class="pointerbtn" [ngClass]="item1.class" (click)="updaterecruiter(item._id)">Update</span>-->

                                            <!--  <span *ngIf="item1.type=='text1'&& router.url=='/rep'" class="pointerbtn" [ngClass]="item1.class">{{item[item1.value]}}</span>
                                            <span *ngIf="item1.type=='text1'&& router.url=='/rep'" (click)="updaterecruiter(item._id)" class="edit_user lock_unlock"> Update</span>-->


<!------------------------------------------------------------------------------------------------>
<span *ngIf="item1.value=='verification_need' && item1.type=='checkbox' " [ngClass]="item1.class">
    <span class="statusactive" *ngIf="item[item1.value]==true"> Required</span>
    <span class="statusinactive" *ngIf="item[item1.value]!=true"> Not Required</span>

</span>
<!------------------------------------------------------------------------------------------------>

                                            <span *ngIf="item1.type=='checkbox' && item1.value!='verification_need'" [ngClass]="item1.class">
                                                <span class="statusactive" *ngIf="item[item1.value]==true"> Active
                                                    &nbsp;&nbsp; <span
                                                        *ngIf="item1.editrole !=null && item1.editrole.indexOf(usertype)>-1"
                                                        (click)="togglestatus(item)" class="ticon_active"></span></span>
                                                <span class="statusinactive" *ngIf="item[item1.value]!=true"> Inactive
                                                    <span
                                                        *ngIf="item1.editrole !=null && item1.editrole.indexOf(usertype)>-1"
                                                        (click)="togglestatus(item)" class="ticon_inactive"></span>
                                                </span>


                                                <!--toggle button end-->
                                                <span class="hide">Toggle</span>

                                            </span>

                                            <span *ngIf="item1.type=='showstatus'" [ngClass]="item1.class">
                                                {{showstatusofrep(item)}}

                                            </span>
                                            <span *ngIf="item1.type=='phoneno'" [ngClass]="item1.class">
                                                {{showphoneno(item[item1.value])}}

                                            </span>

                                            <span *ngIf="item1.type=='showlegaldoc'" [ngClass]="item1.class">

                                                <span *ngIf="item[item1.value]?.length==0">
                                                    <span>Insurance Docket- Not Submitted </span><br />
                                                    <span>W9- Not Submitted </span>
                                                </span>
                                                <span *ngIf="item[item1.value]?.length==1">
                                                    <span *ngFor="let item2 of item[item1.value]">
                                                        <span *ngIf=" item2.doctype=='ID'">
                                                            <span>Insurance Docket- Submitted </span><br />
                                                            <span>W9- Not Submitted </span>
                                                        </span>
                                                        <span *ngIf=" item2.doctype=='W9'">
                                                            <span>Insurance Docket- Not Submitted </span><br />
                                                            <span>W9- Submitted </span>
                                                        </span>
                                                    </span>
                                                </span>

                                                <span *ngIf="item[item1.value]?.length==2">
                                                    <span *ngFor="let item2 of item[item1.value]">
                                                        <span *ngIf=" item2.doctype=='ID'">
                                                            <span>Insurance Docket- Submitted </span>
                                                        </span>
                                                        <span *ngIf=" item2.doctype=='W9'">
                                                            <span>W9- Submitted </span>
                                                        </span>
                                                    </span>
                                                </span>

                                            </span>

                                            <span *ngIf="item1.type=='locked'" [ngClass]="item1.class">
                                                <span class="" *ngIf="item[item1.value]!=1"> Unlocked &nbsp;&nbsp; <span
                                                        (click)="togglelockedstatusmodal(item,'Lock',lockunlockconfirmmodal,$event)"
                                                        class="edit_user lock_unlock"> Lock</span></span>
                                                <span class="" *ngIf="item[item1.value]==1"> Locked <span
                                                        (click)="togglelockedstatusmodal(item,'Unlock',lockunlockconfirmmodal,$event)"
                                                        class="edit_user lock_unlock">Unlock</span> </span>


                                                <!--toggle button end-->
                                                <span class="hide">Toggle</span>

                                            </span>
                                            <span *ngIf="item1.type=='#'&& router.url!='/rep'"
                                                [ngClass]="item1.class">{{i+1}}</span>
                                            <span *ngIf="item1.type=='#'&& router.url=='/rep'" class="pointerbtn"
                                                [ngClass]="item1.class"
                                                (click)="gotorepdetails(item._id)">{{i+1}}</span>
                                            <span *ngIf="item1.type=='image'" [ngClass]="item1.class"><img
                                                    src="{{_commonservice.filepathurl }}{{item1.foldername}}/crop/{{item[item1.value]}}" /></span>
                                            <span *ngIf="item1.type=='file'" [ngClass]="item1.class"><a
                                                    href="{{_commonservice.uploadsslurl }}?file={{item[item1.value]}}"
                                                    target="_blank">Download</a><br />File Name:
                                                {{item[item1.filepath]}}</span>
                                            <!-- <span *ngIf="item1.type=='image'" [ngClass]="item1.class"><img src="{{_commonservice.filepathurl}}{{item1.foldername}}/{{item1.filename}}" /></span>-->
                                            <span *ngIf="item1.type=='url'"
                                                [ngClass]="item1.class">{{item[item1.value]}}</span>
                                            <span *ngIf="item1.type=='daterange'"
                                                [ngClass]="item1.class">{{showdate(item[item1.value])}}</span>
                                            <span *ngIf="item1.type=='dateis'"
                                                [ngClass]="item1.class">{{showsingledate(item[item1.value])}}</span>
                                            <span *ngIf="item1.type=='timezone'"
                                                [ngClass]="item1.class">{{gettimezone(item[item1.value])}}</span>
                                            <span *ngIf="item1.type=='timeis'"
                                                [ngClass]="item1.class">{{showtime(item[item1.value])}}</span>
                                            <span *ngIf="item1.type=='unixdate'&& router.url!='/rep'"
                                                [ngClass]="item1.class">{{showrealdate(item[item1.value])}}</span>
                                            <span *ngIf="item1.type=='unixdate'&& router.url=='/rep'" class="pointerbtn"
                                                [ngClass]="item1.class"
                                                (click)="gotorepdetails(item._id)">{{showrealdate(item[item1.value])}}</span>
                                        </td>
                                        <td *ngIf="hideaction!=null && hideaction!='true' ">
                                            <span class=" delete_user"
                                                (click)="deletdata(item,commonconfirmmodal)">delete</span>
                                            <span class="edit_user" (click)="editmodal(formtemplate,item)">edit</span>
                                        </td>
                                        <td *ngIf="notes!=null && notes=='true' ">
                                            <span class="delete_user"
                                                (click)="notesdata(item,notesmodal)">Notes({{item.notescount}})</span>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!--Pagination-->

                <div class="admin_table_pagination hide">
                    <ul class="pagination">
                        <span>Page 1 of 3</span>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                        <li><a href="#">Last</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #lockunlockconfirmmodal>
    <div class="modal-body brandmanagement_modal successmodal_listing">
        <div class="logo_wrapper">
            <img src="assets/images/logo.png">
        </div>
        <div class="brand_messagebox">
            <h3>Are you sure you want to {{lockunlock}} this account?</h3>
            <div class="btn_cnt">
                <button class="message_allow" (click)="togglelockedstatus()">Yes</button>
                <button class="message_deny" (click)="nodelete()">No</button>
            </div>
        </div>
    </div>
    <div>
    </div>
</ng-template>
<ng-template #formtemplate>
    <div class="modal-body brandmanagement_modal newNexgen_modal " [ngClass]="addeventform1class()">
        <h1>Add/Edit {{menuval}}</h1>
        <form novalidate (ngSubmit)="formsubmit()">
            <!--[ngClass]="addeventformclass()"-->
            <div class="form-group row rownew1" [formGroup]="dataForm" *ngFor="let item of formdataval; let i=index;">
                <div *ngIf="(isedit==0 || (item.isaddonly==null && item.isaddonly!=true))" class="form_floating_div">
                    <!--[ngClass]="addeventclass()"-->
                    <label *ngIf="item.inputtype!='hidden'  && item.name!='multiple_emails'"
                        class="  col-form-label col-form-label-sm">{{item.label}}</label>
                        <label *ngIf="item.inputtype!='hidden' && item.name=='multiple_emails' && inputflag==1"
                        class="col-form-label col-form-label-sm">{{item.label}}</label>
                    <div class="col-sm-8">


                        <input
                            *ngIf="(item.inputtype=='text'  || item.inputtype=='password' || item.inputtype=='hidden') && item.name!='multiple_emails'"
                            [name]="item.name" [formControl]="dataForm.controls[item.name]" [type]="item.inputtype"
                            class="form-control" [placeholder]="item.placeholder" (keyup)="issubmit=0">
                        <input *ngIf="item.inputtype=='number'" [name]="item.name"
                            [formControl]="dataForm.controls[item.name]" [type]="item.inputtype" class="form-control"
                            [placeholder]="item.placeholder" (keyup)="issubmit=0">

                            <input
                            *ngIf=" inputflag==1 && item.inputtype=='text' && item.name=='multiple_emails'"
                            [name]="item.name" [formControl]="dataForm.controls[item.name]" [type]="item.inputtype"
                            class="form-control" [placeholder]="item.placeholder" (keyup)="issubmit=0">
                        <div class="checkboxclass" *ngIf="item.inputtype=='checkbox'">

                            <input type="checkbox" *ngIf="item.inputtype=='checkbox' && item.name!='verification_need'" [name]="item.name"
                                [formControl]="dataForm.controls[item.name]" class="form-control" (keyup)="issubmit=0"
                                [ngClass]="item.class">

                                <input type="checkbox" *ngIf="item.inputtype=='checkbox' && item.name=='verification_need'" [name]="item.name"
                                [formControl]="dataForm.controls[item.name]" class="form-control" (keyup)="issubmit=0" (change)="showInputText($event)"
                                [ngClass]="item.class">
                        </div>


                        <span *ngIf="item.inputtype=='radio'">
                            <label>{{item.value}} {{item.valuelabel}}</label>
                            <input type="radio" [name]="item.name" [value]="item.value"
                                [formControl]="dataForm.controls[item.name]" class="form-control" (keyup)="issubmit=0"
                                [ngClass]="item.class">
                            <br />
                        </span>

                        <input *ngIf="item.inputtype=='email' " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                            [name]="item.name" [formControl]="dataForm.controls[item.name]" [type]="item.inputtype"
                            class="form-control" [placeholder]="item.placeholder" (keyup)="issubmit=0">


                        <select *ngIf="item.inputtype=='select' && item.multiple==true" [name]="item.name"
                            [formControl]="dataForm.controls[item.name]" class="form-control" multiple="multiple"
                            (keyup)="issubmit=0">
                            <option value="">{{item.defaultchoice}}</option>
                            <option *ngFor="let selectval of item.sourceval" value="{{selectval[item.selectid]}}">
                                {{selectval[item.selectvalue]}}</option>
                        </select>
                        <!--  <select *ngIf="item.inputtype=='select' && (item.multiple==null || item.multiple==false)" [name]="item.name" [formControl]="dataForm.controls[item.name]" class="form-control" >
                            <option value="">{{item.defaultchoice}}</option>
                            <option *ngFor="let selectval of item.sourceval" value="{{selectval[item.selectid]}}">{{selectval[item.selectvalue]}}</option>
                        </select>-->
                        <select *ngIf="item.inputtype=='select' && item.multiple==null" [name]="item.name"
                            [formControl]="dataForm.controls[item.name]" class="form-control" (keyup)="issubmit=0">
                            <option value="" disabled="disabled">{{item.defaultchoice}}</option>
                            <option *ngFor="let selectval of item.sourceval" value="{{selectval[item.selectid]}}">
                                {{selectval[item.selectvalue]}}</option>
                        </select>

                        <textarea *ngIf="item.inputtype=='textarea' || item.inputtype=='editor' " [name]="item.name"
                            [formControl]="dataForm.controls[item.name]" class="form-control"
                            [placeholder]="item.placeholder" (keyup)="issubmit=0"></textarea>

                        <!--<date-range-picker *ngIf="item.inputtype=='daterange'" [options]="daterangepickerOptions" [class]="'col-md-12 form-control'"  (rangeSelected)="rangeSelected($event,item.name)" ></date-range-picker>-->
                        <input *ngIf="item.inputtype=='daterange' " id="inputdate{{item.name}}" [name]="item.name"
                            [formControl]="dataForm.controls[item.name]" type="text" class="form-control"
                            [placeholder]="item.placeholder"
                            [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  selectFromOtherMonth: false }"
                            #drp="bsDaterangepicker" bsDaterangepicker [minDate]="minDate" (keyup)="issubmit=0">
                        <input *ngIf="item.inputtype=='dateis' " id="inputdateis{{item.name}}" [name]="item.name"
                            [formControl]="dataForm.controls[item.name]" type="text" class="form-control"
                            [placeholder]="item.placeholder"
                            [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  selectFromOtherMonth: false }"
                            #drp="bsDatepicker" bsDatepicker [minDate]="minDate" (keyup)="issubmit=0">
                        <!--[minDate]="minDate"-->



                        <timepicker *ngIf="item.inputtype=='timeis' && item.name=='start_time'" [(ngModel)]="start_time"
                            [ngModelOptions]="{standalone: true}"></timepicker>
                        <timepicker *ngIf="item.inputtype=='timeis' && item.name=='end_time'" [(ngModel)]="end_time"
                            [ngModelOptions]="{standalone: true}"></timepicker>


                        <!--[formControl]="dataForm.controls['start_time']"-->
                        <!-- <input *ngIf="item.inputtype=='daterange' " [name]="item.name" [formControl]="dataForm.controls[item.name]" type="hidden" class="form-control" [placeholder]="item.placeholder">-->

                        <input *ngIf="item.inputtype=='url'"
                            pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?|^((http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"
                            [name]="item.name" [formControl]="dataForm.controls[item.name]" [type]="item.inputtype"
                            class="form-control" [placeholder]="item.placeholder" (keyup)="issubmit=0">


                        <div *ngIf="item.inputtype=='image'" class="btn_submit">
                            <!-- <p>{{item.name}}</p>-->
                            <input type="hidden" [formControl]="dataForm.controls[item.name]" class="form-control">
                            <button class="" type="button" (click)="fileInput.click()">{{item.buttonname}}</button>
                            <!--  <input style="display: none" type="file" (change)="onFileChanged($event,item,i)" #fileInput>-->
                            <input style="display: none" type="file" (change)="fileChangeEvent($event,i)" #fileInput>

                            <div class="imgwrapperImage">
                                <!--{{i}}-->
                                <image-cropper class="image_cropper" [imageChangedEvent]="imageChangedEvent[i]"
                                    [imageBase64]="unsafebase64imgdata[i]" [maintainAspectRatio]="true"
                                    [imageQuality]="99" [aspectRatio]="(item.aspectRatio)"
                                    [resizeToWidth]="(item.resizeToWidth)" [outputType]="file" format="png"
                                    (imageCropped)="imageCropped($event,item,i)" (imageLoaded)="imageLoaded()"
                                    (loadImageFailed)="loadImageFailed()"></image-cropper>

                                <img *ngIf="croppedImage[i]!=null || isedit==1" style="height: auto; width: 100%;"
                                    [src]="croppedImage[i]" /><br>
                                <input *ngIf="croppedImage[i]!=null || isedit==1 " type="button" value="Save"
                                    class="button_save" (click)="saveimg(item,i,messagemodal)">
                                <!--<img style="height: 314px;width: 231px"  [src]="base64imgdata" />-->
                            </div>
                            <!--<div class="col-md-4 imguploadsuccess" *ngIf="item.filename!=null">
                              <img style="width: 100%" src="{{_commonservice.filepathurl}}{{item.filename}}" >
                            </div>-->
                        </div>

                        <div *ngIf="item.inputtype=='file'" class="btn_submit">
                            <input type="hidden" [formControl]="dataForm.controls[item.name]" class="form-control">
                            <input style="display: none" type="file" accept="*" ngFileSelect [options]="options"
                                (uploadOutput)="onUploadOutput(item,i,$event)" [uploadInput]="uploadInput" #fileInput1>
                            <div class="button_upload">
                                <button class="" type="button" (click)="fileInput1.click()">{{item.buttonname}}</button>
                            </div>
                            <div *ngIf="lengthis[i]>0">
                                <span style="color: #22bdff; font-family: 'OpenSansRegular'; margin-top: 5px;"
                                    *ngIf="percentageis[i]==100 "><label> File Name: {{nameis[i]}}</label></span>
                                <label style="color: #00c314; font-family: 'OpenSansRegular'; margin-top: 5px; "
                                    *ngIf="percentageis[i]!=100 ">Upload Percentage:{{percentageis[i]}}%</label>
                            </div>
                        </div>



                        <span class="error"
                            *ngIf="dataForm.controls[item.name]!=null &&  item.validationrule!=null && !dataForm.controls[item.name].valid && dataForm.controls[item.name].touched && issubmit==1">{{item.label}}
                            {{item.validationerrormsg}}</span>

                    </div>
                </div>


            </div>
            <div class="form-group btn_submit">
                <div class="asbuttonwrapper">
                    <button type="submit"> Submit</button>
                    <button type="reset" (click)="modalRef.hide()"> Cancel</button>
                </div>
                
            </div>
            
            
        </form>
    </div>
</ng-template>

<!--Common confirmation modal-->
<ng-template #commonconfirmmodal>
    <div class="modal-body brandmanagement_modal successmodal_listing">
        <div class="logo_wrapper">
            <img src="assets/images/logo.png">
        </div>
        <div class="brand_messagebox">
            <h3>Are you sure that you want to delete this record ?</h3>
            <div class="btn_cnt">
                <button class="message_allow" (click)="confirmdelete(messagemodal)">Yes</button>
                <button class="message_deny" (click)="nodelete()">No</button>
            </div>
        </div>
    </div>
    <div>
    </div>
</ng-template>




<!--Common message modal-->
<ng-template #messagemodal>
    <div class="modal-body brandmanagement_modal">
        <div class="logo_wrapper">
            <img src="assets/images/logo.png">
        </div>
        <div class="message_success">{{message}}</div>

    </div>
</ng-template>

<!--Notes modal-->
<ng-template #notesmodal>
    <div class="modal-body brandmanagement_modal notes_list">
        <div class="logo_wrapper">
            <img src="assets/images/logo.png">
        </div>
        <div class="brand_messagebox">
            <app-notelist [lead_data]="selectedlead"></app-notelist>
        </div>
    </div>
    <div>
    </div>
</ng-template>