<app-adminheader></app-adminheader>
<div class="nextGen_admin_mainwrapper">
  <div class="page-wrapper s_getmybrand_adminlist">
    <div class="nexgen_adminlist">
      <div class="user_management_wrapper">
        <div class="user_management_inner">
          <h2>Manage Appointment List</h2>
          <div class="inner_search_wrapper as_inner_content_wrapper">
            <div class="inner_content_wrapper">
              <!-- <div class="search_content"> -->
              <!--<h3><span>Search by UserId: </span> <input type="text"  [(ngModel)]="filterval1" (keyup)="searchbyval()" ><button>search</button> </h3>-->
              <!-- <h3><span>Search by UserId: </span> <input type="text"  [(ngModel)]="userfilterval" ><button (click)="usersearch()">search</button> </h3>
              </div> -->
              <div class="search_content">
                <!--<h3> <span>Search by Name:  </span> <input type="text"  [(ngModel)]="filterval" #listFilter (keyup)="0" ><button>search</button> </h3>-->
                
                <h3> <span>Search by Name: </span>
                  <b>
                   <input type="text" [(ngModel)]="filterval"><button
                    (click)="usernamesearch()"><i class="fa fa-search" aria-hidden="true"></i></button> 
                  </b>
                  </h3>
              </div>
              <div class="search_content">
                <!--<h3> <span>Search by Name:  </span> <input type="text"  [(ngModel)]="filterval" #listFilter (keyup)="0" ><button>search</button> </h3>-->
                <h3> <span>Search by Lead Name: </span> <b><input type="text" [(ngModel)]="filterval2"><button
                    (click)="searchbyleadname()"><i class="fa fa-search" aria-hidden="true"></i></button> </b></h3>
              </div>
              <div class="search_content">
                <!--<h3> <span>Search by Name:  </span> <input type="text"  [(ngModel)]="filterval" #listFilter (keyup)="0" ><button>search</button> </h3>-->
                <h3> <span>Search by Lead Email: </span> <b> <input type="text" [(ngModel)]="filterval3"><button
                    (click)="searchbyleademail()"><i class="fa fa-search" aria-hidden="true"></i></button> </b></h3>
              </div>
              <div class="search_content">
                <!--<h3> <span>Search by Name:  </span> <input type="text"  [(ngModel)]="filterval" #listFilter (keyup)="0" ><button>search</button> </h3>-->
                <h3> <span>Search by Closer Name: </span> <b> <input type="text" [(ngModel)]="filterval4"><button
                    (click)="searchbyclosername()"><i class="fa fa-search" aria-hidden="true"></i></button> </b></h3>
              </div>
              <div class="search_content">
                <!--<h3> <span>Search by Name:  </span> <input type="text"  [(ngModel)]="filterval" #listFilter (keyup)="0" ><button>search</button> </h3>-->
                <h3> <span>Search by Pricepoint: </span> <b><input type="text" [(ngModel)]="filterval5"><button
                    (click)="searchbypricepoint()"><i class="fa fa-search" aria-hidden="true"></i></button> </b></h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <!--<input type="text" placeholder="Search..."  [(ngModel)]="filterval" #listFilter (keyup)="0" class="hide">-->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 admin_inner_wrapper">
        <div class="clearfix"></div>
        <div class="content_header_block">
          <div class="clearfix"></div>
          <div class="newblock1 ">
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="nexgen_admin_table">
          <div class="action_section">
            <div class="inner_actionblock">
              <h3> Appointment List</h3>
              <!-- <h3 (click)="seteventtime(1)"> Future Events</h3>
              <h3 (click)="seteventtime(0)"> Past Events </h3>-->
              <div class="abcde">
                <a (click)="getCanceledAppoint()"
                  [ngClass]="activeFlag === 2 ? 'addfrinderbtn s_getmybrand_savebutton slotadd active' : 'addfrinderbtn s_getmybrand_savebutton slotadd'">
                  Cancelled Events</a>
                <a (click)="seteventtime(1)"
                  [ngClass]="activeFlag === 1 ? 'addfrinderbtn s_getmybrand_savebutton active' : 'addfrinderbtn s_getmybrand_savebutton'">
                  Future Events</a>
                <a (click)="seteventtime(0)"
                  [ngClass]="activeFlag === 0 ? 'addfrinderbtn s_getmybrand_savebutton slotadd active' : 'addfrinderbtn s_getmybrand_savebutton slotadd'">
                  Past Events</a>

                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="table-responsive admin_table_wrapper generaltablecls">
            <div>
              <table class="table" *ngIf="googleevents!=null && googleevents.length>0">
                <thead>
                  <tr>
                    <!-- <th scope="col">User ID</th> -->
                    <!-- <th scope="col">Type</th> -->
                    <th scope="col">Organizer's Name</th>
                    <th scope="col">Date Set</th>
                    <th scope="col"> Time</th>
                    <th scope="col"> Participant's Name</th>
                    <th scope="col"> Participant's Phone No.</th>
                    <th scope="col"> Products</th>
                    <th scope="col"> Rep Name</th>
                    <th scope="col"> Lead Status</th>
                    <th scope="col"> Manage Notes</th>
                  </tr>
                </thead>
                <tbody>
                  <!--<tr *ngFor="let item of googleevents | orderBy:'startdate':'reverse' | usersearch:listFilter.value; let i=index">-->
                  <tr *ngFor="let item of googleevents | orderBy:'startdate':'reverse'; let i=index">
                    <!-- <td data-title="User ID" *ngIf="item.userdata">{{item.userdata.unique_id}}</td> -->
                    <!-- <td data-title="Type" style="text-transform: capitalize;" *ngIf="item.userdata">{{item.type}}</td> -->
                    <td data-title="Name" *ngIf="item.userdata">{{item.userdata.firstname}} {{item.userdata.lastname}}
                      ({{item.userdata.email}})</td>
                    <td data-title="Date Set" *ngIf="item.userdata">
                      {{_commonservice.showdateforreplegal(item.startdate)}}</td>
                    <td data-title="Time" *ngIf="item.userdata">{{_commonservice.showtime(item.start_time)}} (for
                      {{item.timespan}} minutes)</td>
                    <td data-title="Participate's Name">{{item.leaddata.firstname}}
                      {{item.leaddata.lastname}}</td>
                    <td data-title="Participate's Phone No.">{{item.leaddata.phoneno}}</td>
                    <td data-title="Products"><span *ngIf="item.productname!=null">{{item.productname}}</span><span
                        *ngIf="item.productname==null">N/A</span></td>
                    <td data-title="Rep Name"><span *ngIf="item.leaddata">{{item.leaddata.fullname}}</span><span
                        *ngIf="item.leaddata==null">N/A</span></td>
                    <td data-title="Lead Status">
                      <span *ngIf="usertype=='rep'">
                        <span class="status" *ngIf="item.status">{{item.status}}</span>
                        <span class="status" *ngIf="item.status==null">Pending</span><br><br>

                      </span>
                      <span *ngIf="usertype!='rep'">
                        <span (click)="toggleStatusInArray(item)" class="statusspan show" id="span{{item._id}}"
                          *ngIf="item.status">{{item.status}}</span>
                        <span (click)="toggleStatusInArray(item)" class="statusspan show" id="span{{item._id}}"
                          *ngIf="item.status==null">Pending</span>
                        <select [(ngModel)]="item.status" (change)="toggleFromSelect($event.target.value,item)"
                          id="select{{item._id}}" class="selectintable hide" #select>
                          <option disabled="disabled" value="">Choose An Option</option>
                          <option *ngFor="let option of optionlist" value="{{option.value}}">{{option.name}}</option>
                        </select><br><br></span>
                      <span *ngIf=" item.status == 'Closed' && (item.pricepoint!=null && item.pricepoint!='')">Price
                        Point:{{item.pricepoint}}</span><br><br>
                      <span class="delete_user" *ngIf="usertype == 'admin' && item.status == 'Closed'"
                        (click)="openPricepointModal(item,pricepointmodal)">put closing price point</span>
                    </td>

                    <td data-title="Manage Notes" *ngIf="item.userdata"><span class="delete_user"
                        (click)="notesdata(item,notesmodal)">Notes({{item.notescount}})</span>
                      <span class="edit_user"
                        (click)="cancelAppointment(item.googleevent,item.refresh_token,item._id)">Cancel</span>
                      <span class="edit_user" (click)="notesdata(item,notesmodal)">Reschedule</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h1 *ngIf="googleevents==null">There is no event!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!--Notes modal-->
<ng-template #notesmodal>
  <div class="modal-body brandmanagement_modal notes_list">
    <div class="logo_wrapper">
      <img src="assets/images/logo.png">
    </div>
    <div class="brand_messagebox">
      <app-notelist [lead_data]="selectedlead"></app-notelist>
    </div>
  </div>
  <div>
  </div>
</ng-template>
<!--Put Price Point modal-->
<ng-template #pricepointmodal>
  <div class="modal-body brandmanagement_modal discoverycall">
    <div class="logo_wrapper">
      <img src="assets/images/logo.png">
    </div>
    <div class="brand_messagebox">
      <div class="form-group row">
        <label class="col-sm-12 col-form-label">Put A Closing Price</label>
        <div class="col-sm-12">
          <input type="text" [(ngModel)]="pricepoint">
          <span *ngIf="pricepoint=='' && issubmitprice==1" class="error">*Closing Price Is Required</span>
          <div class="form-group row form-groupbtndiv">
            <button (click)="addPrice()">Save price</button>
            <button (click)="modalRef2.hide()">cancel</button>
            <div class="clearfix"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</ng-template>