<app-adminheader></app-adminheader>
<div class="nextGen_admin_mainwrapper">
  <div class="page-wrapper s_getmybrand_adminlist">
    <div class="nexgen_adminlist">
      <div class="user_management_wrapper">
        <div class="user_management_inner">
          <h2>Manage Appointment List</h2>
          <div class="inner_search_wrapper">
            <div class="inner_content_wrapper">
              <div class="search_content">
                <!--<h3><span>Search by UserId: </span> <input type="text"  [(ngModel)]="filterval1" (keyup)="searchbyval()" ><button>search</button> </h3>-->
                <h3><span>Search by UserId: </span> <input type="text"  [(ngModel)]="userfilterval" ><button (click)="usersearch()">search</button> </h3>
              </div>
              <div class="search_content">
                <!--<h3> <span>Search by Name:  </span> <input type="text"  [(ngModel)]="filterval" #listFilter (keyup)="0" ><button>search</button> </h3>-->
                <h3> <span>Search by Name:  </span> <input type="text"  [(ngModel)]="filterval"  ><button (click)="usernamesearch()">search</button> </h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <!--<input type="text" placeholder="Search..."  [(ngModel)]="filterval" #listFilter (keyup)="0" class="hide">-->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 admin_inner_wrapper">
        <div class="clearfix"></div>
        <div class="content_header_block">
          <div class="clearfix"></div>
          <div class="newblock1 ">
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="nexgen_admin_table">
          <div class="action_section">
            <div class="inner_actionblock">
              <h3> Appointment List</h3>
             <!-- <h3 (click)="seteventtime(1)"> Future Events</h3>
              <h3 (click)="seteventtime(0)"> Past Events </h3>-->
              <div class="abcde">
              <a (click)="seteventtime(1)" class="addfrinderbtn s_getmybrand_savebutton"> Future Events</a>
              <a (click)="seteventtime(0)" class="addfrinderbtn s_getmybrand_savebutton slotadd"> Past Events</a>

              <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="table-responsive admin_table_wrapper generaltablecls">
            <div>
              <table class="table">
                <thead>
                <tr>
                  <!-- <th scope="col">User ID</th> -->
                  <th scope="col">Type</th>
                  <th scope="col">Name</th>
                  <th scope="col">Date Set</th>
                  <th scope="col"> Time</th>
                  <th scope="col"> Manage Notes</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr *ngFor="let item of googleevents | orderBy:'startdate':'reverse' | usersearch:listFilter.value; let i=index">-->
                <tr *ngFor="let item of googleevents | orderBy:'startdate':'reverse'; let i=index">
                  <!-- <td data-title="User ID" *ngIf="item.userdata">{{item.userdata.unique_id}}</td> -->
                  <td data-title="Type" style="text-transform: capitalize;" *ngIf="item.userdata">{{item.type}}</td>
                  <td data-title="Name" *ngIf="item.userdata">{{item.userdata.firstname}} {{item.userdata.lastname}} ({{item.userdata.email}})</td>
                  <td data-title="Date Set" *ngIf="item.userdata">{{_commonservice.showdateforreplegal(item.startdate)}}</td>
                  <td data-title="Time" *ngIf="item.userdata">{{_commonservice.showtime(item.start_time)}} (for {{item.timespan}} minutes)</td>
                  <td data-title="Time" *ngIf="item.userdata"><span class="delete_user"
                    (click)="notesdata(item,notesmodal)">Notes({{item.notescount}})</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!--Notes modal-->
<ng-template #notesmodal>
    <div class="modal-body brandmanagement_modal notes_list">
        <div class="logo_wrapper">
            <img src="assets/images/logo.png">
        </div>
        <div class="brand_messagebox">
            <app-notelist [lead_data]="selectedlead"></app-notelist>
        </div>
    </div>
    <div>
    </div>
</ng-template>