<app-adminheader></app-adminheader>

<div class="listevent_wrapper">
  <div class="listevent_inner_wrapper">
    <div class="inner_head_wrapper">
      <h2>event list</h2>
    </div>

    <div class="event_content_wrapper">
      <div class="evnt_left_content">
        <form>
          <div class="form-group">
            <input class="form-control select_inpu2">

            <button type="submit" class="btn_search"> search </button>
            <button type="submit" class="btn_search"> showall </button>
          </div>
        </form>
      </div>
      <div class="evnt_right_content">
        <form>
          <div class="form-group">
            <h3 class="timezone_class">my timezone</h3>
            <select class="form-control select_inpu2">
              <option *ngFor="let item of timezone" value="{{item.value}}">{{item.show}} </option>
            </select>

            <button type="submit" class="btn_search"> search </button>
            <button type="submit" class="btn_search"> update </button>
          </div>
        </form>
      </div>
    </div>

    <!--Inner content-->

    <div class="main_inner_content">
      <div class="l" *ngFor="let item of dayarr;let i=index;">
        <app-slots [itemdata]="item"></app-slots>

      </div>


    </div>


    <div class="list_view_more">
      <button class="view_more_button">view more</button>
    </div>
  </div>
</div>



<app-footer></app-footer>