<app-adminheader></app-adminheader>





<div class="user_account_setting_wrapper">
  <h1 class="header">user account setting</h1>


  <div class="account_inner_wrapper">

    <div class="form_wrapper">
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date joined</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"> user id</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">first name:</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">last name:</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">username</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">password</label>
        <div class="col-sm-10">
          <input type="password"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date joined</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">email address</label>
        <div class="col-sm-10">
          <input type="email"  class="form-control" >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">phone number</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">address</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">address 2</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date joined</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">city</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">state</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label">zip code</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label">account type</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"> owner</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"> locked status</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" >
        </div>
      </div>

      <div class="form-group row">
        <div class="button_wrapper form-group">
           <button> save</button>
           <button> cancel</button>
          <div class="clearfix"></div>
        </div>
      </div>

    </form>
    </div>
  </div>
</div>

<app-footer></app-footer>