<app-adminheader></app-adminheader>



<div class="details_header">
  <h2>manage contact</h2>
</div>

<div class="user_details_wrapper">
  <div class="left_wrapper">
    <form novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(successmodal)">
      <div class="left_wrapper_bg">
        <h3>manage contact</h3>
        <div class="repdeatails_form_wrapper">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>User ID</label>
              <input type="hidden" class="form-control" [formControl]="dataForm.controls['id']">
              <input type="text" class="form-control" placeholder="User ID" readonly [formControl]="dataForm.controls['userid']">
            </div>
            <div class="form-group col-md-6">
              <label >User Name</label>
              <input type="text" class="form-control" readonly placeholder="User Name" [formControl]="dataForm.controls['username']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['username'].valid && dataForm.controls['username'].touched && issubmit==1">User Name is required.</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name" readonly [formControl]="dataForm.controls['firstname']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['firstname'].valid && dataForm.controls['firstname'].touched && issubmit==1">First Name is required.</span>
            </div>
            <div class="form-group col-md-6">
              <label >Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name" readonly [formControl]="dataForm.controls['lastname']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['lastname'].valid && dataForm.controls['lastname'].touched && issubmit==1">Last Name is required.</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder=" Email Address" readonly [formControl]="dataForm.controls['email']" readonly (keyup)="issubmit=0">
            </div>
            <div class="form-group col-md-6">
              <label > Phone Number</label>
              <input type="text" class="form-control" placeholder="User Name" readonly [formControl]="dataForm.controls['phoneno']" (keyup)="issubmit=0">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Address 1</label>
              <textarea  cols="30" type="text" class="form-control" readonly placeholder=" Address 1" [formControl]="dataForm.controls['address1']" (keyup)="issubmit=0"></textarea>
              <span class="errortext" *ngIf="!dataForm.controls['address1'].valid && dataForm.controls['address1'].touched && issubmit==1">Address is required.</span>
            </div>
            <div class="form-group col-md-6">
              <label >Address 2</label>
              <textarea cols="30"  type="text" class="form-control" placeholder="Address 2" readonly [formControl]="dataForm.controls['address2']" (keyup)="issubmit=0"></textarea>
            </div>
          </div>




          <!--sepeated part-->

          <div class="s_part_wrapper">
            <div class="row">
              <div class="col-sm-8">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" readonly [formControl]="dataForm.controls['city']" (keyup)="issubmit=0">
                    <span class="errortext" *ngIf="!dataForm.controls['city'].valid && dataForm.controls['city'].touched && issubmit==1">City is required.</span>
                  </div>
                  <div class="form-group col-md-6">
                    <label>State</label>
                    <select class="form-control" readonly [formControl]="dataForm.controls['state']" (keyup)="issubmit=0">
                      <option value="">Choose State</option>
                      <option *ngFor="let item of states" value="{{item.abbreviation}}">{{item.name}}</option>
                    </select>
                    <span class="errortext" *ngIf="!dataForm.controls['state'].valid && dataForm.controls['state'].touched && issubmit==1">State is required.</span>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Zip</label>
                    <input type="text" class="form-control" readonly [formControl]="dataForm.controls['zip']" (keyup)="issubmit=0">
                    <span class="errortext" *ngIf="!dataForm.controls['zip'].valid && dataForm.controls['zip'].touched && issubmit==1">Zip is required.</span>
                  </div>

                  <div class="form-group col-md-6" *ngIf="repdetails">
                    <label>Status</label>
                    <span class="form-control"  readonly *ngIf="repdetails.lock==1">Pending Phone Verification</span>
                    <span class="form-control" readonly *ngIf="repdetails.signup_step2==1 && repdetails.lock==0 && repdetails.contractstep==null && repdetails.reptraininglessonstep==null">Pending Contract</span>
                    <span class="form-control" readonly  *ngIf="repdetails.signup_step2==1 && repdetails.lock==0 && repdetails.contractstep==1 && repdetails.reptraininglessonstep==null">Pending New Hire Training</span>
                    <span class="form-control" readonly  *ngIf="repdetails.signup_step2==1 && repdetails.lock==0 && repdetails.contractstep==1 && repdetails.reptraininglessonstep==1">Dashboard Access</span>
                  </div>
                </div>

              </div>
              <div class="col-sm-4">
                <div class="form-group col-md-12" *ngIf="repdetails">
                  <label>Legal Documents</label><br>


                  <span *ngIf="repdetails.legaldocdetails?.length==0">
                   <span  readonly  class="form-control notsub">Insurance Docket- Not Submitted </span><br/>
                   <span readonly class="form-control" >W9- Not Submitted </span>
                 </span>


                  <span *ngIf="repdetails.legaldocdetails?.length==1">
                   <span style="margin-bottom: 10px;" *ngFor="let item2 of repdetails.legaldocdetails" >
                     <span  *ngIf=" item2.doctype=='ID'">
                       <span class="form-control" readonly>Insurance Docket- Submitted </span><br/>
                       <span class="form-control" readonly>W9- Not Submitted </span>
                     </span>
                     <span *ngIf=" item2.doctype=='W9'">
                       <span class="form-control" readonly>Insurance Docket- Not Submitted </span><br/>
                       <span class="form-control" readonly>W9- Submitted </span>
                     </span>
                   </span>
                 </span>


                  <span *ngIf="repdetails.legaldocdetails?.length==2">
                   <span class="form-control" style="margin-bottom: 10px;" readonly *ngFor="let item2 of repdetails.legaldocdetails">
                     <span *ngIf=" item2.doctype=='ID'">
                       <span>Insurance Docket- Submitted </span><br>
                     </span>
                     <span *ngIf=" item2.doctype=='W9'">
                       <span>W9- Submitted </span>
                     </span>
                   </span>
                 </span>
                </div>
                <!--End rep details-->




              </div>
              <div class="col-md-12 form-groupnew12wrapper">
                <div class="row">
              <div class="col-md-4 form-groupnew4">
                <label>Regional Manager</label>

                <div class="form-group row" *ngIf="cookeiservice.get('usertype')!='admin' && repdetails!=null">
                  <div class="col-sm-12">
                    <span class="form-control" readonly>{{repdetails.recruiter}}</span>
                  </div>
                </div>

                <div class="form-group row" *ngIf="cookeiservice.get('usertype')=='admin'">
                  <div class="col-sm-12">
                    <select [formControl]="dataForm.controls['regionalid']" class="form-control" (change)="updateregid(successmodal)">
                      <option *ngFor="let item of ownerlists" value="{{item._id}}">{{item.firstname}} {{item.lastname}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Signup Link:</label>
                    <span *ngIf="repdetails!=null">{{_commonservice.siteurl}}signup/{{repdetails._id}}</span>
                    <input type="button" value="Copy Url" class="copyurlbtn" ngxClipboard [cbContent]= callforcopy(repdetails._id) (click)="showcopied(copiedmodal)">
                  </div>
                </div>


                <!--  <input type="text" class="form-control" readonly [formControl]="dataForm.controls['recruiter']" (keyup)="issubmit=0">
                  <span class="errortext" *ngIf="!dataForm.controls['recruiter'].valid && dataForm.controls['recruiter'].touched && issubmit==1">recruiter is required.</span>-->


              </div>
                <div class=" col-md-4 form-groupnew12" *ngIf="repdetails">
                  <span class="btn_position" *ngIf="repdetails.lock!=1"> Unlocked &nbsp;&nbsp;<span  (click)="togglelockedstatus()"  class="edit_user lock_unlock"> Lock</span></span>
                  <span class="btn_position" *ngIf="repdetails.lock==1"> Locked <span  (click)="togglelockedstatus()" class="edit_user lock_unlock">Unlock</span></span>
                  <span class="hide">Toggle</span>
                </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <h3>questionnaire</h3>
        <div style="padding: 15px;">
          <div class="row">
            <div class="col">
              <label>How many years have you been in the medical health industry?</label>
            </div>
            <div class="col">
              <input type="text" class="form-control" readonly placeholder="No of years" [formControl]="dataForm.controls['noofyears']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['noofyears'].valid && dataForm.controls['noofyears'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>How many practices/clinics do you currently do business with?</label>
            </div>
            <div class="col">
              <input type="text" class="form-control" readonly placeholder="How many clinics" [formControl]="dataForm.controls['noofclinics']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['noofclinics'].valid && dataForm.controls['noofclinics'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="doctor_section">
            <p>What type of doctors do You work with?</p>



            <label>
              <label><input type="checkbox"  value="value" disabled [formControl]="dataForm.controls['primarycare']" (keyup)="issubmit=0">Primary Care</label>
            </label>
            <label>
              <label><input type="checkbox"  value="value" disabled [formControl]="dataForm.controls['pediatrics']" (keyup)="issubmit=0">Pediatrics</label>
            </label>
            <label>
              <label><input type="checkbox"  value="value" disabled [formControl]="dataForm.controls['podiatrist']" (keyup)="issubmit=0">Podiatrist</label>
            </label>
            <label>
              <label><input type="checkbox"  value="value" disabled [formControl]="dataForm.controls['hospitals_that_outsource']" (keyup)="issubmit=0">Hospitals That Outsource</label>
            </label>

            <br>
            <label>
              <label><input type="checkbox"  value="value" disabled [formControl]="dataForm.controls['nursing']" (keyup)="issubmit=0">Nursing Homes/Home Health Care</label>
            </label>

            <label>
              <label><input type="checkbox"  value="value" disabled [formControl]="dataForm.controls['other']" (keyup)="issubmit=0">Other:</label>
            </label>

            <!--Hidden Senction for OTHERS Type-->
            <div class="doctor_other_list">
              <label style="width: 100%;">
                <input type="text" class=" form-control other_input_form" readonly [formControl]="dataForm.controls['othertext']" (keyup)="issubmit=0">
              </label>
              <span class="errortext" *ngIf="!dataForm.controls['othertext'].valid && dataForm.controls['othertext'].touched && issubmit==1">This field is required.</span>
            </div>
            <!--End Hidden Senction for OTHERS Type-->
          </div>

          <div class="row">
            <div class="col">
              <label>How many practices/clinics do you personally/actively call on into weekly? </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Actively Call"  readonly [formControl]="dataForm.controls['noofpersonallycall']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['noofpersonallycall'].valid && dataForm.controls['noofpersonallycall'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label> How often do you call each office?  </label>
            </div>
            <div class="col">
              <label class="labellantext"> <input type="checkbox" [formControl]="dataForm.controls['calleachoffice']" (keyup)="issubmit=0"> Daily  </label>
              <label class="labellantext"> <input type="checkbox" [formControl]="dataForm.controls['calleachoffice1']" (keyup)="issubmit=0"> Weekly  </label>
              <label class="labellantext"> <input type="checkbox" [formControl]="dataForm.controls['calleachoffice2']" (keyup)="issubmit=0"> Monthly  </label>
              <!--<input type="text" class="form-control" placeholder="Last name" readonly [formControl]="dataForm.controls['calleachoffice']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['calleachoffice'].valid && dataForm.controls['calleachoffice'].touched && issubmit==1">This field is required.</span>-->
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label> How many practices do you have direct access to when you walk in their door? </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" readonly [formControl]="dataForm.controls['noofdirectaccess']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['noofdirectaccess'].valid && dataForm.controls['noofdirectaccess'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label> What are you currently doing in the medical field?  </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" readonly [formControl]="dataForm.controls['workinmedicalfield']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['workinmedicalfield'].valid && dataForm.controls['workinmedicalfield'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label> Have you represented a company that does Molecular PCR testing in the past? </label>
            </div>
            <div class="col">
              <label>
                <input type="radio" value="1" disabled [formControl]="dataForm.controls['pcrtesting']" (keyup)="issubmit=0"> Yes
              </label>
              <label>
                <input type="radio" value="0" disabled [formControl]="dataForm.controls['pcrtesting']" (keyup)="issubmit=0"> No
              </label>
              <span class="errortext" *ngIf="!dataForm.controls['pcrtesting'].valid && dataForm.controls['pcrtesting'].touched && issubmit==1">This field is required.</span>
            </div>

          </div>
          <div class="row" *ngIf="dataForm.value['pcrtesting']==1">
            <div class="col">
              <label> Company Name  </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Company name" readonly [formControl]="dataForm.controls['companyname']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['companyname'].valid && dataForm.controls['companyname'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>
          <!-- <div class="row">
             <div class="col" *ngIf="dataForm.value['pcrtesting']==1"><label>Company Name:  </label>
               <input type="text"  class="alaninput2" [formControl]="dataForm.controls['companyname']">
               <span class="errortext" *ngIf="!dataForm.controls['companyname'].valid && dataForm.controls['companyname'].touched">This field is required.</span>
               <div class="clearfix"></div></div>
           </div>
 -->

        </div>
      </div>
      <!--<input type="submit" value="Submit" class="alandingsubbtn2">-->
    </form>


    <!--NOTE SECTION -->
    <div class="note_wrap">
      <h2>notes</h2>

      <div class="inner_note_wrapper">
        <button class="add_button" (click)="addnote=1-addnote;addthisnote=null"><i class="fa fa-plus" aria-hidden="true"></i> add a simple note</button>

        <div class="note_text_wrap" *ngIf="addnote==1">
          <textarea class="note_area" [(ngModel)]="addthisnote"></textarea>

          <button type="button" (click)="addnotetodb()">
            <span *ngIf="editnoteid==null">Save</span>
            <span *ngIf="editnoteid!=null">Update</span>
          </button>
          <button (click)="addnote=0">cancel</button>
        </div>

        <hr>

        <div class="noteList" *ngFor="let item of notelist">
          <b> Added By:</b> {{item.addedbyfname}} {{item.addedbylname}}
          Note: {{item.note}} {{_commonservice.showdatetimeforuser(item.created_at)}}
          <div class="btn_position">
            <span class="bth_action" (click)="editnote(item._id)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <span class="bth_action" (click)="deletenote(item._id)"><i class="fa fa-trash" aria-hidden="true"></i></span>
          </div>

        </div>





      </div>
    </div>

    <!--NOTE SECTION END-->

  </div>
  <!--End left wrapper-->
  <div class="right_wrapper">
    <h3 [routerLink]="['/rep']">list view</h3>
  </div>
</div>
<div class="clearfix"></div>
<br><br><br>
<app-footer></app-footer>

<ng-template class="modaldefault" #successmodal >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="ofmodal()">&times;</button>
        <div class="logoshatterblock">
          <img src="../assets/images/logo-header.png" class="newhomelogo">
        </div>
        <p>Successfully Updated.</p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template class="modaldefault" #copiedmodal >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="ofmodal()">&times;</button>
        <div class="logoshatterblock">
          <img src="../assets/images/logo-header.png" class="newhomelogo">
        </div>
        <p>URL Copied To Clipboard.</p>
      </div>
    </div>
  </div>
</ng-template>


<!--
<app-adminheader></app-adminheader>



<div class="details_header">
  <h2>manage contact</h2>
</div>

<div class="user_details_wrapper">
  <div class="left_wrapper">
    <form novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(successmodal)">
      <div class="left_wrapper_bg">
        <h3>manage contact</h3>
        <div class="repdeatails_form_wrapper">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>User ID</label>
              <input type="hidden" class="form-control" [formControl]="dataForm.controls['id']">
              <input type="text" class="form-control" placeholder="User ID" readonly [formControl]="dataForm.controls['userid']">
            </div>
            <div class="form-group col-md-6">
              <label >User Name</label>
              <input type="text" class="form-control" readonly placeholder="User Name" [formControl]="dataForm.controls['username']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['username'].valid && dataForm.controls['username'].touched && issubmit==1">User Name is required.</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name" readonly [formControl]="dataForm.controls['firstname']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['firstname'].valid && dataForm.controls['firstname'].touched && issubmit==1">First Name is required.</span>
            </div>
            <div class="form-group col-md-6">
              <label >Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name" readonly [formControl]="dataForm.controls['lastname']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['lastname'].valid && dataForm.controls['lastname'].touched && issubmit==1">Last Name is required.</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder=" Email Address" readonly [formControl]="dataForm.controls['email']" readonly (keyup)="issubmit=0">
            </div>
            <div class="form-group col-md-6">
              <label > Phone Number</label>
              <input type="text" class="form-control" placeholder="User Name" readonly [formControl]="dataForm.controls['phoneno']" (keyup)="issubmit=0">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Address 1</label>
              <textarea  cols="30" type="text" class="form-control" readonly placeholder=" Address 1" [formControl]="dataForm.controls['address1']" (keyup)="issubmit=0"></textarea>
              <span class="errortext" *ngIf="!dataForm.controls['address1'].valid && dataForm.controls['address1'].touched && issubmit==1">Address is required.</span>
            </div>
            <div class="form-group col-md-6">
              <label >Address 2</label>
              <textarea cols="30"  type="text" class="form-control" placeholder="Address 2" readonly [formControl]="dataForm.controls['address2']" (keyup)="issubmit=0"></textarea>
            </div>
          </div>


          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" readonly [formControl]="dataForm.controls['city']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['city'].valid && dataForm.controls['city'].touched && issubmit==1">City is required.</span>
            </div>
            <div class="form-group col-md-4">
              <label>State</label>
              <select class="form-control" readonly [formControl]="dataForm.controls['state']" (keyup)="issubmit=0">
                <option value="">Choose State</option>
                <option *ngFor="let item of states" value="{{item.abbreviation}}">{{item.name}}</option>
              </select>
              <span class="errortext" *ngIf="!dataForm.controls['state'].valid && dataForm.controls['state'].touched && issubmit==1">State is required.</span>
            </div>
            <div class="form-group col-md-4">
              <label>Zip</label>
              <input type="text" class="form-control" readonly [formControl]="dataForm.controls['zip']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['zip'].valid && dataForm.controls['zip'].touched && issubmit==1">Zip is required.</span>
            </div>
          </div>
        </div>

        <div class="form-group col-md-4" *ngIf="repdetails">
          <label>Status</label>
          <span *ngIf="repdetails.lock==1">Pending Phone Verification</span>
          <span *ngIf="repdetails.signup_step2==1 && repdetails.lock==0 && repdetails.contractstep==null && repdetails.reptraininglessonstep==null">Pending Contract</span>
          <span *ngIf="repdetails.signup_step2==1 && repdetails.lock==0 && repdetails.contractstep==1 && repdetails.reptraininglessonstep==null">Pending New Hire Training</span>
          <span *ngIf="repdetails.signup_step2==1 && repdetails.lock==0 && repdetails.contractstep==1 && repdetails.reptraininglessonstep==1">Dashboard Access</span>
        </div>

        <div class="form-group col-md-4" *ngIf="repdetails">
            <span *ngIf="repdetails.lock!=1"> Unlocked &nbsp;&nbsp;<span  (click)="togglelockedstatus()"  class="edit_user lock_unlock"> Lock</span></span>
            <span class="" *ngIf="repdetails.lock==1"> Locked <span  (click)="togglelockedstatus()" class="edit_user lock_unlock">Unlock</span></span>
            <span class="hide">Toggle</span>
        </div>

        <div class="form-group col-md-4" *ngIf="repdetails?.legaldocdetails?.length>0">
          <label>Legal Documents</label>
          <span *ngIf="repdetails.legaldocdetails?.length==0">
            <span>Insurance Docket- Not Submitted </span><br/>
            <span>W9- Not Submitted </span>
          </span>
            <span *ngIf="repdetails.legaldocdetails?.length==1">
            <span *ngFor="let item2 of repdetails.legaldocdetails" >
              <span *ngIf=" item2.doctype=='ID'">
                <span>Insurance Docket- Submitted </span><br/>
                <span>W9- Not Submitted </span>
              </span>
              <span *ngIf=" item2.doctype=='W9'">
                <span>Insurance Docket- Not Submitted </span><br/>
                <span>W9- Submitted </span>
              </span>
            </span>
          </span>
            <span *ngIf="repdetails.legaldocdetails?.length==2">
            <span *ngFor="let item2 of repdetails.legaldocdetails">
              <span *ngIf=" item2.doctype=='ID'">
                <span>Insurance Docket- Submitted </span>
              </span>
              <span *ngIf=" item2.doctype=='W9'">
                <span>W9- Submitted </span>
              </span>
            </span>
          </span>
        </div>

        <h3>questionnaire</h3>
        <div style="padding: 15px;">
          <div class="row">
            <div class="col">
              <label>How many years have you been in the medical health industry?</label>
            </div>
            <div class="col">
              <input type="text" class="form-control" readonly placeholder="No of years" [formControl]="dataForm.controls['noofyears']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['noofyears'].valid && dataForm.controls['noofyears'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>How many practices/clinics do you currently do business with?</label>
            </div>
            <div class="col">
              <input type="text" class="form-control" readonly placeholder="How many clinics" [formControl]="dataForm.controls['noofclinics']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['noofclinics'].valid && dataForm.controls['noofclinics'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="doctor_section">
            <p>What type of doctors do You work with?</p>



            <label>
              <label><input type="checkbox"  value="value" readonly [formControl]="dataForm.controls['primarycare']" (keyup)="issubmit=0">Primary Care</label>
            </label>
            <label>
              <label><input type="checkbox"  value="value" readonly [formControl]="dataForm.controls['pediatrics']" (keyup)="issubmit=0">Pediatrics</label>
            </label>
            <label>
              <label><input type="checkbox"  value="value" readonly [formControl]="dataForm.controls['podiatrist']" (keyup)="issubmit=0">Podiatrist</label>
            </label>
            <label>
              <label><input type="checkbox"  value="value" readonly [formControl]="dataForm.controls['hospitals_that_outsource']" (keyup)="issubmit=0">Hospitals That Outsource</label>
            </label>

            <br>
            <label>
              <label><input type="checkbox"  value="value" readonly [formControl]="dataForm.controls['nursing']" (keyup)="issubmit=0">Nursing Homes/Home Health Care</label>
            </label>

            <label>
              <label><input type="checkbox"  value="value" readonly [formControl]="dataForm.controls['other']" (keyup)="issubmit=0">Other:</label>
            </label>

            &lt;!&ndash;Hidden Senction for OTHERS Type&ndash;&gt;
            <div class="doctor_other_list">
              <label style="width: 100%;">
                <input type="text" class=" form-control other_input_form" readonly [formControl]="dataForm.controls['othertext']" (keyup)="issubmit=0">
              </label>
              <span class="errortext" *ngIf="!dataForm.controls['othertext'].valid && dataForm.controls['othertext'].touched && issubmit==1">This field is required.</span>
            </div>
            &lt;!&ndash;End Hidden Senction for OTHERS Type&ndash;&gt;
          </div>

          <div class="row">
            <div class="col">
              <label>How many practices/clinics do you personally/actively call on into weekly? </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Actively Call"  readonly [formControl]="dataForm.controls['noofpersonallycall']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['noofpersonallycall'].valid && dataForm.controls['noofpersonallycall'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label> How often do you call each office?  </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" readonly [formControl]="dataForm.controls['calleachoffice']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['calleachoffice'].valid && dataForm.controls['calleachoffice'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label> How many practices do you have direct access to when you walk in their door? </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" readonly [formControl]="dataForm.controls['noofdirectaccess']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['noofdirectaccess'].valid && dataForm.controls['noofdirectaccess'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label> What are you currently doing in the medical field?  </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" readonly [formControl]="dataForm.controls['workinmedicalfield']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['workinmedicalfield'].valid && dataForm.controls['workinmedicalfield'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label> Have you represented a company that does Molecular PCR testing in the past? </label>
            </div>
            <div class="col">
              <label>
                <input type="radio" value="1" readonly [formControl]="dataForm.controls['pcrtesting']" (keyup)="issubmit=0"> Yes
              </label>
              <label>
                <input type="radio" value="0" readonly [formControl]="dataForm.controls['pcrtesting']" (keyup)="issubmit=0"> No
              </label>
              <span class="errortext" *ngIf="!dataForm.controls['pcrtesting'].valid && dataForm.controls['pcrtesting'].touched && issubmit==1">This field is required.</span>
            </div>

          </div>
          <div class="row" *ngIf="dataForm.value['pcrtesting']==1">
            <div class="col">
              <label> Company Name  </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Company name" readonly [formControl]="dataForm.controls['companyname']" (keyup)="issubmit=0">
              <span class="errortext" *ngIf="!dataForm.controls['companyname'].valid && dataForm.controls['companyname'].touched && issubmit==1">This field is required.</span>
            </div>
          </div>
         &lt;!&ndash; <div class="row">
            <div class="col" *ngIf="dataForm.value['pcrtesting']==1"><label>Company Name:  </label>
              <input type="text"  class="alaninput2" [formControl]="dataForm.controls['companyname']">
              <span class="errortext" *ngIf="!dataForm.controls['companyname'].valid && dataForm.controls['companyname'].touched">This field is required.</span>
              <div class="clearfix"></div></div>
          </div>
&ndash;&gt;

        </div>
      </div>
      <input type="submit" value="Submit" class="alandingsubbtn2" *ngIf="cookeiservice.get('usertype')=='admin'">
    </form>


    &lt;!&ndash;NOTE SECTION &ndash;&gt;
    <div class="note_wrap">
      <h2>notes</h2>

      <div class="inner_note_wrapper">
        <button class="add_button" (click)="addnote=1-addnote;addthisnote=null"><i class="fa fa-plus" aria-hidden="true"></i> add a simple note</button>

        <div class="note_text_wrap" *ngIf="addnote==1">
          <textarea class="note_area" [(ngModel)]="addthisnote"></textarea>

          <button type="button" (click)="addnotetodb()">
            <span *ngIf="editnoteid==null">Save</span>
            <span *ngIf="editnoteid!=null">Update</span>
          </button>
          <button (click)="addnote=0">cancel</button>
        </div>
      </div>
    </div>
    <div *ngFor="let item of notelist">
      Added By: {{item.addedbyfname}} {{item.addedbylname}}
      Note: {{item.note}}
      <span (click)="editnote(item._id)">Edit</span>
      <span (click)="deletenote(item._id)">Delete</span>
    </div>
    &lt;!&ndash;NOTE SECTION END&ndash;&gt;

  </div>
  &lt;!&ndash;End left wrapper&ndash;&gt;
  <div class="right_wrapper">
    <h3 [routerLink]="['/rep']">list view</h3>
  </div>
</div>
<div class="clearfix"></div>
<br><br><br>
<app-footer></app-footer>

<ng-template class="modaldefault" #successmodal >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="ofmodal()">&times;</button>
        <div class="logoshatterblock">
          <img src="../assets/images/logo-header.png" class="newhomelogo">
        </div>
        <p>Successfully Updated.</p>
      </div>
    </div>
  </div>
</ng-template>-->
