<app-adminheader></app-adminheader>


<div class="details_header">
  <h2>manage contact</h2>
</div>


<div class="user_details_wrapper">
  <div class="left_wrapper">
    <h3>interview questions</h3>
    <div class="repdeatails_form_wrapper">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>User ID</label>
            <input type="text" class="form-control" placeholder="User ID" >
          </div>
          <div class="form-group col-md-6">
            <label >User Name</label>
            <input type="text" class="form-control" placeholder="User Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name" >
          </div>
          <div class="form-group col-md-6">
            <label >Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email Address</label>
            <input type="email" class="form-control" placeholder=" Email Address" >
          </div>
          <div class="form-group col-md-6">
            <label > Phone Number</label>
            <input type="text" class="form-control" placeholder="User Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Address 1</label>
            <textarea  cols="30" type="text" class="form-control" placeholder=" Address 1" ></textarea>
          </div>
          <div class="form-group col-md-6">
            <label >Address 2</label>
            <textarea cols="30"  type="text" class="form-control" placeholder="Address 2"></textarea>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>


      </form>


    </div>

    <h3>manage contact</h3>
    <div class="row">
      <div class="col">
        <label>How many years have you been in the medical health industry?</label>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>

    <div class="doctor_section">
      <p>What type of doctors do You work with?</p>

      <label>
        <label><input type="checkbox"  value="value">Primary Care</label>
      </label>
      <label>
        <label><input type="checkbox"  value="value">Primary Care</label>
      </label>
      <label>
        <label><input type="checkbox"  value="value">Primary Care</label>
      </label>
      <label>
        <label><input type="checkbox"  value="value">Primary Care</label>
      </label>


      <br>
      <label>
        <label><input type="checkbox"  value="value">Primary Care</label>
      </label>

      <label>
        <label><input type="checkbox"  value="value">Primary Care</label>
      </label>

      <!--Hidden Senction for OTHERS Type-->
      <div style="float: right; width: 49%;">
        <label style="width: 100%;">
          <input type="text"  value="value">
        </label>
      </div>
      <!--End Hidden Senction for OTHERS Type-->
    </div>


    <div class="right_wrapper"></div>
  </div>
</div>

