<app-adminheader></app-adminheader>


 
<div class="user_management_wrapper">
  
     <div class="user_management_inner">

      <h2> <span>Product: </span>{{datalist.product}}</h2>
       


   </div>
</div>



<div class="admin_inner_wrapper admin_inner_wrappernewcon">

  <div class="newconleft">
    


    <form [formGroup]="makeContentForm" (ngSubmit)="makeContentFormSubmit()">
      <label>Content Header :</label>
      <div class="newconleft_con1 newconleft_con1html">
         
           <p [innerHTML]="safeHtml(datalist.contentTop)"></p> </div>
        <!-- <div class="newconleft_con1">
           <textarea type="text" formControlName="clauses" (keyup)="issubmit=0">
           </textarea>
          <span class="error" style="color:red"
          *ngIf="!makeContentForm.controls['clauses'].valid && makeContentForm.controls['clauses'].touched  && issubmit==1">Clauses
          are required</span></div> -->
          <label>Clauses :</label>
          <div *ngIf="cookeiservice.get('usertype') == 'contract_manager'">
           
          <ck-editor formControlName="clauses" [config]="editorconfig" (keyup)="issubmit=0">
          </ck-editor>
          <span class="error" style="color:red"
            *ngIf="!makeContentForm.controls['clauses'].valid && makeContentForm.controls['clauses'].touched  && issubmit==1">Clauses
            are required</span>
          </div>

          <span *ngIf="cookeiservice.get('usertype') != 'contract_manager'">
          <label>Content Main :</label>
          <div class="newconleft_con1 newconleft_con1html">
           
            <p [innerHTML]="safeHtml(datalist.clauses)"></p>
           </div>
          </span>
          <label>Content Footer :</label>
          <div class="newconleft_con1 newconleft_con1html">
           
            <p [innerHTML]="safeHtml(datalist.contentBottiom)"></p>
           </div>

           <div class="newconleft_con1">
            <textarea formControlName="notesMsg" placeholder="Notes" type="text"></textarea>
               </div>

            <div class="newconleft_con1 newconleft_con1_bar">
               <button *ngIf="datalist.status == 'request' && cookeiservice.get('usertype') != 'rep'" type="submit" class="sendbtnnewcon">Send For Rep</button>
               <button *ngIf="cookeiservice.get('usertype') != 'contract_manager'" type="submit" class="sendbtnnewcon">Ask For Modification </button>
               <button *ngIf="datalist.status == 'send_to_rep' && cookeiservice.get('usertype') == 'rep'" type="button" class="sendbtnnewcon" (click)="sendToLead()">Send To Lead</button>
               <button type="button" class="sendbtnnewcon" routerLink="/contract-manager-list">Cancel</button>
               </div>
    </form>
    


  </div>

  <div class="newconright">
   <h4>Note</h4>

   <!-- <form [formGroup]="notesMsgForm" (ngSubmit)="notesMsgFormSubmit()">
     <div>
     <textarea formControlName="notesMsg" type="text" (keyup)="issubmit=0"></textarea>
     <span class="error" style="color:red"
          *ngIf="!notesMsgForm.controls['notesMsg'].valid && notesMsgForm.controls['notesMsg'].touched  && issubmit==1">Notes
          are required</span>
        </div>
     <button type="submit">Reply</button>
   </form> -->

   <p *ngIf="datalist.rep_fullname !=null"><strong>Notes By Rep: </strong>{{datalist.rep_fullname}}</p>
        <p *ngIf="datalist.notes !=null"><strong>Notes: </strong>{{datalist.notes}}</p>
        <p *ngIf="datalist.date !=null"><strong>Date: </strong> {{datalist.date}}</p>
        <hr>
        
        <!-- <p *ngIf="datalist.contract_manager_name !=null"><strong>Notes By Contract Manager: </strong>{{datalist.contract_manager_name}}</p>
        <p *ngIf="datalist.contract_content_notes !=null"><strong>Notes: </strong>{{datalist.contract_content_notes}}</p>
        <p *ngIf="datalist.CM_added_by !=null"><strong>Date: </strong>{{datalist.CM_added_by}}</p>
       <hr> -->
        
        <p *ngIf="datalist.ModifiedNotesByRep !=null && datalist.rep_name !=null"><strong>Modified By Rep: </strong>{{datalist.rep_name}}</p>
        <p *ngIf="datalist.ModifiedNotesByRep !=null"><strong>Notes: </strong>{{datalist.ModifiedNotesByRep}}</p>
        <p *ngIf="datalist.ModifiedByRep_date !=null"><strong>Date: </strong>{{datalist.ModifiedByRep_date}}</p>
  </div>

  <div class="clearfix"></div>
</div>

<app-footer></app-footer>