.assignclass {
  font-size: 18px;
  color: #fff;
  font-family: 'RalewaySemiBold';
  background: #00c0ff;
  border: none;
  margin: 10px;

  height: 38px;
  text-transform: uppercase;
  margin-left: 2.5%;
  cursor: pointer;
  padding: 5px 30px;
}


/*---koushik modification for table---*/

table.fixed-table {width: 100%;table-layout: fixed;margin-top: 20px;}
table.fixed-table td {white-space: normal;word-break: break-all;}
table.fixed-table th:nth-child(1) {width: 2%;}
table.fixed-table th:nth-child(2) {width: 2%;}
table.fixed-table th:nth-child(8),table.fixed-table th:nth-child(9) {width: 12%;}

/*---End koushik modification for table---*/