<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="admintable">
        <h3>Manage Training Section List :</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">File</th>
              <th scope="col">Test Associated Training</th>
              <th scope="col">Training Category</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of traininglist; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td>{{item.description}}</td>
              <td>
                <div *ngIf="item.filetype=='file'">
                  {{item.filelocalname}}<br/>
                  <a href="http://nexgen.influxiq.com/assets/uploads/{{item.fileservername}}" >Download</a>

                </div>
                <div *ngIf="item.filetype=='audio'">
                  {{item.audiolocalname}}<br/>
                  <audio controls>
                    <source src="http://nexgen.influxiq.com/assets/uploads/{{item.audioservername}}" type="audio/mp3">
                    <source src="http://nexgen.influxiq.com/assets/uploads/{{item.audioservername}}" type="audio/wav">
                  </audio>

                </div>
                <div *ngIf="item.filetype=='video'">
                  {{item.videolocalname }}<br/>
                  <video width="320" height="240" controls>
                    <source src="http://nexgen.influxiq.com/assets/uploads/{{item.videoservername}}" type="video/mp4">
                    <source src="http://nexgen.influxiq.com/assets/uploads/{{item.videoservername}}" type="video/*">
                  </video>

                </div>



                <!--<div *ngIf="item.filetype=='html'">-->
                  <!--sanitizer.bypassSecurityTrustHtml({{item.htmleditorvalue}})-->
                  <!--{{trusthtml(item.htmleditorvalue)}}-->
                <!--</div>-->
                <!--data-label="Group Description" [routerLink]="['/mastergroupedit',item._id]" [innerHTML]=-->

              <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.htmleditorvalue)"></div>
              </td>
              <td>{{item.yesorno}}</td>
              <td>{{gettrainingcategoryname(item.trainingcategory)}}</td>
              <td><span *ngIf="item.status==true">Active</span>
                <span *ngIf="item.status==false">Inactive</span></td>

              <td ><span class="deletebtn" (click)="deletetrainingsection(item._id,template)">Delete</span>
                <span class="deletebtn" [routerLink]="['/trainingsection' ,item._id]">Edit</span>
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="delete(templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="nodelete()">No</button>
  </div>
</ng-template>
<ng-template #templatecommon>
  <div class="modal-body">
    <h1>{{message}}</h1>
  </div>
</ng-template>
