
  <div class="nexgen_frontheader_wrapper">
    <div class="container-fluid no-padding">
        <div class="row">
          <div class="col-md-4 headerleft">
            <div class="logonewblock">
              <a class="navbar-brand" [routerLink]="['/']">
                <div class="nex_frontheader_logo">
                  <img src="assets/images/logo-header.png">
                </div>
              </a>
              <span class="logowrapperbgtop"></span>
            </div>
          </div>
          <div class="col-md-8 headerright">
              <div class="row">
                <div class="col-md-12 no-padding">

                  <div class="callnewdiv text-right">
                    <div class="callnewdivinner">
                      <p class="justify-content-end">Customer Service: &nbsp;<a href="tel:8173263048">817-326-3048</a></p>
                    </div>
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="col-md-12 no-padding">
                  <div class="navbarnewdiv text-right">
                    <div class="navbarnewdivinner">
                      <div class="justify-content-end">
                          <nav class="navbar navbar-expand-lg">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><span><i class="fa fa-bars" aria-hidden="true"></i></span></span>
                      </button>
                      <a class="navbar-brand" href="#">Menu</a>

                      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                          <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/who_we_are']">Who We Are</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/about_pcr_testing']">About PCR Testing</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/get_started']">Get Started</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/contact_us']">Contact Us</a>
                          </li>
                          <li class="nav-item" *ngIf="cookie.get('userid') == ''">
                            <a class="nav-link" target="_blank" [routerLink]="['/login']">Login</a>
                          </li>
                          <li class="nav-item" *ngIf="cookie.get('userid') != ''"> <!--&& repdetails[0].username!=null-->
                            <a class="nav-link" (click)="logout()">Logout</a>
                          </li>
                          <li class="nav-item" *ngIf="cookie.get('userid') != '' && cookie.get('usertype') != 'rep'">
                            <a class="nav-link" (click)="gotodashboard()">Dashboard</a>
                          </li>
                          <li class="nav-item" *ngIf="cookie.get('userid') != '' && cookie.get('usertype') == 'rep' && repdashboard==1">
                            <a class="nav-link" [routerLink]="['/repdashboard']">Dashboard</a>
                          </li>
                        </ul>

                      </div>
                    </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
    </div>


    <!--<div class="row">
      <div class="col-md-4">
        <a class="navbar-brand" [routerLink]="['/frontendhome/']">
          <div class="nex_frontheader_logo">
            <img src="assets/images/logo-header.png">
          </div>
        </a>
        <span class="logowrapperbgtop"></span>
      </div>
      <div class="col-md-8">



        <div class="navbarblockwrapper">
          <div class="navbarblockwrapperinner">




            &lt;!&ndash;<nav class="navbar navbar-expand-lg">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><span><i class="fa fa-bars" aria-hidden="true"></i></span></span>
                </button>
                <a class="navbar-brand menubarcls" href="#">Menu</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/frontendhome/']">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/who-we-are/']">Who We Are</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about-pcr-testing/']">About PCR Testing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/get-started/']">Get Started</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact-us/']">Contact Us</a>
                      </li>
                    </ul>
                  </div>
            </nav>&ndash;&gt;
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>-->

  </div>




