<app-header></app-header>
<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right myregional_recruiterlist">
      <app-listing class="myregional_recruiter" templatetype="table" sourcetitle="Regional Recruiter" source="users_view" [sourcecondition]="sourcecondition" [tabledatalis]="tabledatalis" menuval="Regional Recruiter List " [formdata]="formdata" [formsource]="datasource">
      </app-listing>
    </div>
  </div>
</div>