<!--<app-header></app-header>-->
<app-adminheader></app-adminheader>
<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right myregional_recruiterlist">
      <app-listing class="myregional_recruiter" templatetype="table" sourcetitle="Contract Manager" source="contract_view" [sourcecondition]="sourcecondition" [tabledatalis]="tabledatalis" menuval="Contract Manager List" [formdata]="formdata" [formsource]="datasource">
      </app-listing>
      <!-- source="users_view" -->
    </div>
  </div>
</div>
<app-footer></app-footer>