<app-adminheader></app-adminheader>


<div class="reptrainingcenter_banner">
  <div class="reptrainingcenter_banner_wrapper">

    <div class="reptrainingcenter_banner_wrapper_text">

            <h2>WELCOME TO THE TRAINING CENTER!            </h2>
            <h3>TRAIN FOR MASTERY - THE BEST SALESPEOPLE 
              KNOW EVERYTHING ABOUT A PRODUCT</h3>


            <p>WE HAVE 3 SEGMENTS OF TRAINING:
            <strong>ENTERPRISE LARGE TICKET– PLATFORM SALES – HIGH ACCESS SALES</strong></p>

            <p>You can choose to complete the section that you plan to master AND sell first. 
              Then you will be presented with the opportunity to set a 90-minute game 
              plan with Beto Paredes! <span>BUT WE RECOMMEND THAT YOU TRAIN ON ALL THREE! </span>
              You will get the option to set this game plan or continue finishing 
              all the training first.</p>
              <p>
              As soon as you are finished and set your 90-minute game plan meeting, 
              your backoffice will fully open and <span>YOU WILL GET ACCESS TO THE DISCOVERY 
              CALENDAR WHERE YOU CAN START SETTING CALLS FOR THE CLOSING DESK!</span></p>
              

    </div>


  </div>

</div>

<div class="rep_training_wrapper">
  <!--  <h2> Training </h2>-->
  <div class="traing_innerwrapper">
    <div class="training_leftpart" [ngClass]="putclass()">


      <!--  <div *ngIf="this.sorteddatalist[this.sorteddatalist.length-3]">
      <carousel>
        <slide *ngFor="let item1 of this.sorteddatalist[this.sorteddatalist.length-3].slides">
          <img src="{{showimag(item1)}}" alt="first slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
      </div>-->


      <!--  <button class="btn" (click)="sorteddatalist[0].open = !sorteddatalist[0].open">Toggle first open</button>
      <button class="btn" (click)="sorteddatalist[1].open = !sorteddatalist[1].open">Toggle second open</button>-->
      <accordion>
        <accordion-group heading="{{item.title}} " *ngFor="let item of sorteddatalist; let i=index"
          [isDisabled]="disableaccor(item,i)" [isOpen]="!disableaccor(item,i)">
          <!--[isOpen]="true"-->
          <div class="accordian_image">
            <div class="content_background">
              <div class="lucoplast1"> </div>
              <div class="lucoplast2"> </div>

              <div *ngIf="item.filetype=='html'" class="content_area">
                <!-- <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.htmleditorvalue)"></p> -->
                <p [innerHTML]="item.sanitizedHtmlEditor"></p>


              </div>
              <div *ngIf="item.filetype=='file'" class="carousal_cont_wrap">
                <!--<p>{{item.filelocalname}}</p>-->
                <!--<p>Length: {{item.slides.length}}</p>-->
                <div class="s_w_main_wrap">
                  <div class="slider_wrapper">
                    <div class="slider_inner_content">
                      <img
                        *ngIf="flg==1 && sorteddatalist[i].slides!=null && sorteddatalist[i].slides[cureentcursor]!=null"
                        src="{{_commonservice.fileimgsslurl+sorteddatalist[i].slides[cureentcursor].substr(3,sorteddatalist[i].slides[cureentcursor].length)}}">

                    </div>
                  </div>
                  <a class="prev_arow" *ngIf="sorteddatalist[i].slides!=null && cureentcursor>0"
                    (click)="prevslide()"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                  <a class="next_arow"
                    *ngIf="sorteddatalist[i].slides!=null && cureentcursor<sorteddatalist[i].slides.length-1"
                    (click)="nextslide()"><i class="fa fa-angle-right" aria-hidden="true"></i></a>

                </div>






                <!-- <carousel *ngIf="item.slides?.length==1">
              <slide *ngFor="let item1 of item.slides">
                <img src="{{showimag(item1)}}" alt="first slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </slide>
              <slide>
                <img src="https://stepupandlive.files.wordpress.com/2014/09/3d-animated-frog-image.jpg" alt="second slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </slide>
              <slide>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ13y0p_DLPMjYNHsVi-G6x7feNclZXMsBjll8YG4CO0djuoDbkvQ" alt="third slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </slide>
            </carousel>-->





              </div>
              <div *ngIf="item.filetype=='audio'">
                <!-- {{item.audiolocalname}}<br/>-->
                <audio controls (ended)="audiovideoended(item,i)">
                  <source src="{{_commonservice.uploadsslurl}}{{item.audioservername}}" type="audio/mp3">
                  <source src="{{_commonservice.uploadsslurl}}{{item.audioservername}}" type="audio/wav">
                </audio>
                <br />{{item.description}}
              </div>
              <div *ngIf="item.filetype=='video'" class="video_wrapper">
                <!--{{item.videolocalname }}<br/>-->
                <video width="320" height="240" controls id="video_{{item._id}}" (ended)="audiovideoended(item,i)">
                  <source src="{{_commonservice.uploadsslurl}}{{item.videoservername}}" type="video/mp4">
                  <source src="{{_commonservice.uploadsslurl}}{{item.videoservername}}" type="video/*">
                </video>
                <br />{{item.description}}
              </div>

              <div *ngIf="item.filetype=='image'" class="img_wrapper">
                <!--{{item.imagelocalname }}<br/>-->
                <img src="{{_commonservice.uploadsslurl}}{{item.imageservername}}">
                <br />{{item.description}}

              </div>

            </div>
            <!--<div>Done</div>-->
          </div>
          <!--for file download button-->
          <div class="action_wrapper">
            <a *ngIf="item.filetype=='file'" class="download_pdf"
              href="{{_commonservice.uploadsslurl}}{{item.fileservername}}" target="_blank"><i class="fa fa-download"
                aria-hidden="true"></i> </a>
            <!--for file download button-->
            <a *ngIf="item.filetype=='image'" class="download_pdf"
              href="{{_commonservice.uploadsslurl}}{{item.imageservername}}" target="_blank"><i class="fa fa-download"
                aria-hidden="true"></i></a>

            <a *ngIf="item.yesorno=='yes'"
              (click)="gotoquizmodal(item._id, item.trainingcategory, lastLessionName, quizmodal)"
              class="quizz_button">Take quiz</a>


            <!-- =={{getdoneclass(item._id)}}== {{item.yesorno}}=={{item._id}}==-->
            <a class="mark_done" *ngIf="item.yesorno=='no'  && item.filetype!='audio' && item.filetype!='video' "
              (click)="markasdonetraninglesson(item,i)">Mark as done</a>
            <!--<a class="mark_done" *ngIf="item.yesorno=='no' && getdoneclass(item._id)==false && item.filetype!='audio' && item.filetype!='video' " (click)="markasdonetraninglesson(item,i)">Mark as done</a>-->

          </div>
          <!-- <button *ngIf="item.yesorno=='yes' && item.quizcomplete==0" (click)="gotoquizmodal(item._id,quizmodal)" class="quizz_button">Take quiz</button>
          <a class="mark_done" *ngIf="((item.yesorno=='yes' && item.quizcomplete==1) || item.yesorno=='no') && (getdoneclass(item._id)==false && item.filetype!='audio' && item.filetype!='video')" (click)="markasdonetraninglesson(item,i)">Mark as done</a>-->
        </accordion-group>
        <!-- <accordion-group heading="Powerpoint Slide">
          <carousel class="carousal_content">

            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>
                <div class="carousal_inner">
                <h3><span>Beto Paredes LLC</span> <br> Presents <br> Infectious Disease Testing </h3>

                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide 1&ndash;&gt;
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="second slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">

                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>
                <div class="carousal_inner">
                <h3><span>Beto Paredes LLC</span></h3>

                  <ul class="header_list">
                    <li> What We Are Testing For?</li>
                  </ul>

                  <ul class="desease_list">
                    <li> Common Everyday Infections </li>
                    <li> Flu (influenza), Rhinovirus (common cold) </li>
                    <li> Strep, E.coli ( think Chipotle’s issues) </li>
                    <li> NOT EXOTIC Virus like EBOLA</li>
                    <li> Who these TEST are Designed For?</li>
                    <li> Primary Care Physicians, Pediatrics, Podiatrist, Hospitals that outsource, Nursing Homes/ Home Health Care </li>
                    <li> Not Designed for Infectious Disease Specialists ( we leave that for the CDC) </li>
                  </ul>
                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide 2&ndash;&gt;
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>
                <div class="carousal_inner">
                  <h3><span>Beto Paredes LLC</span></h3>

                  &lt;!&ndash;<ul class="header_list">&ndash;&gt;
                    &lt;!&ndash;<li> <h4 class="list_header">  What We Are Testing For? </h4></li>&ndash;&gt;
                  &lt;!&ndash;</ul>&ndash;&gt;

                  <ul class="desease_list">
                    <li> 5 Infectious Disease Panels</li><br>
                    <li>Respiratory (aka RPP) : 41 pathogens </li>
                    <li> Urinary Tract Infection (aka; UTI); 32 pathogens</li>
                    <li> Gastroenterology( AKA; GI): 31 pathogens </li>
                    <li>  Wound ( aka Wound): 40 pathogens </li>
                    <li>Nail ( Fungus) & Paronychia  15 pathogens/11 fungal </li>
                    <li> Antibiotic Resistance Panel </li>
                  </ul>

                  <ul class="under_list_part">
                    <li> Each of these individual panels</li>
                    <li> Covers approximately 95% of the</li>
                    <li> Pathogens that cause these types of</li>
                    <li> infections</li>
                  </ul>
                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide 3&ndash;&gt;
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>
                <div class="carousal_inner">
                  <h3><span>Beto Paredes LLC</span></h3>

                  &lt;!&ndash;<ul class="header_list">&ndash;&gt;
                  &lt;!&ndash;<li> <h4 class="list_header">  What We Are Testing For? </h4></li>&ndash;&gt;
                  &lt;!&ndash;</ul>&ndash;&gt;

                  <ul class="desease_list">
                    <li>  Real Time Polymerase Chain Reaction
                      <ul style="list-style: none;"><li> Also known as “RT-PCR”  or just “PCR” </li></ul>
                    </li>
                    <li>Amplifies the short sequence of target DNA or RNA </li>
                    <li> Detects presence of specific targets by replication the RNA and DNA</li>
                    <li>  Provides a readable positive or negative result</li>
                    <li>  RNA for viral pathogens </li>
                    <li>  DNA for bacterial pathogens </li>
                    <li>  Highly accurate ( >90%) </li>
                    <li>  Testing decision is based on symptoms and/or Exposure </li>

                  </ul>


                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide 4&ndash;&gt;
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>
                <div class="carousal_inner">
                  <h3><span>Beto Paredes LLC</span></h3>

                  &lt;!&ndash;<ul class="header_list">&ndash;&gt;
                  &lt;!&ndash;<li> <h4 class="list_header">  What We Are Testing For? </h4></li>&ndash;&gt;
                  &lt;!&ndash;</ul>&ndash;&gt;

                  <ul class="desease_list">
                    <li>  Rapid Influenza Detection Testing (RIDT)
                      <ul style="list-style: none;">
                        <li>Flu only, Positive or Negative only </li>
                        <li>Rapid TAT, 20%-60% false positive/false negative rates </li>
                      </ul>
                    </li><br>
                    <li>   Traditional Viral/ Bacterial culture
                      <ul style="list-style: none;">
                        <li> Very accurate (>80%) </li>
                        <li> Very specific </li>
                        <li> Long TAT ( 7-10 days)   could be 21 days.</li>
                      </ul>
                    </li>

                  </ul>


                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide  5&ndash;&gt;
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>

                <div class="carousal_inner">
                  <h3><span>Beto Paredes LLC</span></h3>

                  <ul class="header_list">
                  <li>  Benefits of PCR TESTING </li>
                  </ul>

                  <ul class="desease_list">

                    <li>Precise accuracy in detections of pathogens</li>
                    <li> Identifies potential anti-infective resistance ( What antibiotics that will not work) </li>
                    <li> Detects Polymicrobial infections</li>
                    <li> Detects Polymicrobial infections</li>
                    <li>  Reduces false negative results </li>

                    <li>  Greater sensitivity that RIDT
                      <ul style="list-style: none;">
                        <li>RIDT doesn't provide information on specific viral/bacterial strains </li>

                      </ul>
                    </li>
                    <li> Much faster that traditional culture techniques
                      <ul style="list-style: none;">
                        <li>24 hrs.  vs. 1-3 weeks </li>
                      </ul>
                    </li>
                    <li> Rapid TAT provides for more rapid care opportunity </li>
                  </ul>


                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide  6&ndash;&gt;
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>
                <div class="carousal_inner">
                  <h3><span>Beto Paredes LLC</span></h3>

                  <ul class="desease_list">
                    <li>  Simple Collection & Transport<br>
                      <ul style="list-style: none;">
                        <li>Non-invasive swab specimen collection</li>
                        <li> No special transport medium required </li>
                        <li> Unaffected by temperature </li>
                        <li> Closed tube system minimizes contamination risks </li>
                        <li> Minimal hands-on time results in very low staff impact </li>

                      </ul>
                    </li>

                  </ul>


                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide  7&ndash;&gt;
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>
                <div class="carousal_inner">
                  <h3><span>Beto Paredes LLC</span></h3>
<br>
                  <ul class="desease_list" style=" font-weight: bold; font-size: 30px;">

                      <ul style="list-style: none; text-align: center; font-size: 34px; font-family: 'sans-serrif'; " >
                        <li>Phase  TWO Training </li>
                        <li> Includes the following </li>
                      </ul>
                    <div>
                      <li> Hand outs for each panel testing.</li>
                      <li> Hand out for the Doctor's requisition of test </li>
                    </div>
                  </ul>


                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide  8&ndash;&gt;

            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <div class="lucoplast1">
                </div>
                <div class="lucoplast2">
                </div>
                <div class="carousal_inner">
                  <h3><span>Beto Paredes LLC</span></h3>
                        <p> This completes the first phase of your training </p>
                    <h1> Congratulations  </h1>
                </div>
              </div>
            </slide>
            &lt;!&ndash;End slide  9&ndash;&gt;
          </carousel>

        </accordion-group>
        <accordion-group heading="Audio Lesson">
          <p>Audio Lesson</p>
        </accordion-group>
        <accordion-group heading="video Lesson">
          <p>Video Lesson</p>
        </accordion-group>

        <accordion-group heading="File Download">
          <p>File Download</p>
        </accordion-group>-->
      </accordion>
    </div>
    <div class="training_rightpart" *ngIf="cid!=null">
      <!--top part-->
      <div class="inner_training_list" *ngIf="trainingcategory?.length>0">
        <h1>Incomplete Trainings</h1>
        <ul>
          <li class="notdonepcat" *ngFor="let itemp of notdoneparentcat" (click)="selpcat=itemp.catid"><a
              href="javascript:void(0)"> <span><img src="assets/images/filemanager_icon.png"></span>
              {{itemp.catname}}</a>
            <ul>
              <!--  *ngIf="selpcat==itemp.catid"-->
              <ng-container *ngFor="let item of notdonecategory">

                <li *ngIf="itemp.catid==item.parentcategory"><a (click)="cid=item._id;getdatalist(item.categoryname)"
                    href="javascript:void(0)"> <span><img (click)="cid=item._id;getdatalist()"
                        src="assets/images/filemanager_icon.png"></span> {{item.categoryname}}</a></li>
              </ng-container>


            </ul>
          </li>


        </ul>
      </div>

      <!--bottom part-->
      <div class="inner_training_list">
        <h1>Completed Trainings</h1>

        <ul>
          <li class="notdonepcat" *ngFor="let itemp of doneparentcat" (click)="selpcat=itemp.catid"><a
              href="javascript:void(0)"> <span><img src="assets/images/filemanager_icon.png"></span>
              {{itemp.catname}}</a>
            <ul>
              <!--  *ngIf="selpcat==itemp.catid"-->
              <ng-container *ngFor="let item of donecategory">

                <li *ngIf="itemp.catid==item.parentcategory"><a (click)="cid=item._id;getdatalist(item.categoryname)"
                    href="javascript:void(0)"> <span><img (click)="cid=item._id;getdatalist()"
                        src="assets/images/filemanager_icon.png"></span> {{item.categoryname}}</a></li>
              </ng-container>


            </ul>
          </li>


        </ul>




      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<app-footer></app-footer>


<ng-template #quizmodal>

  <div class="modal-body">
    <!--<div class="logo_wrapper">-->
    <!--<img src="assets/images/logo.png">-->
    <!--</div>-->
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closemodal()">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="quizmodal_content_w">
      <h2 class="q_header"> {{ lastLessionName }} Test </h2>

      <form>

        <!--  <div class="q_wrap" *ngFor="let item of quizlistwithanswer;let i = index"
      [ngClass]="(item.hascorrectanswer!=null && issubmit==1 && item.hascorrectanswer==true) ? 'successquiz' : 'errorquiz'">
      -->

        <div class="q_wrap" *ngFor="let item of quizlistwithanswer;let i = index"
          [ngClass]="(item.hascorrectanswer!=null && issubmit==1 && item.hascorrectanswer==true) ? 'successquiz' : (item.hascorrectanswer==false && issubmit==1) ? 'errorquiz'  :''">
          <!--<span>{{item.hascorrectanswer}}   {{issubmit}}</span>-->
          <p> <b> {{i+1}}. </b> {{item.question}} </p>
          <div class="flex_wrap" *ngFor="let item1 of item.answerlistarr;let y = index">
            <input type="radio" name="{{item1._id}}" value="{{item1._id}}" [(ngModel)]="quizlistwithanswer[i].myanswer"
              (click)="check_answer_iscorrect(item,i)"> <label>{{item1.answer}} </label>
          </div>
          <!-- <a class="submit_button" (click)="submit_answer_iscorrect()"> SUBMIT</a>-->
          <span *ngIf="item.hascorrectanswer==false && issubmit==1" class="error">*Incorrect Answer</span>
        </div>

        <!--   <div class="q_wrap">
          <p><b> 2. </b>What is Stark Law? </p>
          <div class="flex_wrap">
            <input type="radio" > <label>The Stark law is a limitation on certain physician referrals. It prohibits physician referrals of designated health services ("DHS") for Medicare and Medicaid patients if the physician (or an immediate family member) has a financial relationship with that entity. </label>
          </div>

          <div class="flex_wrap">
            <input type="radio" > <label>The Stark law is a law that protects physicians from being sued by their patients for potential claims when Medicare/Medicaid  is involved. </label>
          </div>

          <div class="flex_wrap">
            <input type="radio" > <label>The Stark Law is limits the amount of reimbursements that can be received from certain types of devices and laboratory services in any given year.
          </label>
          </div>
        </div>-->



        <a class="submit_button" (click)="submit_answer_iscorrect(successModalHtml)"> SUBMIT</a>

      </form>


      <span *ngIf="issubmit==1">Total correct answers:{{correctanscount}} ,
        {{(correctanscount/quizlistwithanswer.length)*100}} %</span>
    </div>

  </div>
</ng-template>


<ng-template #successModalHtml>
  <div class="modal-body successmodal_listing">
    <div class="logo_wrapper">
      <img src="assets/images/logo.png">
    </div>
    <h6>Successfully completed.</h6>
  </div>
</ng-template>