<app-adminheader></app-adminheader>


<div class="rep_training_wrapper">
  <h2> Training </h2>
  <div class="traing_innerwrapper">
    <div class="training_leftpart">

      <accordion>
        <accordion-group heading="Powerpoint Slide">
          <carousel class="carousal_content">
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Nex Gen Testing <br> Presents <br> Infectous Diesease Testing</h3>
              </div>
            </slide>
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="second slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/images/trainin_lesson_bg.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </slide>
          </carousel>
        </accordion-group>
        <accordion-group heading="Audio Lesson">
          <p>Audio Lesson</p>
        </accordion-group>
        <accordion-group heading="video Lesson">
          <p>Video Lesson</p>
        </accordion-group>

        <accordion-group heading="File Download">
          <p>File Download</p>
        </accordion-group>
      </accordion>
    </div>
    <div class="training_rightpart">
      <!--top part-->
      <div class="inner_training_list">
        <h1>Incomplete Trainings</h1>
        <ul>
          <li> <span><img src="assets/images/filemanager_icon.png"></span> <a href="javascript:void(0)">training 4</a></li>
          <li> <span><img src="assets/images/filemanager_icon.png"></span> <a href="javascript:void(0)">training 5</a></li>

        </ul>
      </div>

      <!--bottom part-->
      <div class="inner_training_list">
        <h1>Completed Trainings</h1>
        <ul>
          <li> <span><img src="assets/images/filemanager_icon.png"></span> <a href="javascript:void(0)">training 1</a></li>
          <li> <span><img src="assets/images/filemanager_icon.png"></span> <a href="javascript:void(0)">training 2</a></li>
          <li> <span><img src="assets/images/filemanager_icon.png"></span> <a href="javascript:void(0)">training 3</a></li>

        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>