<app-adminheader></app-adminheader>

<div class="nextGen_admin_mainwrapper managequiz">
  <div class="page-wrapper s_getmybrand_adminlist">
    <div class="nexgen_adminlist">
      <div class="user_management_wrapper"  >
        <div class="user_management_inner">
          <h2>manage Quiz section</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 admin_inner_wrapper">
        <div class="clearfix"></div>
        <div class="content_header_block">
          <div class="clearfix"></div>
          <div class="newblock1 ">
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="nexgen_admin_table">
          <div class="action_section">
            <div class="inner_actionblock" *ngIf="lessondetails?.length>0">
              <h3> Quiz for {{lessondetails[0].title}}</h3>
              <a class="addfrinderbtn s_getmybrand_savebutton quizbtn" (click)="addquizmodal(addquiz,0)"> Add Question</a>
              <a class="addfrinderbtn s_getmybrand_savebutton" [routerLink]="['/trainingsectionlist']"> Back to lesson list</a>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="table-responsive admin_table_wrapper generaltablecls">
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Question</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of quizlist_under_lessonid; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.question}}</td>
                  <td>{{item.priority}}</td>
                  <td>
                    <span *ngIf="item.status==true">Active</span>
                    <span *ngIf="item.status==false">Inactive</span></td>
                  <td >
                    <span class="deletebtn manage_del" (click)="deletequizfunc(item._id,deletequiz)">Delete</span>
                    <span class="editbtn edit_ans" (click)="addquizmodal(addquiz,item._id)">Edit</span><br/>
                    <span class="editbtn manageanswer" (click)="addanswers(item._id,item.question,addanswermodal)">Add answer</span>
                    <span class="editbtn manageanswer" (click)="manageanswers(item._id,item.question,answermodal)" *ngIf="item.answerlistlength>0">Update answer</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="admin_table_pagination hide">
          <ul class="pagination">
            <span>Page 1 of 3</span>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">Last</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ng-template #addquiz>
  <div class="page-wrapper admin_training_center_manage_popup">
    <div class="row">
      <div class="col-lg-12">
        <div class="content_header_block">
          <h3 *ngIf="editid==null || editid==0">Add Question</h3>
          <h3 *ngIf="editid!=null && editid!=0">Edit Question</h3>
          <form novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit()">
            <div class="box-body">
              <div class="form-group">
                <label>Question :</label>
                <input type="hidden" class="form-control" placeholder="Question" [formControl]="dataForm.controls['lessonid']" >
                <input type="text" class="form-control" placeholder="Question" [formControl]="dataForm.controls['question']" (keyup)="issubmit=0">
                <span class="error" *ngIf="!dataForm.controls['question'].valid && dataForm.controls['question'].touched && issubmit==1">Question is required.</span>
              </div>
              <div class="form-group">
                <label>Priority :</label>
                <input type="text" class="form-control" placeholder="Priority" [formControl]="dataForm.controls['priority']" (keyup)="issubmit=0">
                <span class="error" *ngIf="!dataForm.controls['priority'].valid && dataForm.controls['priority'].touched && issubmit==1">Priority is reuired.</span>
              </div>
              <div class="form-group form-check custom_checkbox">
                <input type="checkbox" class="form-check-input" [formControl]="dataForm.controls['status']" (keyup)="issubmit=0">
                <label class="form-check-label">Active</label>
              </div>
              <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                <button type="submit">Submit</button>
                <button type="button" (click)="closemodal()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addanswermodal>
  <div class="page-wrapper admin_training_center_manage_popup">
    <div class="row">
      <div class="col-lg-12">
        <div class="content_header_block">
          <h3>Add Answer for question "{{qtitle}}"</h3>
          <form novalidate [formGroup]="dataForm1" (ngSubmit)="dosubmit1()">
            <div class="box-body">
              <div class="form-group">
                <label>Answer :</label>
                <input type="hidden" class="form-control" placeholder="Question" [formControl]="dataForm1.controls['quizid']" >
                <input type="text" class="form-control" placeholder="Answer" [formControl]="dataForm1.controls['answer']" (keyup)="issubmit1=0">
                <span class="error" *ngIf="!dataForm1.controls['answer'].valid && dataForm1.controls['answer'].touched && issubmit1==1">Answer is required.</span>
              </div>
              <div class="form-group form-check custom_checkbox">
                <input type="checkbox" class="form-check-input" [formControl]="dataForm1.controls['iscorrect']" (keyup)="issubmit1=0">
                <label class="form-check-label">Is it correct?</label>
              </div>
              <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                <button type="submit">Submit</button>
                <button type="button" (click)="closemodal()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deletequiz>
  <div class="modal-body training_listmodal">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="delete(templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="closemodal()">No</button>
  </div>
</ng-template>
<ng-template #templatecommon>
  <div class="modal-body brandmanagement_modal">
    <div class="logo_wrapper">
      <img src="assets/images/logo.png">
    </div>
    <div class="message_success">{{message}}</div>

  </div>
</ng-template>

<ng-template #answermodal>
  <div class="page-wrapper admin_training_center_manage_popup Edit_ans">
    <div class="row">
      <div class="col-lg-12">
        <div class="content_header_block" *ngIf="answerlist_under_this_quizid?.length==0">
          <h3 *ngIf="qtitle">No answers available</h3>
        </div>

          <div class="content_header_block" *ngIf="answerlist_under_this_quizid?.length>0">
          <h3 *ngIf="qtitle">Answer Details for {{qtitle}}</h3>
         <!-- <form novalidate [formGroup]="dataForm1" (ngSubmit)="dosubmit()">-->
            <div class="box-body">
              <div class="form-group form-check custom_checkbox" *ngFor="let item of answerlist_under_this_quizid;let i=index">
               <!-- <input type="checkbox" class="form-check-input" [formControl]="dataForm1.controls[item.iscorrect]">-->
                <input type="checkbox" class="form-check-input" [(ngModel)]="iscortarr[i]" (click)="update_answer_iscorrect(item._id,i)">
                <label class="form-check-label">{{item.answer}}</label>
                <label class="dlt_answer form-check-label" (click)="deleteansfunc(item._id,deleteans)">Delete</label>
              </div>
            <!--  <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                <button type="submit" (click)="saveanswervalue()">Submit</button>
                <button type="button" (click)="closemodal()">Cancel</button>
              </div>-->
            </div>
        <!--  </form>-->
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteans>
  <div class="modal-body training_listmodal">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="deleteansfun(templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="closemodal1()">No</button>
  </div>
</ng-template>
