

<app-adminheader *ngIf="blockHeaderFooterBlock"></app-adminheader>

<!-- Loader start -->
<div class="loder_body" *ngIf="loader">
    <div class="loder_wrapper">
        <img src="assets/images/betologo.png" alt="#"
            style="margin:0 auto; display: block; margin-bottom:30px; max-width: 280px;" />
        <div class="loader"></div>
    </div>
</div>
<!-- Loader end -->



<div class="user_account_setting_wrapper user_account_setting_wrappernew">
    <div class="account_inner_wrapper">
        <div class=" account_inner_wrapper1 ">
            <!-- added by himadri  -->
            <div class="listevent_inner_wrapper">
                <div class="inner_head_wrapper">
                    <h4 [innerHtml]="headerText.hedaerH4"></h4>
                    <span>{{ headerText.span }}</span>
                </div>

                <div class="event_content_wrapper ">
                    <div class="main_inner_content main_inner_contentnew ">




                        <!-- This block for book-a-closer start -->
<div class="listevent_inner_wrapper" *ngIf="slotView == false || recid != null">


    <div class="main_inner_content main_inner_contentnew ngcontainerdivwrapper">
        <form novalidate [formGroup]="contractForm" (ngSubmit)="contractFormSubmit();">

            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Product:</label>

                <div class="col-sm-12">
                    <input [ngClass]="{disabledfield:recid != null}" type="text" class="form-control" [formControl]="contractForm.controls['product']"
                        (keyup)="contractSuggest($event);" placeholder="Type Product name..." />
                        

                    <div class="col-sm-12 ngcontainerdiv" *ngIf="contractSuggestionFlug" >
                        <ng-container *ngFor="let l of contractSuggestion;let i = index;" >
                            <p *ngIf="l.traininglessonpercent != null" (click)="selectcontract(l);" class="contract-option">{{l.product_name}}</p>
                        </ng-container>
                    </div>
                    <span class="error"
                        *ngIf="contractFormSubmitFlug && contractForm.controls.product.errors">product
                        Required</span>
                </div>
            </div>

            <div class="form-group row" *ngIf="leadname.length > 0">
                <label class="col-sm-12 col-form-label">Lead: </label>
                <div  [ngClass]="{disabledfield:recid != null}" class="col-sm-12">

                    <select [formControl]="contractForm.controls['lead']" class="form-control" (change)="selectproductfunc($event)">
                        <option value="">Select a Lead</option>
                        <option *ngFor="let i of leadname;" value="{{ i._id }}">{{ i.firstname }} {{ i.lastname }}
                        </option>
                    </select>
                    <span class="error"
                        *ngIf="contractFormSubmitFlug && contractForm.controls.lead.errors">lead
                        Required</span>
                </div>
            </div>


            <!-- <div class="form-group row" *ngIf="contract_manager_list.length > 0">
                <label class="col-sm-12 col-form-label">Contract Manager: </label>
                <div  [ngClass]="{disabledfield:recid != null}" class="col-sm-12">

                    <select [formControl]="contractForm.controls['contract_manager']" class="form-control" (change)="selectcontractmanagerfunc($event)">
                        <option value="">Select a Contract Manager</option>
                        <option *ngFor="let i of contract_manager_list;" value="{{ i._id }}">{{ i.firstname }} {{ i.lastname }}
                        </option>
                    </select>

                    <span class="error"
                        *ngIf="contractFormSubmitFlug && contractForm.controls.contract_manager.errors">Contract Manager Required</span>
                </div>
            </div> -->

           

            <div *ngIf="recid == null" class="form-group row form-groupbtndiv">

                <button> Next</button>
                <button type="button" (click)="goback()"> cancel</button>
                <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>
        </form>
    </div>

    <div class="clearfix"></div>
</div>
<!-- This block for book-a-closer end -->
<span *ngIf="slotView || recid != null">
                      
                            <h3 class="timezone_class" style="text-align: center;">Notes</h3>
                            

 

<form [formGroup]="noticeForm">
<!-- added by himadri -->

  <textarea type="text" class="notestextarea" formControlName="notes"></textarea>

                              

                        <!-- added by himadri end -->

                         


                            <div class="form-group row form-groupbtndiv">

                                <button type="submit" class="btn_search" (click)="requestContract(noticeForm.value)"> Request </button>
                                <button type="submit" class="btn_search" (click)="saveAsDraft(noticeForm.value)"> Save as draft </button>
                                <button type="submit" class="btn_search" (click)="cancelContract()">Cancel </button>
                            </div>

                        </form>
                    </span>
                    </div>
                </div>

            </div>

            
        </div>
    </div>

</div>

<app-footer *ngIf="blockHeaderFooterBlock"></app-footer>

<!--Common confirmation modal-->
<ng-template #leaddetails>
    <div class="modal-body brandmanagement_modal">
      <div class="logo_wrapper">
        <img src="assets/images/logo.png">
      </div>
      <div class="message_success" *ngIf="selectedlead !=null">
          <p><span>Name : </span>{{selectedlead.firstname}} {{selectedlead.lastname}}</p>
          <p><span>Email Address : </span>{{selectedlead.email}}</p>
          <p><span>Mobile No. : </span>{{selectedlead.mobile}}</p>
          <p><span>Phone No. : </span>{{selectedlead.phoneno}}</p>
          <p><span>Address : </span>{{selectedlead.address}}</p>
          <p><span>Company : </span>{{selectedlead.company}}</p>
          <p><span>Website : </span>{{selectedlead.website}}</p>
          
          <!-- <p>{{selectedlead.firstname}}</p> -->
      </div>
    </div>
    <div>
    </div>
  </ng-template>