<app-adminheader></app-adminheader>

<div class="manageavilability_wrapper">
  <div class="manage_header">
    <h2> manage my availability</h2>
  </div>
  <div class="avail_search_sec">
    <div class="search_content">
      <span class="search_hint"> Search By Date Range : &nbsp; </span>
      <input type="text">
      <button>Search</button>
      <span class="button_responsive">
        <button>Show all</button>
        <button>add event</button>
       </span>
    </div>
  </div>

  <div class="avail_content_wrapper">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">timezone</th>
        <th scope="col">strat date</th>
        <th scope="col">End date</th>
        <th scope="col"> Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-title="Title">Lorem</td>
        <td data-title="Description">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry</td>
        <td data-title="Timezone">Mountain Time (US & Canada)	</td>
        <td data-title="Strat Date">01/24/2019 10:00AM	</td>
        <td data-title="End Date"> 01/24/2019 10:30AM	</td>
        <td data-title="Action">
          <span class="edit_button">edit</span>
          <span class="delete_button">Delete</span>
        </td>
      </tr>
      <tr>
        <td data-title="Title">Lorem</td>
        <td data-title="Description">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry</td>
        <td data-title="Timezone">Mountain Time (US & Canada)	</td>
        <td data-title="Strat Date">01/24/2019 10:00AM	</td>
        <td data-title="End Date"> 01/24/2019 10:30AM	</td>
        <td data-title="Action">
          <span class="edit_button">edit</span>
          <span class="delete_button">Delete</span>
        </td>
      </tr>

      <tr>
        <td data-title="Title">Lorem</td>
        <td data-title="Description">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry</td>
        <td data-title="Timezone">Mountain Time (US & Canada)	</td>
        <td data-title="Strat Date">01/24/2019 10:00AM	</td>
        <td data-title="End Date"> 01/24/2019 10:30AM	</td>
        <td data-title="Action">
          <span class="edit_button">edit</span>
          <span class="delete_button">Delete</span>
        </td>
      </tr>

      <tr>
        <td data-title="Title">Lorem</td>
        <td data-title="Description">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry</td>
        <td data-title="Timezone">Mountain Time (US & Canada)	</td>
        <td data-title="Strat Date">01/24/2019 10:00AM	</td>
        <td data-title="End Date"> 01/24/2019 10:30AM	</td>
        <td data-title="Action">
          <span class="edit_button">edit</span>
          <span class="delete_button">Delete</span>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="avail_pagination">
  <ul>
    <span>Page 1 of 3</span>
    <li> <a class="active" routerLink="/">1</a></li>
    <li> <a routerLink="/">2</a></li>
    <li> <a routerLink="/">3</a></li>
    <li> <a routerLink="/">Next</a></li>
    <li> <a routerLink="/">Last</a></li>
  </ul>
</div>



<app-footer></app-footer>