<app-adminheader></app-adminheader>

<div class="inner_content_section">
  <h1>REPRESENTATIVE LIST</h1>
</div>
<div class="representative_list_wrapper">


  <div class="inner_main_wrap">
     <div class="left_content">
       <h2>REPRESENTATIVE LIST</h2>
       <h3> 137 Results</h3>

       <table class="table table-striped">
         <thead>
         <tr>
           <th scope="col">Date Added <br> Status</th>
           <th scope="col">First</th>
           <th scope="col">Last</th>
           <th scope="col">Handle</th>
         </tr>
         </thead>
         <tbody>
         <tr>
           <td scope="row">
             <!--date-->
             1/27/2019
           <!--status--><br>
             <span> Active</span>
           </td>
           <td>Mark</td>
           <td>Otto</td>
           <td>@mdo</td>
         </tr>
         <tr>
           <td scope="row">
             <!--date-->
             1/27/2019
             <!--status--><br>
             <span> Active</span>
           </td>
           <td>Jacob</td>
           <td>Thornton</td>
           <td>@fat</td>
         </tr>
         <tr>
           <td scope="row">
             <!--date-->
             1/27/2019
             <!--status--><br>
             <span> Active</span>
           </td>
           <td>Larry</td>
           <td>the Bird</td>
           <td>@twitter</td>
         </tr>
         <tr>
           <td scope="row">
             <!--date-->
             1/27/2019
             <!--status--><br>
             <span> Active</span>
           </td>
           <td>Larry</td>
           <td>the Bird</td>
           <td>@twitter</td>
         </tr>
         <tr>
           <td scope="row">
             <!--date-->
             1/27/2019
             <!--status--><br>
             <span> Active</span>
           </td>
           <td>Larry</td>
           <td>the Bird</td>
           <td>@twitter</td>
         </tr>
         </tbody>
       </table>


       <div class="pagination_sec">
         <ul>
          <li><span> Page 1 of 3</span> &nbsp; &nbsp;</li>
           <li><a class="active">1</a></li>
           <li><a>2</a></li>
           <li><a>3</a></li>
           <li><a>Next</a></li>
           <li><a>Last</a></li>
         </ul>
       </div>
     </div>

    <!--End of Left Section-->
     <div class="right_content">
       <h3>search</h3>
        <div class="search_header">
          <input type="text"><button><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="search_inp">
         <input type="text" placeholder="Search By Name">
         <input type="text" placeholder="Search By Status">
        </div>
     </div>
    <div class="clearfix"></div>
    <!--End of right Section-->
  </div>
</div>

<app-footer></app-footer>







