<app-adminheader></app-adminheader>
<div class="page-wrapper admin_training_center_manage_popup">
  <div class="row">
    <div class="col-lg-12">
      <div class="content_header_block">
        <h3> {{formName}} a Contract</h3>
        <form novalidate [formGroup]="contractForm" (ngSubmit)="contractFormSubmit()">
          <br>
          <div class="form-group email_div">
            <label>Product Name :</label>
            <select class="form-control" formControlName="product_id" (keyup)="issubmit=0">
              <option value="">Select Product</option>
              <option *ngFor="let product of productList" value="{{product._id}}">
                {{product.productname}}</option>
            </select>
            <span class="error" style="color: red;"
              *ngIf="!contractForm.controls['product_id'].valid && contractForm.controls['product_id'].touched  && issubmit==1">Product
              is required</span>
          </div>
          <div>
            <label>Content Top :</label>
          <ck-editor formControlName="contentTop" [config]="editorconfig" (keyup)="issubmit=0">
          </ck-editor>
          <span class="error" style="color: red;"
            *ngIf="!contractForm.controls['contentTop'].valid && contractForm.controls['contentTop'].touched  && issubmit==1">This
            is required</span>
          </div>
            <br>
            <div>
              <label>Content Bottiom :</label>
          <ck-editor formControlName="contentBottiom" [config]="editorconfig" (keyup)="issubmit=0">
          </ck-editor>
          <span class="error" style="color: red;"
            *ngIf="!contractForm.controls['contentBottiom'].valid && contractForm.controls['contentBottiom'].touched  && issubmit==1">This
            is required</span>
            </div>
            <br>
          <textarea [attr.readonly]= "isReadOnly" formControlName="notes" class="form-control" placeholder="Notes" (keyup)="issubmit=0"></textarea>
          <br>
          <label>Status :</label>
          <input type="checkbox" checked formControlName="status">

          <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
            <button type="submit">Submit</button>
            <button type="reset" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>