<div class="nextgen_login_wrapper">

  <div class="login_container">
    <div class="logo_inner">
      <img src="assets/images/logo.png">
    </div>
    <form  novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
      <div class="form-group">
        <input type="text"  class="form-control" placeholder="Email" [formControl]="dataForm.controls['email']">
        <span *ngIf="!dataForm.controls['email'].valid && dataForm.controls['email'].touched" class="error">Email field can not be blank & give proper email id</span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control"  placeholder="Password" [formControl]="dataForm.controls['password']">
        <span *ngIf="!dataForm.controls['password'].valid && dataForm.controls['password'].touched" class="error">Give proper password</span>
      </div>

      <div class="form-group">
        <span class="error" *ngIf="errormg!=''">{{errormg}}</span>
        <button class="signin_button">sign in</button>
      </div>

      <div class="form-group">
        <p class="register">Not registered? <span><a href="javascript-void:0"> request sign up here</a></span></p>
        <p class="forgot_pass"><a href="javascript-void:0"> Forgot your password? </a></p>
        <div class="clearfix"></div>
      </div>

    </form>
  </div>


</div>