<div class="nextgen_login_wrapper">

  <div class="login_container">
    <div class="logo_inner">
      <img src="assets/images/logo.png">
    </div>
    <form  novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value,lockmodal)">
      <div class="form-group">
        <input type="text"  class="form-control" placeholder="Email" [formControl]="dataForm.controls['email']" (keyup)="issubmit=0">
        <span *ngIf="!dataForm.controls['email'].valid && dataForm.controls['email'].touched && issubmit==1" class="error">Email is required.</span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control"  placeholder="Password" [formControl]="dataForm.controls['password']" (keyup)="issubmit=0">
        <span *ngIf="!dataForm.controls['password'].valid && dataForm.controls['password'].touched && issubmit==1" class="error">Password is required.</span>
      </div>

      <div class="form-group">
        <span class="error" *ngIf="errormg!=''">{{errormg}}</span>
        <button class="signin_button">sign in</button>
      </div>

      <div class="form-group">
        <p class="register">Not registered? <span><a [routerLink]="['/get_started']"> request sign up here</a></span></p>
        <p class="forgot_pass"><a [routerLink]="['/forgetpassword']"> Forgot your password? </a></p>
        <div class="clearfix"></div>
      </div>

    </form>
  </div>


</div>

<ng-template #lockmodal>
  <div class="modal-body brandmanagement_modal successmodal_listing">
    <div class="logo_wrapper">
      <img src="assets/images/logo.png">
    </div>
    <div class="btn_cnt">
      <h3>Your account is currently locked. Please contact tom.willis@nexgentesting.com for further information.</h3>
    </div>

  </div>
</ng-template>