<!-- <app-header></app-header> -->
<div *ngIf="msgBlock.flug == 'onBoardingCall'" class="ng_success_auth_wrapper">
    <h2>Beto Paredes LLC</h2>
    <div class="content_wrap">
        Congratulations!
        You have sucessfully booked your on call with <strong>{{ this.msgBlock.name }}</strong> on <strong>{{ this.msgBlock.startTime }} {{ this.msgBlock.startDate }}</strong> for <strong>{{ this.msgBlock.eventTitle }}</strong>.
        We will get back to you soon!
    </div>

  </div>

<!-- <app-footer></app-footer> -->