<app-adminheader></app-adminheader>
<div class="page-wrapper admin_training_center_manage_popup">
  <div class="row">
    <div class="col-lg-12">
      <div class="content_header_block">
        <h3> Add a lesson</h3>
        <form novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit()">
          <div class="box-body">
            <div class="form-group">
              <label >Title :</label>
              <input type="text" class="form-control" placeholder="Title" [formControl]="dataForm.controls['title']" (keyup)="issubmit=0">
              <span class="error" *ngIf="!dataForm.controls['title'].valid && dataForm.controls['title'].touched && issubmit==1">Title is required</span>
            </div>
            <div class="form-group email_div">
              <label >Description :</label>
              <textarea class="form-control" placeholder="Description" [formControl]="dataForm.controls['description']" (keyup)="issubmit=0">
                  </textarea>
              <span class="error" *ngIf="!dataForm.controls['description'].valid && dataForm.controls['description'].touched && issubmit==1 ">Description  is required</span>
            </div>
            <div class="form-group email_div">
              <label >Media Type :</label>
              <select class="form-control"  [formControl]="dataForm.controls['filetype']" (change)="typefile()" (keyup)="issubmit=0">
                <option value="">Select Type</option>
                <option value="video">Video</option>
                <option value="audio">Audio</option>
                <option value="image">Image</option>
                <option value="html">Html</option>
                <option value="file">File</option>
              </select>
              <span class="error" *ngIf="!dataForm.controls['filetype'].valid && dataForm.controls['filetype'].touched && issubmit==1 ">Media Type is required</span>
              <div *ngIf="divforhtml">
                <ck-editor [formControl]="dataForm.controls['htmleditorvalue']" [config]="editorconfig" (keyup)="issubmit=0"></ck-editor>
                <span class="error" *ngIf="!dataForm.controls['htmleditorvalue'].valid && dataForm.controls['htmleditorvalue'].touched && issubmit==1 ">This  is required</span>
              </div>
              <div *ngIf="divforfile">
                <input type="hidden" [formControl]="dataForm.controls['fileservername']" (keyup)="issubmit=0">
                <input type="hidden" [formControl]="dataForm.controls['filelocalname']" (keyup)="issubmit=0">
                <input type="hidden" [formControl]="dataForm.controls['filelocalname']" (keyup)="issubmit=0">
                <input style="display: none" type="file" accept=".doc,.docx,.ppt,.pptx,.pdf,.txt" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileInput1 >
                <div class="button_upload">
                  <span>upload file: </span> <button (click)="fileInput1.click()" type="button">upload</button>
                </div>






                <div *ngIf="lengthis>0">
                    <span *ngIf="percentageis==100 && errormg==''">
                      <img *ngIf="last=='pdf'" src="../../assets/images/pdfimage.png"/>
                      <img *ngIf="last=='doc'" src="../../assets/images/docimage.png"/>
                      <img *ngIf="last=='docx'" src="../../assets/images/docximage.png"/>
                      <img *ngIf="last=='ppt'" src="../../assets/images/pptimage.png"/>
                      <img *ngIf="last=='pptx'" src="../../assets/images/pptximage.png"/>
                      <img *ngIf="last=='txt'" src="../../assets/images/txtimage.png"/>
                      <img *ngIf="last=='xls'" src="../../assets/images/xlsimage.png"/>
                      <label> File Name: {{nameis}}</label>
                    </span>
                  <label *ngIf="percentageis!=100 && errormg==''">Upload Percentage:{{percentageis}}%</label>
                </div>













                <span class="error" *ngIf="!dataForm.controls['fileservername'].valid && dataForm.controls['fileservername'].touched && issubmit==1 ">Upload a file!</span>
              </div>
              <div *ngIf="divforaudio">
                <input type="hidden" [formControl]="dataForm.controls['audioservername']" (keyup)="issubmit=0">
                <input type="hidden" [formControl]="dataForm.controls['audiolocalname']" (keyup)="issubmit=0">
                <input style="display: none" type="file" accept="audio/mp3 , audio/wav" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileInput1>
                <div class="button_upload">
                  <span>upload audio: </span> <button (click)="fileInput1.click()" type="button">upload</button>
                </div>
                <div *ngIf="lengthis>0">
                  <span *ngIf="percentageis==100 && errormg==''"><label style="color: #22bdff; font-family: 'OpenSansRegular'; margin-top: 5px;"> File Name: {{nameis}}</label></span>
                  <label style="color: #00c314; font-family: 'OpenSansRegular'; margin-top: 5px;" *ngIf="percentageis!=100 && errormg==''">Upload Percentage:{{percentageis}}%</label>
                  <div class="audio_wrap">
                  <audio controls *ngIf="percentageis==100 && errormg==''&& servernameis!=null">
                    <source src="{{_commonservices.uploadsslurl}}{{servernameis}}" type="audio/mp3">
                    <source src="{{_commonservices.uploadsslurl}}{{servernameis}}" type="audio/wav">
                  </audio>
                </div>
                </div>
                <span class="error" *ngIf="!dataForm.controls['audioservername'].valid && dataForm.controls['audioservername'].touched && issubmit==1 ">Upload an audio!</span>
              </div>
              <div *ngIf="divforvideo">
                <input type="hidden" [formControl]="dataForm.controls['videoservername']" (keyup)="issubmit=0">
                <input type="hidden" [formControl]="dataForm.controls['videolocalname']" (keyup)="issubmit=0">
                <input style="display: none" type="file" accept="video/mp4, video/*" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileInput1>
                <div class="button_upload">
                  <span>upload video: </span> <button (click)="fileInput1.click()" type="button">upload</button>
                </div>
                <div *ngIf="lengthis>0">
                  <span style="color: #22bdff; font-family: 'OpenSansRegular'; margin-top: 5px;" *ngIf="percentageis==100 && errormg==''"><label> File Name: {{nameis}}</label></span>
                  <label style="color: #00c314; font-family: 'OpenSansRegular'; margin-top: 5px; " *ngIf="percentageis!=100 && errormg==''">Upload Percentage:{{percentageis}}%</label>

                  <div class="upload_v">
                  <video width="auto" height="auto" controls *ngIf="percentageis==100 && servernameis!=null && errormg==''">
                    <source src="{{_commonservices.uploadsslurl}}{{servernameis}}" type="video/mp4">
                   </video>
                </div>
                </div>
                <span class="error" *ngIf="!dataForm.controls['videoservername'].valid && dataForm.controls['videoservername'].touched && issubmit==1 ">Upload a video!</span>
              </div>


              <div *ngIf="divforimage">
                <input type="hidden" [formControl]="dataForm.controls['imageservername']" (keyup)="issubmit=0">
                <input type="hidden" [formControl]="dataForm.controls['imagelocalname']" (keyup)="issubmit=0">
                <input style="display: none" type="file" accept="image/*" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileInput1>
                <div class="button_upload">
                  <span>upload image: </span> <button (click)="fileInput1.click()" type="button">upload</button>
                </div>
                <div *ngIf="lengthis>0">
                  <span style="color: #22bdff; font-family: 'OpenSansRegular'; margin-top: 5px;" *ngIf="percentageis==100 && errormg==''"><label> File Name: {{nameis}}</label></span>
                  <label style="color: #00c314; font-family: 'OpenSansRegular'; margin-top: 5px; " *ngIf="percentageis!=100 && errormg==''">Upload Percentage:{{percentageis}}%</label>

                  <div class="upload_v">
                  <img width="auto" height="auto" controls *ngIf="percentageis==100 && servernameis!=null && errormg==''" src="{{_commonservices.uploadsslurl}}{{servernameis}}">
                </div>
                </div>
                <span class="error" *ngIf="!dataForm.controls['imageservername'].valid && dataForm.controls['imageservername'].touched && issubmit==1 ">Upload an image!</span>
              </div>


              <span *ngIf="errormg">{{errormg}}</span>
            </div>
            <div class="form-group email_div">
              <label >Is there a test associated with tranning :</label>
              <input type="radio" value="yes" class="form-control radio_part" [formControl]="dataForm.controls['yesorno']" name="yesno" (keyup)="issubmit=0">
              <label>Yes</label>
              <input type="radio" value="no" class="form-control radio_part" [formControl]="dataForm.controls['yesorno']"  (keyup)="issubmit=0" name="yesno">
              <label>No</label>
              <span class="error" *ngIf="!dataForm.controls['yesorno'].valid && dataForm.controls['yesorno'].touched  && issubmit==1">This is required</span>
            </div>
            <div class="form-group email_div">
              <label >Associated Training</label>
              <select class="form-control" (change)="getdata()"  [formControl]="dataForm.controls['trainingcategory']" (keyup)="issubmit=0">
                <option value="">Select Category</option>
                <option *ngFor="let item of datalist" value="{{item._id}}">{{item.categoryname}}</option>
              </select>
              <span class="error" *ngIf="!dataForm.controls['trainingcategory'].valid && dataForm.controls['trainingcategory'].touched && issubmit==1 "> Associated Training is required</span>
            </div>

            <div>
              <label>Prerequisite Lesson :</label>
              <select class="form-control" [formControl]="dataForm.controls['prerequisite_lesson']" (keyup)="issubmit=0">
                <option value="" >Select Prerequisite Lesson</option>
                <option *ngFor="let item of datalist1" value="{{item._id}}">{{item.title}}</option>
              </select>
            </div>
          </div>
          <div class="form-group form-check custom_checkbox">
            <input type="checkbox" class="form-check-input" [formControl]="dataForm.controls['status']" (keyup)="issubmit=0">
            <label class="form-check-label">Active</label>
          </div>
          <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
            <button type="submit">Submit</button>
            <button type="button" [routerLink]="['/trainingsectionlist']">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
