<div class="nextgen_login_wrapper">

  <div class="login_container">
    <div class="logo_inner">
      <img src="assets/images/logo.png">
    </div>
    <form  novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value,successmodal)">
      <span class="has-error" *ngIf="is_error">{{is_error}}</span>
      <div class="frm_data">
        <p>Identity verified to email id link</p>
        <p *ngIf="userdetails">Username: {{userdetails[0].username}}</p>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [formControl]="dataForm.controls['password']" (keyup)="issubmit=0">
        <span class="error" *ngIf="!dataForm.controls['password'].valid && dataForm.controls['password'].touched && issubmit==1">Password field is required. & length has to be in between 8 to 15 letters</span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [formControl]="dataForm.controls['confirmpassword']" (keyup)="issubmit=0">
        <span class="error" *ngIf ="dataForm.controls['confirmpassword'].touched && !dataForm.controls['confirmpassword'].valid && issubmit==1">Passwords must match</span>
      </div>
      <div class="form-group">
   <!--     <span class="error" *ngIf="errormg!=''">{{errormg}}</span>-->
        <button class="signin_button">send email</button>
      </div>
    </form>
  </div>


</div>


<ng-template class="modaldefault" #successmodal >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="ofmodal()">&times;</button>
        <div class="logoshatterblock">
          <img src="../assets/images/logo-header.png" class="newhomelogo">
        </div>
        <p>Successfully Updated.</p>
      </div>
    </div>
  </div>
</ng-template>