@media screen  and  (max-width: 1900px){
    .admin_dashboard_container {
        background-position: 100% center;
    }
    .user_details_wrapper {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .user_details_wrapper .left_wrapper {
        width: 76%;
    }
}
@media screen and (max-width: 1880px){
    .user_details_wrapper .left_wrapper {
        width: 75.5%;
    }
}
@media screen  and  (max-width: 1800px){
    .new_header .new_header1 .new_h_l_wrapper { width: 265px; }
}
@media screen  and  (max-width: 1750px){
    .dashboard_block2 .table td, .table th {
        font-size: 14px;
    }
    .new_header_container { width: 100%; }
    .new_header .new_header4 .profile_block ul li .dropdown-menu.show{ left: -53px!important; padding: 10px!important;}
}
@media screen  and  (max-width: 1680px){
    .representative_list_wrapper {
        width: 90%;
    }
}

@media screen  and  (max-width: 1660px){

    .listevent_wrapper { width: 80%; }
    .new_header .new_header1 .new_h_l_wrapper { width: 250px; }
}
@media screen  and  (max-width: 1640px){
    .traing_innerwrapper { width: 94% }
    .traing_innerwrapper .training_leftpart { width: 100%; }
    .traing_innerwrapper .training_rightpart h1{ font-size: 21px; text-align: center; padding: 20px 5px; line-height: 23px!important; }
    .traing_innerwrapper .training_rightpart ul li a { font-size: 18px; }
    .training_leftpart .panel button{ font-size: 22px; }
    .new_header .new_header2 .navbar-nav .nav-link { font-size: 13px; }
}
@media screen  and  (max-width: 1600px){
    .admin_header .col-md-8 {  width: 78%;  }
    .admin_header .col-md-4 {  width: 22%;  }
    .new_header .new_header2 .navbar-nav .nav-link {
        padding: 0 7px;
    }
    /*.new_header .new_header4 .profile_block li a{ padding: 0px; }*/
    .new_header .new_header1 .new_h_l_wrapper {
        width: 200px!important;
    }

    .admin_dashboard_container .content_text h2{ font-size: 40px;}
}
@media screen  and  (max-width: 1570px){
    .table thead th { font-weight: 600; vertical-align: middle; }
    .dashboard_block2 .col-md-4 h3 { font-size: 25px; }
    .new_header .new_header1 .new_h_l_wrapper {
        width: 250px; margin-right: 5px;
    }


}

@media screen  and  (max-width: 1500px){
    .admin_header .col-md-8 .navbar-brand .nex_header_logo {
        width: 250px;
    }
    .admin_header .col-md-4 {
        -ms-flex: inherit!important;
        flex:inherit!important;
        max-width: inherit!important;
        width: 78%;
    }
    .admin_header .col-md-4 {
        -ms-flex: inherit!important;
        flex: inherit!important;
        max-width: inherit!important;
        width: 22%;
    }
}

@media screen  and  (max-width: 1480px){

    .listevent_wrapper .event_content_wrapper .evnt_right_content {
        width: 480px;
        float: right;
    }
    .rep_dashboard_wrapper1 {
        background-position: 75% center!important;
    }
    .dashboard_block2 .col-md-4 button {
        font-size: 26px;
        padding: 1px 10px;
    }
    .listevent_wrapper .event_content_wrapper .evnt_right_content form .form-group .select_inpu2 { width: 215px; }
    .listevent_wrapper .event_content_wrapper .evnt_left_content form .form-group .select_inpu2 { width: 220px; }
    .new_header .new_header2 .navbar-nav .nav-link { padding: 0 5px; }
}
@media screen  and  (max-width: 1440px){
    .traing_innerwrapper .training_rightpart h1{ font-size: 20px; }

    .training_leftpart .panel .card-body{ height: auto; padding: 55px 0; }
    .training_leftpart .accordian_image {
        background: #fff;
        width: 75%;
        top: 0;
        position: inherit;
        left: 0;
        transform: inherit;
        margin: 0 auto;
    }
    /*change*/
    /*.mark_done { bottom: 10px; }*/
    .mark_done { bottom: 4px; }
    .admin_header .col-md-8 { width: 77%; }
    .admin_header .col-md-4 {   width: 23%;  }
    .nexgen_header_wrapper .social_media_container p {
        font-size: 15px;
    }
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav .nav-link{ font-size: 12px; }
    .new_header_container { width: 100%; }
    .rep_dashboard_wrapper2 .inner_content h2{ font-size: 50px; }
}
@media screen  and  (max-width: 1440px){
    .new_header .new_header2 .navbar-nav .nav-link {
        padding: 0 4px;
        text-align: center;
    }
}
@media screen  and  (max-width: 1400px){

    .admin_dashboard_container .content_text p { font-size: 18px;}

    .new_header .new_header2 .navbar-nav{ padding: 0 15px;}
/*    .r_r_dashboard_innerblock {
        width: 95%;
    }*/
    .new_header .new_header1 .new_h_l_wrapper {
        width: 195px!important;
        margin-right: 0;
    }
    /*.rep_dashboard_wrapper1 {*/
    /*background-position: 45% center!important;*/
    /*background-size: 167%!important;*/
    /*}*/
}
@media screen  and (max-width: 1366px){
    .user_details_wrapper .left_wrapper .doctor_section .doctor_other_list{ float: right; width: 49%; }
    .user_details_wrapper .left_wrapper .doctor_section label { margin-right: 5px; }

    .listevent_wrapper .event_content_wrapper .evnt_right_content form .btn_search,
    .listevent_wrapper .event_content_wrapper .evnt_left_content form .btn_search { font-size: 18px;}
    .listevent_wrapper .event_content_wrapper .evnt_right_content h3 { font-size: 18px; }


}

@media screen  and (max-width: 1348px){

    .listevent_wrapper .form-control {
        border-radius: 0px!important;
        width: 250px;
        float: left;
    }

    .listevent_wrapper .event_content_wrapper .evnt_right_content form .btn_search, .listevent_wrapper .event_content_wrapper .evnt_left_content form .btn_search{  padding: 5px 10px 5px 10px;  }

    .listevent_wrapper .event_content_wrapper .evnt_left_content {
        width: 480px;
        float: left;
    }
}
@media screen  and (max-width: 1340px){
    .dashboard_block2 .col-md-4 button {
        font-size: 24px;
        line-height: 23px;
        padding: 10px;
    }
  /*  .rep_dashboard_wrapper1 {
        background-position: 30% center!important;
    }*/

    .new_header .new_header2 .navbar-nav .nav-link {
        font-size: 12px;
    }
}
@media screen  and  (max-width: 1300px){


  /*  .listevent_wrapper .event_content_wrapper .evnt_right_content form .btn_search,
    .listevent_wrapper .event_content_wrapper .evnt_left_content form .btn_search {
        font-size: 16px;
        padding: 4px 10px 0px 10px;
    }*/
    .listevent_wrapper .event_content_wrapper .evnt_right_content h3 { font-size: 16px; }
    .listevent_wrapper .event_content_wrapper .evnt_left_content form .form-group .select_inpu2 { width: 190px; }

    .listevent_wrapper .event_content_wrapper .evnt_right_content {
        width: 460px;
        float: right;
    }
}
@media screen  and  (max-width: 1280px){
    .user_details_wrapper .left_wrapper .doctor_section .doctor_other_list{ float: right; width: 48%; }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a{ font-size: 16px!important; margin-bottom: 10px;}

    .admin_dashboard_container .content_text h2 {
        font-size: 34px;
    }
    .listevent_wrapper {
        width: 90%;
    }
}
@media screen  and  (max-width: 1240px){
    .rep_dashboard_wrapper1 {
        background-position: 90% center!important;
    }
    .training_leftpart .carousal_content .carousel-caption{ width: 80%; padding: 30px; }
    .training_leftpart .carousel .carousel-control-next, .carousel-control-prev{ width: 8%!important; }
    .training_leftpart .carousel .carousel-control-next, .carousel-control-next{ width: 8%!important; }

    .user_details_wrapper .left_wrapper .doctor_section .doctor_other_list{ float: right; width: 45%; }
    .resources_content_wrapper .inner_resources_block{ width: 100%!important; }
    .resources_content_wrapper .m_wrapper { width: 90%!important; }
}


@media screen and (max-width: 1199px) {



    .listevent_wrapper .event_content_wrapper .evnt_left_content {
        width: 480px;
        float: none;
        margin: 0 auto;
    }

    .listevent_wrapper .event_content_wrapper .evnt_right_content {
        width: 448px;
        float: none;
        margin: 0 auto;
    }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock {
        flex-direction: column;
        align-items: center;
    }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section h3{ margin-bottom: 13px;}
    .admin_dashboard_container {
        background: #16343c url("../images/dashboardbg_small.jpg") no-repeat center top;
        background-size: 100%;
        padding-top: 64%;

    }
    .user_account_setting_wrapper .account_inner_wrapper .form_wrapper{  width: 100%  }

    .rep_dashboard_wrapper1 {
        background: #16343c !important;
        background-size: 100% !important;
        padding-top: 0;
        height: auto;
    }
    .avivideowrapper {
        position: relative;
        right: inherit;
        top: inherit;
        transform: inherit;
        padding: 20px 0;
        margin: 0 auto;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .admin_dashboard_container{ height: auto;   padding-left: 0;  padding-right: 0; padding-bottom: 5px;}

    .admin_dashboard_container .content_text {
        width: 100%;
        height: auto;
        display: block;
        vertical-align: middle;
        text-align: center; padding: 25px;
    }

    .admin_dashboard_container .content_text h2 {
        font-size: 54px;
    }

    .admin_dashboard_container .content_text p {
        color: #fff;
    }

    .user_management_wrapper .user_management_inner .inner_content_wrapper {
        width: 100% !important;
        display: inline-block;
        text-align: center;
    }


    .user_management_wrapper .user_management_inner .inner_content_wrapper h3:nth-last-of-type(1) {
        float: none;
    }

    .user_management_wrapper .user_management_inner .inner_content_wrapper .search_content:nth-child(1) {
        margin-bottom: 10px;
    }

    /*Table Responsive*/
    table {
        display: block;
        width: 100%;
    }

    tr {
        display: block;
        width: 100%;
    }

    th {
        display: block;
        width: 100%;
    }

    td {
        display: block;
        width: 100%;
    }

    thead {
        display: block;
        width: 100%;
    }

    tbody {
        display: block;
        width: 100%;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .dashboard_block2 .col-md-4 .reps_inner_block1 table tbody tr {
        margin-bottom: 15px;
        background: #228e06;;
    }

    .dashboard_block2 .col-md-4 .reps_inner_block2 table tbody tr {
        margin-bottom: 15px;
        background: #7305a2;
    }

    .dashboard_block2 .col-md-4 .reps_inner_block3 table tbody tr {
        margin-bottom: 15px;
        background: #f5c89f;
    }

    table tr td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 52% !important;
        white-space: normal;
        text-align: left;

    }

    td:after {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 12px;
        left: 6px;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        content: attr(data-title);
    }


    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 12px;
        left: 6px;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: normal;
        content: attr(datalabel);     color: #00a8ef; text-transform: capitalize;
    }

    .newaddeventformclass  tbody{ display: table; width: auto!important;}

    .newaddeventformclass  table{ display: table;}
    .newaddeventformclass  table tr{ display: table-row; width: auto!important;}

    .newaddeventformclass  table tr td {    padding-left: 0 !important; display: table-cell; width: auto!important; text-align: inherit;}

    .nextGen_admin_mainwrapper .nexgen_admin_table {
        padding-right: 0;
    }

    /*Training center dashboard*/
    .traing_innerwrapper .training_leftpart {
        width: 100%;
        float: none;
    }



    .training_leftpart .accordian_image {
        background: #fff;
        width: 80%;
        top: 0;
        position: inherit;
        left: 0;
        transform: inherit;
        padding: 40px 20px;
        margin: 0 auto;
    }


    .dashboard_block2 .col-md-4 button {
        font-size: 20px;
    }

    .dashboard_block2 .table td, .table th {
        width: 100%;
    }

    .admin_header .col-md-8 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .admin_header .col-md-4 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .training_leftpart .accordian_image .content_area p p:nth-child(2){ font-size: 20px; margin-top: 20px; }
    .new_header { flex-direction: column; }
    .new_header2{ width: 100%;}
    .new_header .new_header2 .navbar-collapse{ margin-bottom: 15px; }

    .listevent_wrapper .event_content_wrapper .evnt_left_content {
        flex: 1;
        justify-content: center;
        margin-bottom: 10px;
    }
    .listevent_wrapper .event_content_wrapper .evnt_right_content {
        flex: 1;
        justify-content: center;
    }
    /*change*/
    .single_content .inner_content_wrapper{
        width: 100%!important;
    }
    /* .user_details_wrapper {
         width: 95%;
         flex-direction: column-reverse;
     }

     .user_details_wrapper .right_wrapper {
         width: 390px;
         margin-left: 0;
         float: none;
         margin: 0 auto;
         margin-bottom: 15px;
     }
     .user_details_wrapper .left_wrapper {
         width: 100%;
     }
     .new_header .new_header2 { padding-top: 15px; }*/

    .new_header .new_header2 .navbar-nav{ margin-top: 10px!important; display: flex; flex-wrap: wrap; justify-content:center;  }
    .new_header .new_header2 .navbar-nav .nav-link {
        padding: 6px 10px;
        margin-bottom: 3px;
        font-size: 15px;
    }
    .booknowmodal {
        width: 90%!important;
        max-width: 100%!important;
        margin: 50px auto;
    }
    .listevent_wrapper { width: 90%; }
    .new_header .new_header4 .profile_block li a {
        width: 68px;
    }
}


@media screen and (max-width: 1040px) {

    .rep_dashboard_wrapper3{ width: 100%;}
    .dashboard_block2 .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .dashboard_block2 {
        padding: 0 15px; margin-top: 15px;
    }

    .dashboard_block2 .col-md-4{ padding: 0px;}
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock .abcde a:first-child{margin-right: 10px;}
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock .abcde a{ margin-bottom: 0;}
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock .abcde{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 992px) {

    .new_header .new_header4 .profile_block ul li .dropdown-menu.show {
        left: -53px!important;
        padding: 0px!important;
        background: #fff!important; border-radius: 5px!important; border: solid 1px #ccc!important;
    }



    .dropdown-menu { margin: 0; padding: 0px;}


    .dropdown-menu.show {
        display: block;
        border: none;
        border-radius: 0px; background: #c1c3c3;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: 8px 5px;
        clear: both;
        font-weight: 400;
        color: #212529;

        white-space: nowrap;
        background-color: transparent;
        border: 0;
        text-align: center; border-top: solid 1px #fff; border-bottom: solid 1px #fff;
    }
    .user_management_wrapper .user_management_inner .inner_content_wrapper .search_content{margin-right: 5px!important;}
 /*   .new_header .new_header2 .navbar-nav .nav-link {
        padding: 10px 0;
        font-size: 14px;
    }*/
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a{ font-size: 16px;}
    /*change*/
    /*.new_header .new_header2 .navbar-nav .nav-item {
        margin-right: 0;
        background: #ffffff;
        margin: 5px 0;
        padding: 10px 0;
    }*/
  /*  .new_header .new_header2 .navbar-nav .nav-item {
        color: #3d3d3d!important;
        background: #fff;
        border-bottom: 1px solid #c1c1c1;
    }*/


    .new_header .new_header2 .navbar {
        padding: 0 !important;
        text-align: left;
        justify-content: space-between;
        margin: 15px 0;
    }

    .admin_header .row .col-md-8 {
        -ms-flex:none!important;
        flex: none!important;
        max-width: none!important;
    }
    .admin_header .col-md-4 {
        -ms-flex: 0 0 100%!important;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }

    .rep_dashboard_wrapper2 {
        position: inherit;
        background-position: 0% top;
        padding-top: 37%;
        background-size: 220%;
    }
    .rep_dashboard_wrapper2 .inner_content {
        position: inherit;
        top: 0;
        left: 0;
        transform: inherit;
        background: #ae3bde;
        padding: 30px;
        padding-top: 20px;     text-align: center;
    }
    .rep_dashboard_wrapper2 .inner_content h4{ margin-bottom: 8px;}
    .rep_dashboard_wrapper2 .inner_content h2 {
        font-size: 44px;
        margin-bottom: 15px;
    }
    .traing_innerwrapper .training_rightpart ul li a{ padding: 10px 18px; }

    .admin_training_center_manage_popup{ width: 85%; }
    .traing_innerwrapper{ flex-direction: column-reverse;}
    .traing_innerwrapper .training_rightpart {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-top: 15px;
    }
    .traing_innerwrapper {
        width: 90%;
    }
    .sales_agreement_wrapper .sales_inner_wrapper{ padding: 15px;}
    .resources_content_wrapper .inner_resources_block .main_div {
        width: 29%;
    }
}


@media screen and (max-width: 840px) {
    .listevent_inner_wrapper .main_inner_content>div { width: 49.4%; }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a {
        font-size: 14px;
        padding: 8px 15px 7px;
    }
}
@media screen and (max-width: 800px) {
    .manageavilability_wrapper .avail_search_sec .search_content .button_responsive { display: block; width: 100%;  margin-top: 10px; }
}
@media screen and (max-width: 768px) {
    .resources_content_wrapper .m_wrapper {
        width: 95%!important;
    }
    .resources_wrapper h3 { font-size: 22px!important;  padding: 0 10px!important; }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock {
        align-items: center;
        flex-direction: column;
    }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section h3{ margin: 0px 0px 15px 0px; }
    .dashboard_block2 .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .training_leftpart .accordian_image {
        padding: 40px 10px;
    }
    .training_leftpart .accordian_image .content_area p p:nth-child(1){ font-size: 40px; line-height: 40px; }
    .training_leftpart .accordian_image .content_area p p:nth-child(3){ font-size: 30px; line-height: 35px;}
    .rep_dashboard_wrapper3 .row .col-md-4 {
        padding-left: 0;
        margin: 0 auto;
        display: block;
        width: 100%;
        text-align: center;
    }
    .rep_dashboard_wrapper3 button{   width:320px;}

    .rep_dashboard_wrapper3 .row .col-md-4 {
        padding-left: 0;
        flex: 100%;
        max-width: 100%;
    }

    .rep_dashboard_wrapper3 :nth-of-type(2) button{ margin-top: 0px;}
    .rep_dashboard_wrapper3 .row .col-md-4 {
        padding-left: 0;
        padding-right: 0;
    }
    .rep_dashboard_wrapper3 .row .col-md-4:nth-child(3){ margin-bottom: 15px; }
    .dashboard_block2 .col-md-4:nth-last-child(1) {
        padding-right: 0px;
    }
    .copyurlbtn{ margin-top: 0;}
    .user_details_wrapper .left_wrapper .doctor_section .doctor_other_list {
        float: none;
        width: 100%;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: inherit;
        -webkit-box-flex: inherit;
        -ms-flex-positive: 1;
        flex-grow: inherit;
        max-width: 100%;
    }
    .signup_wrapper .inner_block .form_section .form-row>.col, .form-row>[class*=col-] {
        padding-right: 0px!important;
    }
    .user_details_wrapper .s_part_wrapper .col-md-8 .col-md-6 {
        padding-left: 0;
        padding-right: 0;
    }
    .form-groupnewlink { padding-right: 0; }
    .s_part_wrapper .form-groupnew4 .col-sm-12 {  padding-right: 0; }
    .user_management_wrapper .user_management_inner h2 { font-size: 30px; }
}
@media screen and (max-width: 730px) {
    .resources_content_wrapper .inner_resources_block .main_div {
        width: 40%;
    }
}
@media screen and (max-width: 720px) {

    .listevent_wrapper .form-control{ width: 100%; float: none;}

    .listevent_wrapper .event_content_wrapper .evnt_right_content form .btn_search, .listevent_wrapper .event_content_wrapper .evnt_left_content form .btn_search{ display: block; margin: 5px auto;}
    .listevent_wrapper .event_content_wrapper .evnt_right_content form .form-group {
        margin-bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .listevent_wrapper .event_content_wrapper .evnt_right_content h3 {
        display: block;
    }
    .listevent_wrapper .event_content_wrapper .evnt_right_content form .btn_search, .listevent_wrapper .event_content_wrapper .evnt_left_content form .btn_search {
        font-size: 18px;
        padding: 4px 10px 4px 10px;
    }
    .listevent_wrapper .event_content_wrapper .evnt_left_content form button:nth-last-child(1) {
        display: block;
        text-align: center;
        margin: 10px auto;
    }
    .listevent_wrapper .event_content_wrapper .evnt_right_content{ width: 100%;}
    .listevent_wrapper .event_content_wrapper .evnt_right_content form .form-group .select_inpu2 {
        width: 100%;
        margin: 7px 0 14px;
    }
    .listevent_wrapper .event_content_wrapper .evnt_left_content form .form-group .select_inpu2 {
        width: 200px;
        display: inline-block;
    }
    .listevent_wrapper .event_content_wrapper form .form-group {
        display: block;
        margin-bottom: 0;
    }
    .listevent_wrapper .event_content_wrapper .evnt_left_content {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
        flex: inherit;
        justify-content: inherit;
    }
    .listevent_wrapper .event_content_wrapper .evnt_right_content {
        flex: inherit;
        justify-content: inherit;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr td video{ width: 100%; height: auto; }
    .user_account_setting_wrapper .account_inner_wrapper .form_wrapper form .col-sm-2{
        display: block;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .user_account_setting_wrapper .account_inner_wrapper .form_wrapper form .col-sm-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 680px) {
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock .abcde{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a {
        width: 300px!important;
        margin: 5px 0;

        text-align: center; padding: 6px!important; padding-right: 0!important;
    }
    .listevent_wrapper {
        width: 90%;
    }
    .one{
        width: 48%!important;
    }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock .slotadd{ margin-right: 0!important;}
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a:first-child{ margin-right: 0!important;}
}
@media screen and (max-width: 650px) {
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock{ display: block; text-align: center; }

    .listevent_inner_wrapper .main_inner_content>div { width: 100%; }
    /*change*/
    .modal_test .modal-content {
        padding: 0px!important;
    }
    .nextGen_admin_mainwrapper .single_content .search_content h3 span{
        display: block!important;
        margin-bottom: 15px!important;
    }
    .booknowmodal .slotevent h3{ font-size: 34px; line-height: 30px; }
}
@media screen and (max-width: 576px) {
    .resources_content_wrapper .inner_resources_block .main_div {
        width: 43%;
    }
    .training_leftpart .accordian_image {
        width: 90%;
    }

    .training_leftpart .panel button {
        font-size: 18px;
        text-align: center;
        width: 100%;
        word-break: break-all;
        white-space: normal;
    }
    .training_leftpart .card-header{ padding: 5px 0; }
    .nexgen_header_wrapper { width: 100%; }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a {
        width: 100%;
    }

}
/*@media screen and (max-width:520px) {*/
@media screen and (max-width:580px) {
    .aviiframewrapper {width: 93%;}
}
@media screen and (max-width:580px) {
    .user_management_wrapper .user_management_inner .inner_content_wrapper input {
        margin-bottom: 10px;
        width: 95%;
        margin-top: 7px;
    }
    .user_management_wrapper .user_management_inner .inner_content_wrapper button {
        width: 95%;
        margin-left: 0;
    }
    .rep_dashboard_wrapper2 .inner_content h2 {
        font-size: 36px;
    }
    .manageavilability_wrapper .avail_search_sec .search_content .search_hint {
        font-size: 18px;
        color: #fff;
        display: block;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:480px) {
    .resources_content_wrapper .inner_resources_block .main_div .for_content p{ word-break: break-all;}
    .user_management_wrapper .user_management_inner .inner_content_wrapper .search_content{ margin-right: 0!important;}
    .one{ width: 100%!important; }
    .booknowmodal .slotevent h3{ font-size: 30px; }

    .admin_dashboard_container .content_text h2 {
        font-size: 36px;
    }

    .dashboard_block2 .col-md-4 button {
        font-size: 20px;
        float: none;
        margin: 0 auto;
        display: block;
    }

    .rep_dashboard_wrapper2 .inner_content .appointment_booking_button {
        font-size: 20px;
    }

    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section {
        text-align: center;
    }

    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section h3 {
        display: block;
        margin-bottom: 10px;
    }

    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a {
        float: none;
    }

    .admin_training_center_manage_popup .content_header_block .upload_v {
        width: 100%;
    }

    .admin_training_center_manage_popup .content_header_block .upload_v video {
        width: 100%;
        height: auto;
    }

    .tc_modal_wraapper {
        max-width: 95% !important;
    }

    .tc_modal_wraapper .modal-body .terms_logo_wrapper {
        width: 95%;
    }

    .training_leftpart .accordian_image .content_area p p span span span {
        font-size: 34px;
    }

    .training_leftpart .accordian_image .content_area p .O0 span span span strong {
        font-size: 16px !important;
        line-height: 28px;
    }

    .training_leftpart .accordian_image .content_area p p:nth-child(2) {
        margin-bottom: 0;
    }

    .training_leftpart .accordian_image .content_area p .O1 span span span strong {
        font-size: 18px !important;
    }

    .training_leftpart .accordian_image .content_area p .O0 {
        margin-left: 0 !important;
    }

    .training_leftpart .accordian_image .content_area p .O0 .O0 {
        margin-left: 0 !important;
    }

    .training_leftpart .accordian_image .content_area p .O3 {
        margin-left: 5px !important;
    }

    .training_leftpart .accordian_image .content_area p .O3 span span span {
        font-size: 28px !important;
    }
    /*change*/
    /*.user_account_setting_wrapper .account_inner_wrapper {*/
    /*width: 93%;*/
    /*}*/
    .nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper .download, .nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper .view{
        display: block;
        text-align: center;
    }
}



@media screen and (max-width: 450px) {
    .resources_content_wrapper .inner_resources_block .main_div {
        width: 80%;
    }
    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a { width: 91% !important; }
}
@media screen and (max-width: 430px) {

    .training_leftpart .accordian_image .content_area p p:nth-child(2){ margin-bottom: 15px; }
    .training_leftpart .accordian_image .content_area p p:nth-child(1){ margin-bottom: 20px; }
    .rep_dashboard_wrapper2 .inner_content .appointment_booking_button {
        font-size: 16px;
        padding: 10px 0;
        width: 100%;
    }
    .listevent_wrapper {
        width: 90%;
    }
    .listevent_wrapper .event_content_wrapper .evnt_left_content form .form-group .select_inpu2 {
        width: 100%;
        display: block;
    }
    .listevent_wrapper .event_content_wrapper .evnt_right_content form .btn_search, .listevent_wrapper .event_content_wrapper .evnt_left_content form .btn_search {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .listevent_wrapper .event_content_wrapper .evnt_right_content { width: 100%;  }
    .listevent_wrapper .event_content_wrapper .evnt_right_content form .form-group .select_inpu2 { width: 100%; margin-bottom: 0; }
    .newaddeventformclass .form-group:nth-child(13) {
        width: auto;
    }
}

@media screen and (max-width: 411px) {
    .user_details_wrapper .right_wrapper { width: 100%; }
    .details_header h2 { font-size: 38px; }
}
@media screen and (max-width:360px) {
    .dashboard_block2 .col-md-4 button {
        display: block;
        width: 100%;
        font-size: 18px;
        padding: 8px 0!important;
    }
    .dashboard_block2 .col-md-4 table {
        margin-bottom: 45px!important;
    }
    .dashboard_block2 .col-md-4 h3 {
        text-align: center;
        font-size: 28px;
    }

    table tr td {
        padding-left: 50% !important;
    }

    td {
        font-size: 15px;
    }

    td:before {
        font-weight: 600;
    }

    .nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr td .email {
        word-break: break-all;
    }

    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section h3 {
        display: block;
        font-size: 20px;
        margin-bottom: 14px;
        text-align: center;
    }

    .admin_dashboard_container .content_text {
        padding: 20px;
    }

    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a {
        font-size: 18px;
        float: none;
        padding: 8px 15px 8px 15px;
    }

    .rep_dashboard_wrapper3 button {

        width: 290px;
    }

    .rep_dashboard_wrapper2 .inner_content {
        padding: 20px;
    }

    .admin_training_center_manage_popup .col-lg-12 {
        margin: 0;
        padding: 0;
    }

    .admin_training_center_manage_popup .content_header_block h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .tc_modal_wraapper .modal-body .terms_logo_wrapper {
        width: 100%;
    }
    /*change*/
    .dashboard_block2{ display: flex; width: 100%; flex-direction: column;}
    .dashboard_block2 .col-md-4 button{padding: 0;display: block;width: 100%;
        font-size: 18px;
        position: inherit;
        right: 0;
        left: 0;
    }


    .user_details_wrapper .left_wrapper h3 {
        font-size: 28px;
    }
    .details_header h2 { font-size: 31px; }


    .nextGen_admin_mainwrapper .nexgen_admin_table .action_section a {
        width: 100%!important;}
}

/*change*/
@media screen and (max-width:360px) {
    .booknowmodal .slotevent h3 {
        font-size: 26px;
    }
    .resources_wrapper .resources_header1 {
        font-size: 30px;
    }
    .resources_wrapper h3 { font-size: 18px!important; }
    .resources_content_wrapper .inner_resources_block_head {
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
}
@media screen and (max-width:320px) {
    .dashboard_block2 .col-md-4 .reps_inner_block1,
    .dashboard_block2 .col-md-4 .reps_inner_block2,
    .dashboard_block2 .col-md-4 .reps_inner_block3 {
        padding: 5px;
    }
}




/*----------------------------------------------------*/

@media screen and (max-width:1740px) {

    .rep_dashboard_newblock6 {padding: 0 520px 0 80px;  }

}

@media screen and (max-width:1700px) {
    .rep_dashboard_newblock4 { padding: 0 640px 0 100px;  }

}




@media screen and (max-width:1600px) {
    .new_header .new_header2 .navbar-nav li .blackbtn {margin-top: -5px;}
    .rep_dashboard_newblock5 { padding: 0 50px 0 600px;  }


    .rep_dashboard_newblock2_subblock_wrapper{   padding: 50px }

    .rep_dashboard_newblock2_subblock_wrapper ul {
        margin: 20px 0 10px 460px!important;}
    }

@media screen and (max-width:1540px) {

    .rep_dashboard_newblock2{ background-position: -50px top;     padding: 0 15% 0 610px;}

    .rep_dashboard_newblock6 {
        padding: 0 440px 0 80px;
    }
}


@media screen and (max-width:1460px) {

    .rep_dashboard_newblock3_sub {
        width: 32.3%;  margin: 0.5%;
    }

    .rep_dashboard_newblock6 {
        padding: 0 440px 0 40px;
    }

    .rep_dashboard_newblock6{ background-position: -360px top;}
}


@media screen and (max-width:1400px) {
    .rep_dashboard_newblock6 {
        padding: 0 340px 0 40px;
    }
}


@media screen and (max-width:1360px) {

    .rep_dashboard_newblock2{     padding: 0 25px 0 580px;}

    .rep_dashboard_newblock5 {
        padding: 0 50px 0 500px;
        background-position: -90px top;
    }

    .rep_dashboard_newblock6 {
        background-position: -460px top;
    }

    .rep_dashboard_newblock6_wrapper h4 { font-size: 22px;}
}

@media screen and (max-width:1280px) {

    .repdashboardhewading1{ font-size: 34px!important; line-height: 40px!important;}

    .rep_dashboard_wrapper2_btn_wrapper_sub{ display: block;}

    .rep_dashboard_wrapper2_btn_wrapper a{  width: 50%; display: block; float: left; font-size: 24px;}

    .rep_dashboard_newblock4_wrapper h2 { font-size: 48px;}
    .rep_dashboard_newblock5_wrapper h2 { font-size: 48px;}

    .rep_dashboard_newblock6 {
        background-position: -580px top;
    }


}

@media screen and (max-width:1260px) {
    .new_header .new_header2 .navbar-nav li .blackbtn {padding: 5px;    font-size: 12px;}
    .new_header .new_header1 .new_h_l_wrapper {width: 177px!important;}
}
@media screen and (max-width:1199px) {
    .new_header .new_header2 .navbar-nav li .blackbtn {
        margin: 0;
        font-size: 16px;
        margin-top: 5px !important;
        padding: 5px 15px 4px 15px;
    }
    .libtnwrapper{display: block; text-align: center; width: 100%;}
    .new_header .new_header1 .new_h_l_wrapper {
        width: 250px!important;
    }
    .contentnewcon1wrapper{ width: 990px; margin-left: auto;}

    .contentnewcon1{ width: 470px;}

    .contentnewcon1 .form-group {
        width: 225px!important;
    }

    .contentnewcon1:nth-of-type(2) .form-group {
        width: 356px!important;
    }

    .contentnewcon1:nth-of-type(2) .form-groupbtndiv{ width: 100px!important;   }

    .contentnewcon1 .form-groupbtndiv{ width: 230px!important;  float: right;}


    .rep_dashboard_newblock2_subblock{ background-image: none; background-color: #f4eade;}

    .rep_dashboard_newblock2_subblock_wrapper{ background-position: center bottom; padding: 30px 15px 700px 15px; text-align: center;}

    .rep_dashboard_newblock2_subblock_wrapper ul{ margin: 20px 0 10px 0px!important; padding: 0 0 0 0!important; border: none; }

    .rep_dashboard_newblock2_subblock_wrapper ul li{ background-position: center top; margin: 10px 0;     padding: 24px 0 16px 0;}



    .rep_dashboard_newblock2{ background-position: left top;     padding: 51% 15px 25px 15px; background-size: 270%; background-color: #1883bf;}

    .rep_dashboard_newblock2_wrapper {
        display: block;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .rep_dashboard_newblock2_wrapper p{ border: none; padding: 0px;     margin: 5px 0 0 0;}


    .rep_dashboard_newblock3_sub {
        width: 49%;  margin: 0.5%;
    }

    .rep_dashboard_newblock3 p{ width: 100%;}


    .rep_dashboard_newblock4{ background-position: right top;     padding: 56% 15px 25px 15px; background-size: 300%; background-color: #1883bf;}

    .rep_dashboard_newblock4_wrapper {
        display: block;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .rep_dashboard_newblock4_wrapper  p{border: none; padding: 0px;     margin: 5px 0 0 0;}



    .rep_dashboard_newblock5 {
        background-position: left top;
        padding: 109% 15px 25px 15px;
        background-size: 280%;
        background-color: #bdc9cc;
    }

    .rep_dashboard_newblock5_wrapper {
        display: block;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .rep_dashboard_newblock5_wrapper  p{border: none; padding: 0px;     margin: 5px 0 0 0;}


    .rep_dashboard_newblock6 {
        background-position: right top;
        background-size: 200%;   padding: 88% 15px 40px 15px; background-color: #becfe3;
    }

    .rep_dashboard_newblock6_wrapper {
        display: block;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: auto;
    }

    .rep_dashboard_newblock6_wrapper  p{border: none; padding: 0px;     margin: 5px 0 0 0;}

    .rep_dashboard_newblock6_wrapper .as_video-container {
        width: 48%;
        float: left;
        margin: 35px 1%;
    }

    .bs-datepicker-body table{ display: table;}
    .bs-datepicker-body thead{ display: table;}
    .bs-datepicker-body tr{ display: table-row;}
    .bs-datepicker-body td{ display: table-cell; padding-left: 0px!important;}
}


@media screen and (max-width:1150px) {
    .contentnewcon1wrapper {
        width: 100%;
    }

    .contentnewcon1 {
        float: none!important; margin: 5px auto!important;
    }

    .contentnewcon1:nth-of-type(2){ float: none!important;}

    .contentnewcon1:nth-of-type(3) {
        width: 470px!important;}

    .contentnewcon1:nth-of-type(3) .form-group {
        width: 100%!important;
    }
}

@media screen and (max-width:1060px) {

    .rep_dashboard_wrapper2_btn_wrapper a{   font-size: 22px;}
}


@media screen and (max-width:992px) {

    .rep_dashboard_wrapper2_btn_wrapper a{   font-size: 30px;}

    .new_header_bg{ position: relative; padding-bottom: 0px;}

    .new_header4{ position: absolute!important; right: 0px!important; top: 85px!important;}
}


@media screen and (max-width:820px) {

    .rep_dashboard_wrapper2_btn_wrapper a{   font-size: 30px; float: none; width: 100%;}

    .rep_dashboard_newblock6_wrapper .as_video-container {
        width:100%;
        float: none;
        margin: 35px 0 0 0;
    }
}




@media screen and (max-width:720px) {
    .rep_dashboard_newblock3_sub {
        width: 100%;  margin: 10px 0;
    }

    .rep_dashboard_newblock2{   padding: 52% 15px 25px 15px;  }

    .rep_dashboard_newblock4_wrapper h2 { font-size: 40px;}
    .rep_dashboard_newblock2_wrapper h2 { font-size: 40px;}
    .rep_dashboard_newblock3_wrapper h2 { font-size: 40px;}
    .rep_dashboard_newblock5_wrapper h2 { font-size: 40px;}
    .rep_dashboard_newblock6_wrapper h2{ font-size: 40px;}
    .rep_dashboard_newblock2_wrapper h2 {
        font-size: 30px;
        line-height: 32px;}

    .rep_dashboard_newblock3 h2{ font-size: 30px;}

    .rep_dashboard_newblock2_subblock_wrapper h2{ font-size: 40px; }

    .rep_dashboard_newblock3_sub h6{ height: auto; display: block; width: 100%; padding: 10px;}

    .ngcontainerdivwrapper{  width: 100%; }

    .main_inner_contentnew .form-group{  width: 300px;  float: none; margin-left: auto!important; margin-right: auto!important; }
}

@media screen and (max-width:640px) {

    .contentnewcon1 { width: 90%!important;
        float: none !important;
        margin: 5px auto !important;
    }

    .contentnewcon1:nth-of-type(3) {
        width: 90%!important;}

    .contentnewcon1:nth-of-type(3) .form-group {
        width: 100%!important;
    }

    .contentnewcon1 .form-group {
        width: 100%!important;
    }

    .contentnewcon1 .form-groupbtndiv {
        width: 210px!important;
        float: none;  margin: 0px auto !important;
    }

    .contentnewcon1:nth-of-type(2) .form-group {
        width: 100%!important;
    }

    .contentnewcon1:nth-of-type(2) .form-groupbtndiv {
        width: 88px!important; float: none;  margin: 0px auto !important;
    }

    .form-groupbtndiv button {
        cursor: pointer;
        padding: 5px 8px 4px 8px;}

}


@media screen and (max-width:480px) {
    .rep_dashboard_newblock2_subblock_wrapper {
        background-size: 100%;
        padding: 30px 15px 152% 15px;
        text-align: center;
    }

    .main_inner_contentnew .form-group{  width: 100%;   }

}




/*----------------------------------------------------*/


@media screen and (max-width: 1880px) {
    .reptrainingcenter_banner .reptrainingcenter_banner_wrapper {
        padding: 0 560px 0 60px;
    }
}
@media screen and (max-width: 1750px) {

    .reptrainingcenter_banner{ padding-right: 30px; background-size: cover;}
    /* .reptrainingcenter_banner .reptrainingcenter_banner_wrapper{ padding: 0 450px 0 60px;} */

}

@media screen and (max-width: 1730px) {
    .new_subblockcon .new_subblockcon_text{ width: 64%; }
}

@media screen and (max-width: 1700px) {
    .reptrainingcenter_banner_wrapper_text h2 {
        font-size: 56px;
    }
}

@media screen and (max-width: 1680px) {
    .reptrainingcenter_banner .reptrainingcenter_banner_wrapper {
        padding: 50px 396px 50px 60px;
    }
    .reptrainingcenter_banner_wrapper .reptrainingcenter_banner_wrapper_text p {
        padding-right: 421px;
    }
}
@media screen and (max-width: 1580px) {
    .reptrainingcenter_banner_wrapper_text h2 {
        font-size: 46px;
    }
}

@media screen and (max-width: 1460px) {
    .reptrainingcenter_banner {background-position: right -132px top;}
}
@media screen and (max-width: 1400px) {
    .new_subblockcon .new_subblockcon_text{ width: 70%; }

    .reptrainingcenter_banner_wrapper_text p { font-size: 20px;}

    .reptrainingcenter_banner_wrapper_text h3 { font-size: 20px;}


}

@media screen and (max-width: 1300px) {
    .reptrainingcenter_banner_wrapper .reptrainingcenter_banner_wrapper_text p {
        padding-right: 317px;
    }
}
@media screen and (max-width: 1199px) {
    .reptrainingcenter_banner_wrapper .reptrainingcenter_banner_wrapper_text h3 {
        color: #191919;
        width: 100%;
    }
    .reptrainingcenter_banner_wrapper .reptrainingcenter_banner_wrapper_text p {
        padding-right: 0;
    }
    .rep_dashboard_newblock6_topnew_wrapper_text{  display: block;}

    .rep_dashboard_newblock6_topnew_left{ width: 100%;   border-right: none; }
    .rep_dashboard_newblock6_topnew_right{ width: 100%;  }


    .rep_dashboard_newblock6_topnew_left .new_subblockcon:last-of-type{ border-bottom: solid 1px #d2d8da;}

    .reptrainingcenter_banner{
        background-position: right top;
        background-size: 217%;
        padding: 0 30px;
        padding-top: 79%;
        background-color: #9dcfdd;
    }

    .reptrainingcenter_banner .reptrainingcenter_banner_wrapper{ background-position: center bottom; padding: 20px 0; }

    .reptrainingcenter_banner_wrapper_text{ display: block; width: 100%; text-align: center; height: auto;}

}


@media screen and (max-width: 991px) {

    .new_subblockcon .new_subblockcon_text{ width: 100%; float: none; text-align: center;}
    .new_subblockcon .new_subblockcon_img{width: 100%; float: none; text-align: center; text-align: center; padding-bottom: 25px;}
}

@media screen and (max-width: 640px) {
    .rep_dashboard_newblock6_topnew_wrapper{ margin: 0 25px 40px 25px; padding: 25px;}
}

@media screen and (max-width: 480px) {
    .rep_dashboard_newblock6_topnew h2{ font-size: 38px;}

}

@media screen and (max-width: 440px) {
    /* .reptrainingcenter_banner .reptrainingcenter_banner_wrapper{ background-size: 100%; padding-bottom: 150%;} */

}