@media screen  and  (max-width: 1900px){
    .admin_dashboard_container {
        background-position: 100% center;
    }
}

@media screen  and  (max-width: 1480px){
    .rep_dashboard_wrapper1 {
        background-position: 25% center!important;
    }
}
@media screen  and  (max-width: 1400px){
    .admin_dashboard_container .content_text {
        width: 450px;
        padding: 34px 0;
    }
    .r_r_dashboard_innerblock {
        width: 95%;
    }
}
@media screen  and  (max-width: 1340px){
    .dashboard_block2 .col-md-4 button {
        font-size: 24px;
        line-height: 23px;
        padding: 10px;
    }
    .rep_dashboard_wrapper1 {
        background-position: 30% center!important;
    }
}@media screen  and  (max-width: 1240px){
    .rep_dashboard_wrapper1 {
        background-position: 40% center!important;
    }
}

@media screen and (max-width: 1199px){
    .admin_dashboard_container {
        background: #16343c url("../images/dashboardbg_small.jpg") no-repeat center top;
        background-size: 100%;
        padding-top: 25%;

    }
    .rep_dashboard_wrapper1 {
        background: #16343c url(../images/rep_dashboardbgsmall.jpg) no-repeat center top!important;
        background-size: 100%!important;
        padding-top: 30%;
    }
    .admin_dashboard_container .content_text {
        width: 100%;
        margin-left: 0;
        padding: 30px;
        padding-top: 25px;
    }
    .admin_dashboard_container .content_text h2{ font-size: 54px; }
    .admin_dashboard_container .content_text p{
        color: #fff;}


    .user_management_wrapper .user_management_inner .inner_content_wrapper{     width: 100%;
        display: inline-block;
        text-align: center;
    }
    .user_management_wrapper .user_management_inner .inner_content_wrapper .search_content {
        width: 100%;
        float: none;
    }
    .user_management_wrapper .user_management_inner .inner_content_wrapper h3:nth-last-of-type(1) {
        float: none;
    }
    .user_management_wrapper .user_management_inner .inner_content_wrapper .search_content:nth-child(1){ margin-bottom: 15px; }
    /*Table Responsive*/

    table {display: block; width: 100%;}
    tr {display: block; width: 100%;}
    th {display: block; width: 100%;}
    td{display: block; width: 100%;}
    thead {display: block; width: 100%;}
    tbody {display: block; width: 100%;}

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .dashboard_block2 .col-md-4 .reps_inner_block1  table tbody tr{
        margin-bottom: 15px;
        background: #228e06;;
    }
    .dashboard_block2 .col-md-4 .reps_inner_block2  table tbody tr{
        margin-bottom: 15px;
        background: #7305a2;
    }

    .dashboard_block2 .col-md-4 .reps_inner_block3  table tbody tr{
        margin-bottom: 15px;
        background: #f5c89f;
    }

    table tr td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%!important;
        white-space: normal;
        text-align:left;

    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        content: attr(data-title);
    }

}

@media screen and (max-width: 1040px) {
    .dashboard_block2 .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 992px) {
    .admin_header .row .col-md-8 {
        -ms-flex:none!important;
        flex: none!important;
        max-width: none!important;
    }
    .admin_header .col-md-4 {
        -ms-flex: 0 0 100%!important;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
}

@media screen and (max-width: 768px) {
    .dashboard_block2 .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:480px) {
    .admin_dashboard_container .content_text h2 {
        font-size: 36px;
    }
    .dashboard_block2 .col-md-4 button {
        font-size: 20px;
        float: none;
        margin: 0 auto;
        display: block;
    }
}
@media screen and (max-width:360px) {
    .dashboard_block2 .col-md-4 button {
        display: block;
        width: 100%; font-size: 18px;
    }

    .dashboard_block2 .col-md-4 h3{ text-align: center; font-size: 28px; }
    table tr td { padding-left: 55% !important; }
    td{
        font-size: 15px;
    }
    td:before{
        font-weight: 600;
    }
}