.hide{  display:none!important;}


.admin_dashboard_container{ background: url("../images/dashboardbg.jpg") no-repeat center center;
    min-height: 300px;
    background-size: cover;
}
.admin_dashboard_container .content_text{ width: 580px; text-align: center;  padding: 50px 0; margin-left: 45px; }
.admin_dashboard_container .content_text h2{ font-family: 'RalewayBold'; font-size: 60px;
    color: #fff;  text-transform: uppercase; text-shadow: 0px 1px #6b6b6b;}
.admin_dashboard_container .content_text p{ color: #1e2b43; font-size: 20px; font-family: 'RalewaySemiBold'; margin-bottom: 0;}
.dashboard_block2{ padding: 15px;}

.dashboard_block2 .row{  margin-left: 0;}
.dashboard_block2 .col-md-4{display: inline-flex; justify-content: space-between; padding-left: 0;   }

.dashboard_block2 .col-md-4 table{
    padding-bottom: 90px;
    margin-bottom: 0;
}
.dashboard_block2 .col-md-4 .reps_inner_block1{
    width: 100%;
    padding: 15px;
    background: url("../images/reps_inner_block1bg.png")no-repeat; background-position: center bottom;
    background-color:  #26aa02;
    background-size: 100%;
    color: #fff;
}


.dashboard_block2 .col-md-4 .reps_inner_block2{
    width: 100%;
    background: url("../images/reps_inner_block2bg.png")no-repeat; background-position: center bottom;
    background-color:  #9400d3 ;
    padding: 15px;
    color: #fff;
    background-size: 100%;
}
.dashboard_block2 .col-md-4 .reps_inner_block3{
    width: 100%;
    background: url("../images/reps_inner_block3bg.png")no-repeat; background-position: left bottom;
    background-color:  #ffdab9 ;
    padding-bottom: 90px;
    padding: 15px;
    background-size: 100%;
}
.dashboard_block2 .col-md-4 .reps_inner_block3 h3{ color: #000;}
.dashboard_block2 .col-md-4 button:focus{
    outline: none;
}
.dashboard_block2 .col-md-4 button{
    float: right;
    background: #000;
    font-size: 28px;
    font-family: 'RalewaySemiBold';
    color: #fff;
    border:none;
    padding: 1px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.dashboard_block2 .table td, .table th{ border-top: 1px solid #fff;}
.dashboard_block2 .col-md-4 h3{ font-family: RalewaySemiBold; font-size: 30px; margin-bottom: 12px;
    color: #fff;}

/*USER MANAGEMENT STARTS HERE*/

.user_management_wrapper .user_management_inner h2{ font-size: 40px; font-family: 'RalewayBold'; background: #00a8ef; padding: 15px 0; text-align: center; margin-bottom: 0;
    color: #fff; text-transform: uppercase; padding-top: 12px; }

.user_management_wrapper .user_management_inner .inner_search_wrapper { background: #000; padding: 10px 0;   width: 100%; }

.user_management_wrapper .user_management_inner  .inner_content_wrapper .search_content{ width:48%;  float: left;}
.user_management_wrapper .user_management_inner  .inner_content_wrapper{ width:1100px; margin: 0 auto; }
.user_management_wrapper .user_management_inner  .inner_content_wrapper h3{ margin-bottom: 0; display: inline; font-family: 'RalewaySemiBold'; font-size: 18px; color: #fff; }
.user_management_wrapper .user_management_inner .inner_content_wrapper h3:nth-last-of-type(1){
    float: right;}
.user_management_wrapper .user_management_inner  .inner_content_wrapper input{
    height: 38px;
}
.user_management_wrapper .user_management_inner  .inner_content_wrapper button{font-size: 18px; color: #fff; font-family: 'RalewaySemiBold'; background: #00c0ff; border:none; padding: 0px 30px;
    height: 38px;  text-transform: uppercase; margin-left: 7px;
    cursor: pointer; padding: 5px 30px; }

.user_management_wrapper .user_management_inner  .inner_content_wrapper button:focus{ outline: none; }
.nextGen_admin_mainwrapper .nexgen_admin_table h3{  margin-bottom: 15px; font-family: 'RalewayBold'; text-transform: uppercase; }
.nextGen_admin_mainwrapper .s_getmybrand_adminlist .row{ margin: 0;}


.nextGen_admin_mainwrapper .nexgen_admin_table .action_section .inner_actionblock {    margin: 15px 0;  }
.nextGen_admin_mainwrapper .nexgen_admin_table .action_section { width: 94.8%;
    margin: 0 auto;
    display: block;
}
.nextGen_admin_mainwrapper .nexgen_admin_table .action_section h3{ display: inline-block;   font-size: 24px; font-family: 'RalewaySemiBold';    margin-top: 6px;
    margin-bottom: 0;}
.nextGen_admin_mainwrapper .nexgen_admin_table .action_section a{ background: #000; font-size: 20px; font-family: 'RalewaySemiBold';
    float: right;
    padding: 5px 15px 4px 15px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase; }
.nextGen_admin_mainwrapper .s_getmybrand_adminlist .row .admin_inner_wrapper{  padding: 0; }
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper  { width: 95%; margin: 0 auto;  }
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr th {
    color: #00a8ef; border-top: 1px solid #cecdcd;  font-family: 'RalewayBold'; font-size: 18px;}
.nextGen_admin_mainwrapper .nexgen_admin_table{ padding: 0; padding-left: 0;}

.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table{ width: 99.9%;}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr th{margin-bottom: 5px; background: #efefef;  }
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr th:first-child{border-left: 1px solid #d8d8d8;}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr th:last-child{border-right: 1px solid #d8d8d8;}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr:nth-child(even){ background: #efefef;}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr:nth-child(odd){ background: #fff;}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr td{ border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; border-top: 4px double #d8d8d8; border-bottom: 4px double #d8d8d8;
    padding: 20px 10px;   }

.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tr:last-child td{  border-bottom: 1px solid #d8d8d8; }
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table tbody tr{
    margin-bottom:5px;}
.nextGen_admin_mainwrapper  .content_header_block ol li:after{content: '/'; display: inline; padding-left: 5px; padding-right: 5px; }
.nextGen_admin_mainwrapper  .content_header_block ol li:last-child:after{display: none; }
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table td .statusinactive{  display: inline-flex;
    align-items: flex-end; width: 100%;}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table td .statusactive{  display: inline-flex;
    align-items: flex-end; width: 100%;}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table td .statusinactive .ticon_inactive{ width: 20px; height: 20px; border-radius: 50%; display: inline-block;
    background: #ff0000;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table td .statusactive .ticon_active{ width: 20px; height: 20px; border-radius: 50%; display: inline-block;

    text-align: center;
    background: #00d400;
    margin: 0 auto;
    display: inline-flex;
    cursor: pointer;
    align-items: flex-end;
}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table td .edit_user{
    background: #00a8ef;
    font-family: 'RalewaySemiBold';
    color: #fff;
    font-size: 16px;
    padding: 5px 5px 3px 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.nextGen_admin_mainwrapper .nexgen_admin_table .admin_table_wrapper table td .delete_user{
    background: #000;
    font-family: 'RalewaySemiBold';
    color: #fff;
    font-size: 16px;
    padding: 5px 5px 3px 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 10px;
}
.nextGen_admin_mainwrapper .s_getmybrand_adminlist .row .admin_inner_wrapper .admin_table_pagination .pagination{ justify-content: center;  margin-bottom: 0;}
.nextGen_admin_mainwrapper .s_getmybrand_adminlist .row .admin_inner_wrapper .admin_table_pagination ul span{ font-family: 'RalewaySemiBold'; }
.nextGen_admin_mainwrapper .s_getmybrand_adminlist .row .admin_inner_wrapper .admin_table_pagination ul li { background: #00a8ef;  margin-left: 5px; padding: 2px 6px; border-radius: 2px; }
.nextGen_admin_mainwrapper .s_getmybrand_adminlist .row .admin_inner_wrapper .admin_table_pagination ul li a {  color:#fff;  }
.nextGen_admin_mainwrapper .s_getmybrand_adminlist .row .admin_inner_wrapper .admin_table_pagination ul li.active{ background: #000; }
.newNexgen_modal{
    border:2px solid #00a8ef;}
.newNexgen_modal h1{  background: #00a8ef; color: #fff; font-family: RalewayBold; font-size: 22px; padding: 10px; text-transform: uppercase; text-align: center; }
.newNexgen_modal form .row{ display: inherit; }
.newNexgen_modal form .row .form_floating_div label{ font-family: 'RalewaySemiBold';}
.newNexgen_modal form .row .form_floating_div .col-sm-8 input:focus{ box-shadow: none;}
.newNexgen_modal form .row .form_floating_div .col-sm-8 select:focus{ box-shadow: none;}
.newNexgen_modal form .row .form_floating_div .col-sm-8 input[type=checkbox]{ width: 20px; height: 20px; }
.newNexgen_modal form .row .form_floating_div .col-sm-8 input[type=checkbox]:checked {
    background-color: #a77e2d !important;
    color: #ffffff !important;
}

.newNexgen_modal form .row .form_floating_div .col-sm-8 .error{ font-family: 'RalewayRegular'; color: #ff0000; font-size: 16px; }
.newNexgen_modal form .btn_submit button:focus{ outline: none; }
.newNexgen_modal form .btn_submit button{ background: #000;
    border: none;
    display: block;
    width: 190px;
    color: #fff;
    padding: 3px 0 5px 0px;
    text-transform: uppercase;
    font-size: 24px;
}

.newNexgen_modal form .row .form_floating_div .col-sm-8 input{ font-family: 'RalewayRegular'; color: #000;}
.newNexgen_modal form .row .form_floating_div .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 100%;
    max-width: 100%;

}
/*REGIONAL RECRUITER*/
.r_r_dashboard_innerblock{ width: 85%; margin: 0 auto; }
.r_r_dashboard_innerblock .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 50%;
    max-width: 50%;
}
.r_r_dashboard_innerblock .col-md-4 table{ margin-bottom: 100px;}
.r_r_dashboard_innerblock .col-md-4 .reps_inner_block1 h3{  font-family: 'RalewaySemiBold'; text-transform: uppercase; }
.r_r_dashboard_innerblock .col-md-4 .reps_inner_block2 h3{  font-family: 'RalewaySemiBold'; text-transform: uppercase; }

/*admin_header*/
.admin_header .col-md-8 ul {  width: 100%!important; }
.admin_header .col-md-8 {
    -ms-flex: 0 0 90%!important;
    flex: 0 0 90%!important;
    max-width: 90%!important;
}
.admin_header .col-md-4 {
    -ms-flex: 0 0 20%!important;
    flex: 0 0 10%!important;
    max-width: 10%!important;
}
/*REP DASHBOARD*/
.rep_dashboard_wrapper1{ background: url("../images/rep_dashboardbg.jpg") no-repeat!important;}
.rep_dashboard_wrapper1 .admin_dashboard_container{ background: none; }

.rep_dashboard_wrapper2{ background: url("../images/rep_dashboardbg2.jpg") no-repeat center center;
    min-height:316px;
    position: relative;
    margin-top: 15px;
}
.rep_dashboard_wrapper2 .inner_content{
    position: absolute;
    top: 48%;
    left: 61%;
    transform: translate(-50%, -50%);
}
.rep_dashboard_wrapper2 .inner_content h2{
    font-family: 'RalewayBold'; font-size: 60px;
    color: #fff;  text-transform: uppercase;
}
.rep_dashboard_wrapper2 .inner_content h4{ color: #fff; font-size: 20px; font-family: 'RalewayRegular'; }
.rep_dashboard_wrapper2 .inner_content h4 span{ color: #040506; }


.rep_dashboard_wrapper2 .inner_content .appointment_booking_button:focus { outline: none; }
.rep_dashboard_wrapper2 .inner_content .appointment_booking_button{
    background: #000;
    color: #fff;
    font-family: RalewaySemiBold;
    font-size:24px;
    text-transform: uppercase;
    border: none;
    padding: 5px 30px;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}
.rep_dashboard_wrapper3{ width: 98.2%; margin: 0 auto; }
.rep_dashboard_wrapper3 .row{ margin: 0; }
.rep_dashboard_wrapper3 .row .col-md-4{ padding-left: 0; }
.rep_dashboard_wrapper3 .row .col-md-4:nth-last-child(1) { padding-right: 0; }

.rep_dashboard_wrapper3 button{cursor:pointer; padding: 10px 0 7px 0; width: 100%; background: #000; font-family: "RalewaySemiBold"; color: #fff; font-size: 24px;  border: none; margin: 15px 0; margin-bottom: 45px; text-transform: uppercase; }
.rep_dashboard_wrapper3 button:focus{ outline: none;}


/*USER ACCOUNT SETTING*/
.user_account_setting_wrapper .account_inner_wrapper{  background-color: #efefef; width: 90%; margin: 0 auto; padding: 15px; margin-bottom: 65px; }
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper{  width: 750px;  }
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper form label{ font-family: 'RalewaySemiBold'; text-transform: uppercase; padding-right: 0;  }
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper .form-group:nth-last-child(1){ margin-bottom: 0; }
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper form .col-sm-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper form .col-sm-10 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    padding-right: 0;
}
.user_account_setting_wrapper .header{ background: #00c0ff; color: #fff; font-family: 'RalewayBold'; font-size: 40px; padding: 10px 0 9px  0; text-transform: uppercase; text-align: center; margin-bottom: 35px; }
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper .button_wrapper{ width: 100%; padding: 0 20px; }
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper .button_wrapper button:focus{ outline: none;}
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper .button_wrapper button{
    cursor: pointer; padding: 5px 13px 4px 13px; border:none;
    background: #00c0ff; color: #fff; font-family: 'RalewayBold';
    font-size: 22px; text-transform: uppercase;
    border: none;
    margin-bottom: 40px;
    margin-top: 25px;
}
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper .form-group .form-control:focus{ box-shadow: none; }
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper .button_wrapper button:nth-child(1){ background: #00c0ff; }
.user_account_setting_wrapper .account_inner_wrapper .form_wrapper .button_wrapper button:nth-child(2){ background: #000; margin-left: 10px; }


/*REPRESENTATIVE LIST*/

.inner_content_section h1{ background: #00a8ef; font-family: 'RalewayBold'; font-size: 40px; padding: 13px 0 11px 0;
    color: #fff; text-align: center;  margin-bottom: 25px; }
.representative_list_wrapper { width: 1610px; margin: 0 auto; }
.representative_list_wrapper .inner_main_wrap .left_content { width: 1200px;
    float: left;}
.representative_list_wrapper .inner_main_wrap .left_content h2{
    background: #00a8ef; font-family: 'RalewayBold'; font-size: 30px; padding: 13px 15px 11px 15px;
    color: #fff; margin-bottom: 0; }
.representative_list_wrapper .inner_main_wrap .left_content .table  { border: 1px solid #efefef; }
.representative_list_wrapper .inner_main_wrap .left_content .table thead th{ background: #ebebeb; padding-top: 20px; padding-bottom: 20px; color: #00a8ef; vertical-align: text-top; }
.representative_list_wrapper .inner_main_wrap .left_content  .table-striped tbody tr:nth-of-type(odd) {background-color: #fff; }
.representative_list_wrapper .inner_main_wrap .left_content  .table-striped tbody tr:nth-of-type(even) {
    background-color: #efefef;
}
.representative_list_wrapper .inner_main_wrap .left_content  .table td, .table th td{
    margin-bottom: 0; padding-top: 20px; padding-bottom: 20px; border-top:  4px double #e4e3e3;  border-bottom: 2px solid #e4e3e3; width: 20%; }

.representative_list_wrapper .inner_main_wrap .left_content h3{
    background: #000; font-family: 'opensans_italic'; font-size: 22px; padding: 13px 15px 11px 15px; margin-bottom: 0;
    color: #fff; }


.representative_list_wrapper .inner_main_wrap .right_content { width: 390px;
    float: left; margin-left: 20px; }
.representative_list_wrapper .inner_main_wrap .right_content .search_header{ background: #00c0ff;     padding: 6px 8px;
    display: flex;
    padding-right: 5px;}
.representative_list_wrapper .inner_main_wrap .right_content .search_header input{ width: 92%; padding: 0 10px; border: none; height: 30px; }
.representative_list_wrapper .inner_main_wrap .right_content .search_header input:focus{ outline: none; }
.representative_list_wrapper .inner_main_wrap .right_content .search_header button {
    cursor: pointer; border: none;
    border-left:1px solid #fff;}
.representative_list_wrapper .inner_main_wrap .right_content .search_header button:focus{ outline: none; }

.representative_list_wrapper .inner_main_wrap .right_content h3{ background: #000; color: #fff; font-family: 'RalewayBold'; font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 0px;
}
.representative_list_wrapper .inner_main_wrap .right_content .search_inp input{ height: 38px; margin-top: 10px; display: block; width: 100%; padding: 0 10px; border: 1px solid #cecdcd;}
.representative_list_wrapper .inner_main_wrap .right_content .search_inp input:focus{ outline: none;}

.representative_list_wrapper .inner_main_wrap .pagination_sec{ text-align: center; margin-bottom: 50px; margin-top: 11px; }
.representative_list_wrapper .inner_main_wrap .pagination_sec ul { padding-left: 0; display: inline-block; text-align: center; margin-bottom: 0;}
.representative_list_wrapper .inner_main_wrap .pagination_sec ul li {
    cursor: pointer; float: left; list-style: none; border-radius: 3px; }
.representative_list_wrapper .inner_main_wrap .pagination_sec ul li a{ background: #00c0ff;
    color: #fff;
    padding: 1px 9px;
    border-radius: 3px; }
.representative_list_wrapper .inner_main_wrap .pagination_sec ul li a.active { background: #000;
    color: #fff; }
.representative_list_wrapper .inner_main_wrap .pagination_sec ul li a{ margin: 4px;
    padding-bottom: 3px; }



/*REP TRAINING CENTER*/
.rep_training_wrapper h2{ color: #22bdff; background: #000; text-transform: uppercase; text-align: center;
    padding: 3px 5px 5px 5px; margin-bottom: 0; }

.traing_innerwrapper { width: 1610px; margin: 0 auto; margin-top: 15px;}
.traing_innerwrapper .training_leftpart{ width: 1610px; float: none;}



.traing_innerwrapper .training_rightpart{ width: 390px; float: left; margin-left: 15px; }
.traing_innerwrapper .training_rightpart h1{ background: #000; font-family: 'RalewayBold'; margin-bottom: 0; font-size: 28px;     color: #fff;
    padding: 8px;
    padding-left: 14px;
    text-transform: uppercase;
}
.traing_innerwrapper .training_rightpart ul{ padding-left: 0; }
.traing_innerwrapper .training_rightpart ul li{ list-style: none; background: #e6e8e9; padding: 18px; border-bottom: 1px solid #fff; cursor: pointer; }
.traing_innerwrapper .training_rightpart ul li:hover{ background: #bcc4c7; }
.traing_innerwrapper .training_rightpart ul li span{ padding-right: 20px; }
.traing_innerwrapper .training_rightpart ul li a{ text-decoration: none; color: #3f4040;  font-family: 'RalewayMedium'; font-size: 20px; text-transform: capitalize; }
.traing_innerwrapper .training_rightpart ul li a:hover{ color: #3f4040; }

.training_leftpart .carousal_content .carousel-caption .carousal_inner p{ font-family: 'RalewayMedium'; font-size: 26px; color: #000; margin-bottom: 5px; }
.training_leftpart .carousal_content .carousel-caption .carousal_inner h1{ font-family: 'RalewayBold';  margin-bottom: 0; color: #000; }
.training_leftpart .carousal_content .carousel-caption .carousal_inner h4{ color: #000; font-family: RalewaySemiBold; font-size: 24px; text-align: left; }
.training_leftpart .carousal_content .carousel-caption .carousal_inner{ position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 45px;
}

.training_leftpart .carousal_content  .lucoplast1{ width: 35px; height: 35px; position: absolute; background: #f0f0f0; border:1px solid #c4c8cd; top:-15px; left: -15px; transform: rotate(-15deg); }
.training_leftpart .carousal_content  .lucoplast2{ width: 35px; height: 35px;  position: absolute; background: #f0f0f0; border:1px solid #c4c8cd; top:-15px; right: -15px; transform: rotate(-15deg); }

.training_leftpart .carousal_content .carousel-caption .carousal_inner .header_list{ padding-left: 10px; list-style: none;  text-align: left;  }
.training_leftpart .carousal_content .carousel-caption .carousal_inner .header_list li{  font-size: 30px;  }
.training_leftpart .carousal_content .carousel-caption .carousal_inner .header_list li::before{
    content: '\f10c'; font-family: 'FontAwesome';
    margin:0 5px 0 -15px;
    color: orangered; text-align: left; }
.training_leftpart .carousal_content .carousel-caption .desease_list{ text-align: left; list-style-type: none; }
.training_leftpart .carousal_content .carousel-caption .desease_list div{ margin-top: 10px; }
.training_leftpart .carousal_content .carousel-caption .desease_list li::before{   content: '\f10c'; font-family: 'FontAwesome';
    margin:0 5px 0 -15px;
    color: orangered;  }
.training_leftpart .carousal_content .carousel-caption .carousal_inner ul li{ color: #000; font-family: RalewaySemiBold; font-size: 18px; margin-bottom: 1px; }
.training_leftpart .carousal_content .carousel-caption .carousal_inner   .under_list_part{ list-style: none;  }
.training_leftpart .carousal_content .carousel-caption .carousal_inner   .under_list_part li:before{ font-family: 'FontAwesome';
    content: '\f10c';
    margin:0 5px 0 -15px;
    color: orangered;  }


.training_leftpart .carousal_content .carousel-caption{ background: #fff;}
.training_leftpart .carousal_content .carousel-caption h3{ color: #415591; font-family: 'RalewayBold'; text-transform: capitalize; font-size: 40px;  }
.training_leftpart .carousal_content .carousel-caption h3 span {  text-transform: uppercase; font-size: 50px;   }

.training_leftpart .carousel .carousel-control-next, .carousel-control-prev{ width: 15%!important; }
.training_leftpart .carousel .carousel-indicators{ display: none; }

.training_leftpart  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 90%;
    box-shadow: 0px 6px 9px -1px #616161;
}
.training_leftpart .panel{ background:#22bdff; }
.training_leftpart .panel button{ color: #fff; text-decoration: none; font-family: 'OpenSansSemiBold'; font-size: 24px; text-transform: uppercase; }
.training_leftpart .panel  .card-body{ background: url("../images/trainin_lesson_bg.png") no-repeat; background-size: cover;  position: relative; height: 70vh; padding: 20px 0; }

.training_leftpart  .carousel-control-prev-icon {
    background-image: url(../images/prev_icon1.png)!important;
     padding: 15px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
}
.training_leftpart  .carousel-control-next-icon {
    background-image: url(../images/next_icon1.png)!important;
    padding: 15px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;

}
.training_leftpart .accordian_image {
    background: #fff;
    width: 58%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    padding-left: 0;
}

.training_leftpart .accordian_image .content_area p p:nth-child(1){ font-family: RalewayBold; color: #415591; text-transform: uppercase; font-size: 50px; text-align: center; margin-bottom: 30px; }
.training_leftpart .accordian_image .content_area p p:nth-child(2){ font-family: RalewayBold; color: #415591;   font-size: 30px; text-align: center; margin-bottom: 30px; }
.training_leftpart .accordian_image .content_area p p:nth-child(3){ font-family: RalewayBold; color: #415591;   font-size: 40px; text-align: center; }


.mark_done{     position: absolute;
    right: 25px;
    bottom: 25px;
    background: #efefef;
    font-size: 20px;
    font-family: 'RalewaySemiBold';
    text-transform: uppercase;
    padding: 3px 14px;
    cursor: pointer;
}
/*admin_training_center_manage_popup*/
.admin_training_center_manage_popup {background: #efefef; width: 900px; margin: 0 auto; padding: 15px; border: 3px solid #22bdff; border-radius: 5px; position: relative; }
.admin_training_center_manage_popup .cancel_icon{ background: url(../images/close_iconbg.png) no-repeat; position: absolute;  right: 0;
    top: 0;
    width: 50px;
    height: 65px;

}
.admin_training_center_manage_popup .cancel_icon button { font-family: 'RalewayBold'; font-size: 20px; color: #fff; border:none; color: #efefef; width: 30px; height: 30px; border-radius: 50%; }
.admin_training_center_manage_popup .content_header_block h3{ text-align: center; text-transform: uppercase; font-family: 'RalewayBold'; font-size: 40px; background: url("../images/signup-underline.jpg") no-repeat center bottom; padding-bottom: 10px; }
.admin_training_center_manage_popup .content_header_block .button_upload{ display: inline-flex; margin: 15px 0 0 0; }
.admin_training_center_manage_popup .content_header_block .button_upload span{font-family: "RalewaySemiBold"; font-size: 20px; text-transform: capitalize; }
.admin_training_center_manage_popup .content_header_block .button_upload button {cursor: pointer; margin-left: 10px; font-family: "OpenSansRegular"; font-size: 20px; background: #000; color:#fff; border:none; text-transform: uppercase; }

.admin_training_center_manage_popup .content_header_block .form-group .form-control{ box-shadow: none; }

.admin_training_center_manage_popup .content_header_block .email_div .radio_part{ display: inline ; width: auto; vertical-align: middle; margin-left: 24px;  }
.admin_training_center_manage_popup .content_header_block  .radio_content{ background: #e0dfdf; padding: 10px;}
.admin_training_center_manage_popup .content_header_block  .radio_content .col-md-2  { padding-right: 0;}
.admin_training_center_manage_popup .content_header_block  .radio_content .col-md-10  { padding-left: 5px;}
.admin_training_center_manage_popup .content_header_block  .radio_content .col-md-2 h5{ color: #22bdff; text-transform: capitalize; }



.admin_training_center_manage_popup .content_header_block .button_section{ float: right;}
.admin_training_center_manage_popup .content_header_block .button_section button{ cursor: pointer; font-family: 'RalewayMedium'; color: #fff; background: #000; border: none; padding: 4px 15px 3px 15px; text-transform: uppercase; }
.admin_training_center_manage_popup .content_header_block .button_section button:nth-last-child(1){ margin-left: 10px;}
.admin_training_center_manage_popup .content_header_block .box-footer button{text-transform: uppercase; background:#22bdff; border:none; padding: 5px 15px 4px 15px; color: #fff; font-family: 'RalewayBold' }
.admin_training_center_manage_popup .content_header_block .box-footer button:nth-last-child(1){margin-left: 15px;  cursor: pointer; outline: none;}



