@font-face {
    font-family: 'Notera';
    src: url('../fonts/notera_personaluseonly-webfont.woff2') format('woff2'),
    url('../fonts/notera_personaluseonly-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RalewayMedium';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MayQueen';
    src: url('../fonts/MayQueen.woff2') format('woff2'),
    url('../fonts/MayQueen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans_italic';
    src: url('../fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: 'RalewayExtraBold';
    src: url('../fonts/Raleway-ExtraBold.eot');
    src: url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraBold.woff') format('woff'),
    url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

ul.list-inline {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}
ul.list-inline li {
    margin: 0px !important;
    padding: 0px !important;
}

.generalcls h1{font-family: 'RalewayExtraBold'; font-size: 36px; line-height: 40px !important; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom: 20px;}
.generalcls h3{font-family: 'RalewayBold'; font-size: 24px; line-height: 24px !important; text-transform: uppercase;  margin: 0px; padding: 0; margin-top: 20px; margin-bottom: 10px;}


.generalcls p{font-family: 'RalewayRegular'; font-size: 19px; color:#595959; margin: 0px; padding: 0; line-height: 24px; font-weight: normal;}
.generalcls .homeblock2 p span, .generalcls .homeblock1 p span{display: block; margin-top: 20px; margin-bottom: 20px;}






.btnblue{background-color: #00c0ff; padding: 8px 24px 10px;  font-family: 'RalewaySemiBold'; font-size: 22px; margin: 0; line-height: 24px; font-weight: normal; color:#fff !important;
    text-transform: capitalize; border: 0; display: inline-block;}

.btnblack{background-color: #262626; padding: 8px 24px 10px;  font-family: 'RalewaySemiBold'; font-size: 22px; margin: 0; line-height: 24px; font-weight: normal; color:#fff !important;
    text-transform: capitalize; border: 0; display: inline-block;}

.full-screen {-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center;  background-repeat: no-repeat; min-width: 100%;}



img, *img, img:focus, *img:focus{border: 0; outline: none; border-style: none;}

body{ padding:0; margin: 0;}

.row {margin-right: 0 !important; margin-left: 0 !important;}

button{cursor: pointer; outline: none;}

a{cursor: pointer; outline: none;}


/*Start Header*/

.frontheader_bg{ background: #efefef; padding: 0px 0;}


.nexgen_frontheader_wrapper{width: 100%; }
.nexgen_frontheader_wrapper .social_media_container{ display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; width: auto;  justify-content: flex-end;}
.nexgen_frontheader_wrapper .social_media_container .social_media_icon{width: 85px;  display: inline-flex; justify-content: space-between; margin-right: 30px;}
.nexgen_frontheader_wrapper .hidden_logo{ display: none;}
.nexgen_frontheader_wrapper .social_media_container .social_media_icon i {overflow: hidden; width: 25px; height: 25px; border-radius: 50%; cursor: pointer;}
.nexgen_frontheader_wrapper .col-md-4 .social_media_container .profile_section .dropdown .dropdown-menu.show {top: 41px !important; left:-123%!important;}
.dropdown-toggle::after{color: #000;}

.nexgen_frontheader_wrapper .social_media_container .social_media_icon i:nth-child(1) { background: #3b579d;     padding: 4px; color: #FFF; vertical-align: bottom; text-align: center;}
.nexgen_frontheader_wrapper .social_media_container .social_media_icon i:nth-child(2) { background: #2aaae0;     padding: 5px; color: #FFF; vertical-align: bottom; text-align: center;}
.nexgen_frontheader_wrapper .social_media_container .social_media_icon i:nth-child(3) { background: #1d75bc;     padding: 5px; color: #FFF; vertical-align: bottom; text-align: center;}

.nexgen_frontheader_wrapper .social_media_container .call_container{padding-right: 11%;}
.navbarblockwrapperinner{ padding-right: 11%;}

.nexgen_frontheader_wrapper .social_media_container .call_container p{color: #000; font-family: 'RalewaySemiBold';font-size: 13px; text-transform: uppercase;}
.nexgen_frontheader_wrapper .social_media_container .call_container p a{  text-decoration: none;  font-size: 18px;color: #000;}
.nexgen_frontheader_wrapper .social_media_container .call_container p a span { color: #000;}

.nexgen_frontheader_wrapper .social_media_container p{margin: 0;}
/*.nexgen_frontheader_wrapper  .navbar-expand-lg .navbar-nav{ width:100%; }*/
.nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav .nav-link{  color: #778ea8!important; font-family: 'RalewaySemiBold'; font-size: 13px; padding: 24px 20px; text-transform: capitalize;}
.nexgen_frontheader_wrapper .col-md-8{padding: 0;}
.nexgen_frontheader_wrapper .col-md-4{padding: 0;}


.nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav .nav-item{border-bottom: 4px solid #fff;}

.nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav .nav-item.active{border-bottom: 4px solid #007d9e;}

.nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav .nav-item.active a{color:#2e2e2e !important; white-space: normal;}
.nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    display: inline-block;
}
.nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav .nav-item:hover{border-bottom: 4px solid #007d9e;}

.nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav .nav-item:hover a{color:#2e2e2e !important;}

.logowrapperbgtop{background-color: #fff; padding: 20px;  width: 100%; height: 115px; position: absolute; left: 0; top: 0; z-index: 999;  -moz-transform: scale(1.2) skew(-35deg, 0deg); -webkit-transform: scale(1.2) skew(-35deg, 0deg); -o-transform: scale(1.2) skew(-35deg, 0deg); -ms-transform: scale(1.2) skew(-35deg, 0deg);
    transform: scale(1.2) skew(-35deg, 0deg); -webkit-box-shadow: 5px 6px 25px -10px rgba(0,0,0,0.27); box-shadow: 5px 6px 25px -10px rgba(0,0,0,0.27);}

.nex_frontheader_logo{position: absolute; right: 0px; z-index: 9999; top:50%; transform: translateY(-50%);}
.nex_frontheader_logo img{max-width: 100%;}

.navbar {padding: 0 !important;}

.frontheader_bg .navbar-brand {display: block !important; position: relative; z-index: 99999;}

/*.nexgen_frontheader_wrapper .col-md-4 .navbar-brand{height: 100%;}*/

.frontheader_bg{position: relative;}

.nexgen_frontheader_wrapper{background-color: #fff;}

.nexgen_frontheader_wrapper .callnewdiv{background-color: #efefef; border-bottom: 1px solid #d4d9dc;}
.callnewdivinner{padding-right: 15% !important; padding: 10px;}
.callnewdivinner p{margin-bottom: 0px; font-family: "RalewaySemiBold"; color:#000; font-size: 13px; text-transform: uppercase;}
.callnewdivinner p a{color:#000; font-size: 18px; text-transform: uppercase;}


.navbarnewdivinner{padding-right: 15% !important; float: right;}
.navbarnewdivinner .navbar-brand{display: none;}



.no-padding{padding-right: 0 !important; padding-left: 0 !important;}

.navbarblockwrapper{display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100% !important; padding: 0px; float: right; justify-content: flex-end;}

.nexgen_frontheader_wrapper .col-md-4{flex: 0 0 28%; max-width: 28%;}

.nexgen_frontheader_wrapper .col-md-8{flex: 0 0 72%; max-width: 72%;}

.nexgen_frontheader_wrapper .row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

/*.nexgen_frontheader_wrapper{
    height: 118px;
}*/

.menubarcls{
    display: none !important;
}


/*end header section*/



/*Home Page css*/
.fronthome_wrapper .carousel-item .carousel-caption {background: rgba(0, 0, 0, 0.4); padding: 20px; width: 515px; position: absolute; right: 15%; bottom: 35%; left: 11%;   z-index: 10; padding-top: 13px; color: #fff; text-align: left;}

.fronthome_wrapper .carousel-item .carousel-caption h2{ font-family: 'RalewayBold'; font-size: 60px; text-transform: uppercase;  margin-bottom: 0px;}

.fronthome_wrapper .carousel-item .carousel-caption h5{background: url("../images/home caption underline.jpg") no-repeat bottom; padding-bottom: 15px;
    color: #d4d9dc; font-size: 22px; font-family: 'RalewayRegular';}

.fronthome_wrapper .carousel-item .carousel-caption p{ font-family: 'RalewayRegular'; font-size: 16px; }

.fronthome_wrapper .carousel-item .carousel-caption button{ background: rgba(65,193,235,1); background: #00c0ff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41c1eb', endColorstr='#10aade', GradientType=1 ); padding: 6px 23px 3px; border: none; color: #fff; font-family: 'RalewayBold'; font-size: 16px;
    text-transform: uppercase; cursor: pointer;}

.fronthome_wrapper .carousel-item .carousel-caption button:focus{ outline: none;}

.fronthome_wrapper .carousel  .carousel-control-next, .carousel-control-prev{width: 4%!important; z-index: 9999; }

.frontslider .carousel{height: 493px; overflow: hidden;}

.frontslider .carousel-control-prev-icon {background-image:  url("../images/front_prev_icon.png")!important; padding: 30px;}

.frontslider .carousel-control-next-icon {background-image:  url("../images/front_next_icon.png")!important; padding: 30px;}

.frontslider .carousel-control-prev{width: 3% !important; display: none;}
.frontslider .carousel-control-next{Width: 3% !important; display: none;}

.frontslider .carousel-caption{width: 460px; height: 70%;}
.frontslider .carousel-caption {position: absolute;
    right: 15%;
    bottom: 8px;
    left: 18%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: left;
    box-shadow: none;
    top: 50%;
    transform: translate(-50%, -50%);
}
.frontslider .carousel-caption button{-webkit-box-shadow: 4px -1px 44px -8px rgba(0,0,0,0.57); -moz-box-shadow: 4px -1px 44px -8px rgba(0,0,0,0.57); box-shadow: 4px -1px 44px -8px rgba(0,0,0,0.57);z-index: 9999; position: absolute; bottom: -2%; right: -10%;}

.frontslidercontentwrapper{position: relative; height: 368px;}

.frontslider .frontslidercontent{ -webkit-clip-path: polygon(13% 0, 100% 15%, 100% 100%, 18% 100%, 0 63%); clip-path: polygon(13% 0, 100% 15%, 100% 100%, 18% 100%, 0 63%);
    background: -moz-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%); /* ff3.6+ */ background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(122,206,76,0.9)), color-stop(100%, rgba(0,125,158,0.9))); /* safari4+,chrome */ background: -webkit-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%); /* opera 11.10+ */ background: -ms-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%); /* ie10+ */ background: linear-gradient(132deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.8) 100%); /* w3c */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ace4c', endColorstr='#007d9e',GradientType=1 ); /* ie6-9 */ width: 100%; height: 100%; position: relative; padding: 56px 35px 44px 60px;}

.frontslider .frontslidercontent h2 {font-family: 'RalewayExtraBold'; font-size: 48px; text-transform: uppercase; margin: 0px; padding: 0; line-height: 48px;}

.frontslider .frontslidercontent h5 {font-family: 'RalewayRegular'; font-size: 24px; margin: 0px; padding: 0; line-height: 28px; margin-top: 25px;}

.frontslider .frontslidercontent h4 {font-family: 'RalewaySemiBold'; font-size: 22px; text-transform: inherit; margin: 0px; padding: 0; line-height: 24px; margin-top:10px; }

.frontslider .frontslidercontent p{font-family: 'RalewaySemiBold'; font-size: 16px; margin: 0px; padding: 0; line-height: 24px; font-weight: normal; margin-left: 35px;
    font-style: normal; color:#fff; margin-top: 25px;}

.frontslider .carousel-indicators{display:none;}

.frontslidercontentinner{
    position: absolute;
    top:50%;
    left: 53%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 80%;
}


.homeblock1{background: #f0f4f6 url(../images/homeblock1bgwrapper.png) no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: 80%; background-position: top center;}
.homeblock1wrapper{padding-top: 50px; padding-bottom: 50px; width: 1050px;    margin: 0 auto; display: block;}




.homeblock2{background: #fff;}
.homeblock2wrapper{padding-top: 50px; padding-bottom: 50px; width: 1622px; margin: 0 auto; display: block;}
.homeblock2content{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.homeblock2content ul.list-inline li {width: 50%; padding: 10px !important;}

.homeblock2content ul.list-inline li:nth-child(1){padding-left: 0px !important;}
.homeblock2content ul.list-inline li:nth-child(3){padding-left: 0px !important;}

/*.homeblock2content ul.list-inline li img{width: 100%;}*/
.homeblock2contentleft{margin-right: 48px;width: 40%;}
.homeblock2contentright{width: 60%;}

.bigtextwrapper{
    background: -moz-linear-gradient(179deg, rgba(2,176,211,1) 0%, rgba(129,206,88,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(129,206,88,1)), color-stop(100%, rgba(2,176,211,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(179deg, rgba(2,176,211,1) 0%, rgba(129,206,88,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(179deg, rgba(2,176,211,1) 0%, rgba(129,206,88,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(179deg, rgba(2,176,211,1) 0%, rgba(129,206,88,1) 100%); /* ie10+ */
    background: linear-gradient(271deg, rgba(2,176,211,1) 0%, rgba(129,206,88,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81ce58', endColorstr='#02b0d3',GradientType=1 ); /* ie6-9 */
    font-family: 'MyriadProRegular';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 18px;
    color: #fff;
    text-shadow: 4px 2px 6px rgba(150, 150, 150, 0.5);
}
.homeblock2contentright .btnblue{float: right;}
.homeblock2contentright p{margin-bottom: 0px;}



.homeblock3{background: #dbeae7 url(../images/homeblock3bgwrapper.png) no-repeat top right; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: contain; padding-top: 60px; padding-bottom: 60px;}
.homeblock3wrapper{ width: 1622px; margin: 0 auto; display: block;}
.homeblock3content{width: 51%; display: inline-block;}
.homeblock3content .btnblue{float: right;}
.homeblock3content p{width: 70%; margin-bottom: 20px;}


.homeblock4{background: url(../images/homeblock4bgwrapper.jpg) no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center; position: relative;}

.homeblock4 h1{font-family: 'RalewayExtraBold'; font-size: 36px; line-height: 40px !important; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom: 20px;}


.homeblock4:after{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%); /* ff3.6+ */ background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(122,206,76,0.9)), color-stop(100%, rgba(0,125,158,0.9))); /* safari4+,chrome */ background: -webkit-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%); /* opera 11.10+ */ background: -ms-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%); /* ie10+ */ background: linear-gradient(132deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.8) 100%); /* w3c */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ace4c', endColorstr='#007d9e',GradientType=1 ); /* ie6-9 */
}

.homeblock4wrapper{padding-top: 50px; padding-bottom: 50px; width: 705px; margin: 0 auto; display: block;    position: relative;
    z-index: 9;}





/*----form css----*/

.formdivwrapper form{ margin-top: 30px;}

.formpaddingright{padding-right: 15px !important;}

.formdivwrapper form .col{
    padding-right: 7px;
    padding-left: 7px;
}

.formdivwrapper form .form-group{
    margin-bottom: 16px;
}

/*.formdivwrapper form.ng-touched .form-group {
    margin-bottom: 5px;
}*/


.formdivwrapper form .form-control{
    background-color: #f2f3f3;
    color:#000;
    font-family: "RalewayMedium";
    font-size: 14px;
    text-transform: inherit;
    border-radius: 0px;
    border:none;
    height: 42px;
    border:1px solid #848585;
}

.formdivwrapper form textarea.form-control{
    resize: none;
    height: 100px;
}

.formdivwrapper form .col-sm-1, .formdivwrapper form .col-sm-2,
.formdivwrapper form .col-sm-3, .formdivwrapper form .col-sm-4,
.formdivwrapper form .col-sm-5, .formdivwrapper form .col-sm-6,
.formdivwrapper form .col-sm-7, .formdivwrapper form .col-sm-7,
.formdivwrapper form .col-sm-8, .formdivwrapper form .col-sm-9,
.formdivwrapper form .col-sm-10, .formdivwrapper form .col-sm-11,
.formdivwrapper form .col-sm-12{
    padding: 0px;
}

.formdivwrapper form .col-xs-1, .formdivwrapper form .col-xs-2,
.formdivwrapper form .col-xs-3, .formdivwrapper form .col-xs-4,
.formdivwrapper form .col-xs-5, .formdivwrapper form .col-xs-6,
.formdivwrapper form .col-xs-7, .formdivwrapper form .col-xs-7,
.formdivwrapper form .col-xs-8, .formdivwrapper form .col-xs-9,
.formdivwrapper form .col-xs-10, .formdivwrapper form .col-xs-11,
.formdivwrapper form .col-xs-12{
    padding: 0px;
}


.formdivwrapper form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: capitalize;
    color:#616161;
}
.formdivwrapper form input::-moz-placeholder { /* Firefox 19+ */
    text-transform: capitalize;
    color:#616161;
}
.formdivwrapper form input:-ms-input-placeholder { /* IE 10+ */
    text-transform: capitalize;
    color:#616161;
}
.formdivwrapper form input:-moz-placeholder { /* Firefox 18- */
    text-transform: capitalize;
    color:#616161;
}

.formdivwrapper form textarea::-webkit-input-placeholder{
    text-transform: capitalize;
    color:#616161;
    position: relative;
}
.formdivwrapper form textarea::-moz-placeholder { /* Firefox 19+ */
    text-transform: capitalize;
    color:#616161;
    position: relative;
}
.formdivwrapper form textarea:-ms-input-placeholder { /* IE 10+ */
    text-transform: capitalize;
    color:#616161;
    position: relative;
}
.formdivwrapper form textarea:-moz-placeholder { /* Firefox 18- */
    text-transform: capitalize;
    color:#616161;
    position: relative;
}

.formdivwrapper form .form-group .form-group {
    margin-bottom: 0px;
    text-align: left;
}

.formdivwrapper form label{
    font-family: "CenturyGothic";
    font-size: 18px;
    text-transform: capitalize;
    line-height: 20px;
    margin: 0;
    color: #515776;
}

.formdivwrapper form .checkbox-inline+.checkbox-inline, .formdivwrapper form .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
    padding-left: 48px;
}

/*----End form css----*/


/*----Modal css---*/

modal-container{z-index: 9999999999;}
modal-container button.close {
    -webkit-appearance: none;
    padding: 0px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    position: absolute;
    right: -15px;
    top: -14px;
    background: #fff;
    opacity: 1 !important;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}


modal-container .modal-body{
    font-family: "BebasNeueBold";
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0px;
    text-shadow:none !important;
    background: rgb(20, 26, 31);
    /*background: -moz-linear-gradient(221deg, rgb(20, 26, 31) 39%, rgb(58, 79, 95) 100%);
    background: -webkit-linear-gradient(221deg, rgb(20, 26, 31) 39%, rgb(58, 79, 95) 100%);
    background: -o-linear-gradient(221deg, rgb(20, 26, 31) 39%, rgb(58, 79, 95) 100%);
    background: -ms-linear-gradient(221deg, rgb(20, 26, 31) 39%, rgb(58, 79, 95) 100%);
    background: linear-gradient(311deg, rgb(20, 26, 31) 39%, rgb(58, 79, 95) 100%);*/
    background: -moz-linear-gradient(318deg, rgba(105, 192, 57, 0.9) 0%, rgba(0, 148, 187, 0.8) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(105, 192, 57, 0.9)), color-stop(100%, rgba(0, 148, 187, 0.8)));
    background: -webkit-linear-gradient(318deg, rgba(105, 192, 57, 0.9) 0%, rgba(0, 148, 187, 0.8) 100%);
    background: -o-linear-gradient(318deg, rgba(105, 192, 57, 0.9) 0%, rgba(0, 148, 187, 0.8) 100%);
    background: -ms-linear-gradient(318deg, rgba(105, 192, 57, 0.9) 0%, rgba(0, 148, 187, 0.8) 100%);
    background: linear-gradient(132deg, rgba(105, 192, 57, 0.9) 0%, rgba(0, 148, 187, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ace4c', endColorstr='#007d9e',GradientType=1 );
    padding: 21px 15px 25px 15px;
    border-radius: 0 !important;
    margin: 0;
    letter-spacing: 1px;
    border: 5px solid #fff;

}

modal-container .modal-body p{
    font-family: "CenturyGothic";
    font-size: 19px;
    line-height: 25px;
    color: #000 !important;
    text-align: center;
    margin: 18px 0px 0px 0px;
    text-transform: initial;
}

modal-container .logoshatterblock{
    width: 300px;
    margin: 0 auto;
    display: block;
}

modal-container .logoshatterblock img{
    max-width: 100%;
}

modal-container {
    padding: 0 !important;
}


modal-container .modal-dialog {
    width: 500px;
    margin: 1.75rem auto;
    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

modal-container {
    background-color: rgba(0, 0, 0, 0.7);
}


/*---End modal css---*/






/*Start Footer Section*/

.nexgen_frontfooter{background: #33434a url(../images/nexgen_frontfooterbgwrapper.png) no-repeat; background-position: bottom left 100%;}
.nexgen_frontfooterwrapper{padding-top: 50px; padding-bottom: 50px; width: 952px;    margin: 0 auto; display: block;}

.customernumber{font-family: 'RalewaySemiBold'; font-size: 14px; color:#ff6000; margin: 0px; padding: 0; line-height: 36px; font-weight: normal; text-transform: uppercase;
    margin-bottom: 25px;
    display: inline-block;
}
.customernumber a, .customernumber a:hover{
    color:#ff6000 !important;
    text-decoration: none;
}


.nexgen_frontfooter p{font-family: 'RalewaySemiBold'; font-size: 15px; color:#b3c3ca; margin: 0px; padding: 0; line-height: 36px; font-weight: normal;}

.nexgen_frontfooter h2{font-family: 'RalewaySemiBold'; font-size: 18px; text-transform: uppercase; margin: 0px; padding: 0; line-height: 24px; color: #eaeaea; margin-bottom: 15px; display: inline-block; width: 100%;}
.footercontentright p{line-height: 30px;}

.footercontentright p span{color:#50f5ff;}

.nexgen_frontfooter p a{font-family: 'RalewaySemiBold'; font-size: 15px; color:#b3c3ca; margin: 0px; padding: 0; line-height: 36px; font-weight: normal;}
.nexgen_frontfooter p a:hover{color:#fff; text-decoration: none !important;}

.footerlogo{
    margin-top: 10px;
    width: 240px;
}
.footerlogo img{
    max-width: 100%;
    width: 100%;
}

.bhblock{
    margin-top: 20px !important;
}


.footerlists ul{text-align: left; margin-bottom: 0; padding-left: 0; }
.footerlists ul li {display: inline-block; padding: 8px 0px; list-style: none; width: 100%; }
.footerlists ul li a{ font-family: 'RalewayMedium'; font-size: 14px; color: #b3c3ca; text-decoration: none; }
.footerlists ul li.active a{color: #fff; text-decoration: none; }
.footerlists ul li:hover a{color: #fff; text-decoration: none; }




.nex_text_frontfooter{background: #ffffff; padding: 11px 0;}
.nex_text_frontfooter ul{text-align: center; margin-bottom: 0; padding-left: 0; }
.nex_text_frontfooter ul li {display: inline-block; padding: 10px; list-style: none;font-family: 'RalewayMedium'; font-size: 13px; color: #616161; }
.nex_text_frontfooter ul li a{ color: #616161; text-decoration: none; }
.nex_text_frontfooter ul li a:hover{text-decoration: none; color: #000;}
/*Start Footer Section end*/



.homeblock3content p:last-child {
    margin-bottom: 0px;
}


.homeblock2imgwrapper{
    width: 100%;
    height: 224px;
    overflow: hidden;
    position: relative;
}

.homeblock2imgwrapper img{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    cursor: pointer;
    object-fit: cover;
}


.whoweareblock3{
    background: #dbeae7 url(../images/whoweareblock3bgwrapper.png) no-repeat top right !important;  padding-top:90px; padding-bottom: 90px;background-size: contain !important;}

.homeblock3.whoweareblock3 .homeblock3content {
    width: 62% !important;
    display: inline-block;
}

.homeblock3.whoweareblock3 .homeblock3content p {
    width: 100% !important;
}



.whoweareblock4{background: #dbeae7 url(../images/whoweareblock4bgleft.png) no-repeat top left; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 0 !important;}

.whoweareblock4bgright{background: url(../images/whoweareblock4bgright.png) no-repeat top right; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; padding-top: 35px; padding-bottom: 35px;}

.whoweareblock4 .homeblock3wrapper {
    width: 1100px;
}
.outteamcontent{
    width: 480px;
    float: left;
    text-align: center;
}



.outteamcontentinner{}
.outteamcontentinnerouter{
    justify-content: center;
}

.outteamcontenttitle{
    background: -moz-linear-gradient(1deg, rgba(128,206,88,1) 0%, rgba(26,138,164,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(128,206,88,1)), color-stop(100%, rgba(26,138,164,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(1deg, rgba(128,206,88,1) 0%, rgba(26,138,164,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(1deg, rgba(128,206,88,1) 0%, rgba(26,138,164,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(1deg, rgba(128,206,88,1) 0%, rgba(26,138,164,1) 100%); /* ie10+ */
    background: linear-gradient(89deg, rgba(128,206,88,1) 0%, rgba(26,138,164,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ce58', endColorstr='#1a8aa4',GradientType=1 ); /* ie6-9 */
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.outteamcontenttitle h2{
    font-family: 'RalewayBold';
    font-size: 24px;
    text-transform: uppercase;
    margin: 0px;
    padding: 10px 0px;
    line-height: 36px;
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.paddingdoc{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.paddingdoc h3{
    font-family: 'RalewayBold';
    font-size: 24px;
    text-transform: capitalize;
    margin: 0px;
    padding: 10px 0px;
    line-height: 36px;
    color: #262626;
    display: inline-block;
    width: 100%;
    text-align: center;
}


.outteamcontentdoc{
    width: 100%;
    justify-content: space-between;
    margin-left: 0% !important;
}

.outteamcontentdoc .paddingdoc{ position: relative;}

.principlecontentdoc .paddingdoc{position: relative;}

.principlecontentdoc .paddingdoc:after{
    content:"";
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    width: 11px;
    height: 6px;
    background-color: #48a981;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}



.outteamcontentdoc .paddingdoc:nth-child(1){
    margin-left: -10%;
}

.outteamcontentdoc .paddingdoc:nth-child(3){
    margin-right: -10%;
}




.outteamcontentdoc .paddingdoc:nth-child(1):after{
    content:"";
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    width: 11px;
    height: 6px;
    background-color: #80ce58;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.outteamcontentdoc .paddingdoc:nth-child(2):after{
    content:"";
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    width: 11px;
    height: 6px;
    background-color: #4aaa80;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.outteamcontentdoc .paddingdoc:nth-child(3):after{
    content:"";
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    width: 11px;
    height: 6px;
    background-color: #1a8aa4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


.aboutpcrblock1{}
.aboutpcrblock1 .homeblock1wrapper{
    width: 1352px;
}
.aboutpcrblock1 p{
    width: 92%;
    margin: 0 auto;
    display: block;
}




.pcrfeatureslist{
    margin-top: 20px;
    margin-bottom: 20px;
}

.pcrfeatureslist .pcrfeatureswrapper{
    padding: 15px;
}

.pcrfeatureslist ul.list-inline {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pcrfeatureslist ul.list-inline li {
    width: 24%;
    padding: 10px !important;
    background-color: #d8e4e7;
    margin: 0.5% !important;
}

.aboutpcrblock1 p{
    text-align: center;
}

.pcrfeatureslist p{
    text-align: left;
}

.pcrfeatureswrapper p{
    width: 100%;
}

.pcrfeatureswrapper p span {
    font-size: 72px;
    font-family: 'RobotoRegular';
    color: #00c0ff;
    text-transform: uppercase;
    display: inline-block !important;
    padding-right: 10px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    line-height: 50px;
}

.aboutpcrblock2 {
    background: #dbeae7 url(../images/aboutpcrblock2bgwrapper.jpg) no-repeat top left !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-size: cover !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.aboutpcrblock2inner{
    background: url(../images/aboutpcrblock2inner.png) no-repeat top right !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px;
    padding-left: 0px;
    background-size: contain!important;
}

.aboutpcrblock2 .homeblock3wrapper {
    padding: 90px 0px;
    width: 1695px;
}

.aboutpcrblock2 .homeblock3content {
    width: 65%;
    display: inline-block;
}

.aboutpcrblock2 .homeblock3content p {
    width: 100%;
}





.aboutpcrblock3 .homeblock3content{
    margin-left: 50%;
}
.aboutpcrblock3 .homeblock3content p {
    width: 100%;
}

.aboutpcrblock3 .homeblock3wrapper {
    width: 1695px;
}


.generalcls .aboutpcrblock3 p span {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutpcrblock3 {
    background: #dbeae7 url(../images/aboutpcrblock3bgwrapper.jpg) no-repeat top right !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-size: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


.aboutpcrblock3inner{
    background: url(../images/aboutpcrblock3inner.png) no-repeat top left !important;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    padding-right: 0px;
    padding-left: 0px;
    background-size: contain!important;
}




.pathogenpanelslist{
    margin-top: 20px;
    margin-bottom: 20px;
}

.pathogenpanelslist .pcrfeatureswrapper{
   padding: 15px;
}

.pathogenpanelslist ul.list-inline {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pathogenpanelslist ul.list-inline li {
    width: 32.63%;
    padding: 10px !important;
    background: -moz-linear-gradient(315deg, rgba(102,177,183,1) 0%, rgba(49,155,163,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(102,177,183,1)), color-stop(100%, rgba(49,155,163,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(315deg, rgba(102,177,183,1) 0%, rgba(49,155,163,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(315deg, rgba(102,177,183,1) 0%, rgba(49,155,163,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(315deg, rgba(102,177,183,1) 0%, rgba(49,155,163,1) 100%); /* ie10+ */
    background: linear-gradient(135deg, rgba(102,177,183,1) 0%, rgba(49,155,163,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b1b7', endColorstr='#319ba3',GradientType=1 ); /* ie6-9 */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1% !important;
}

.pathogenpanelslist ul.list-inline li p{
    font-size: 24px;
    font-family: 'RalewayExtraBold';
    color: #fff;
    text-transform: uppercase;
    line-height: 24px;
}

.aboutpcrblock4 {}
.aboutpcrblock4 .pcrfeatureswrapper {position: relative;}









.aboutpcrblock5{
    margin-top: 0px;
    margin-bottom: 0px;
}

.aboutpcrblock5 .pcrfeatureswrapper{
    padding: 15px;
}

.aboutpcrblock5 ul.list-inline {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.aboutpcrblock5 ul.list-inline li {
    width: 49%;
    margin: .5% !important;
    background-color: #d8e4e7;
}



.aboutpcrblock5 .pcrfeatureswrapper p span {
    font-size: 46px;
    line-height: 0;
}



.homeblock1.aboutpcrblock5 {
    background: #fff !important;
}

.aboutpcrblock5 .pcrfeatureslist ul.list-inline li{width:49%;}





.aboutpcrblock6 {
    background: #dbeae7 url(../images/aboutpcrblock6bgwrapper.jpg) no-repeat top left !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-size: cover !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.aboutpcrblock6inner{
    background: url(../images/aboutpcrblock6inner.png) no-repeat top right -5% !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px;
    padding-left: 0px;
    background-size: contain!important;
}

.aboutpcrblock6 .homeblock3wrapper {
    padding: 60px 0px;
    width: 1695px;
}

.aboutpcrblock6 .homeblock3content {
    width: 65%;
    display: inline-block;
}

.aboutpcrblock6 .homeblock3content p {
    width: 100%;
}

.aboutpcrblock6 .homeblock3content p span{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}




.aboutpcrblock7 .homeblock3content{
    margin-left: 50%;
}
.aboutpcrblock7 .homeblock3content p {
    width: 100%;
}

.generalcls .aboutpcrblock7 p span {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutpcrblock7 {
    background: #dbeae7 url(../images/aboutpcrblock7bgwrapper.jpg) no-repeat top right !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-size: cover !important;
}


.aboutpcrblock7inner{
    background: url(../images/aboutpcrblock7inner.png) no-repeat !important;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    padding-right: 0px;
    padding-left: 0px;
    background-size: contain!important;
}

.redcolortxtnew{
    display: inline-block !important;
    color: #fd0f0f;
}
.getstartedblock1 .homeblock1wrapper {
    width: 1134px;
    margin: 0 auto;
    display: block;
}

.getstartedblock1 h3{
    color:#51ae73;
}


.getstartedpage{}

.getstartedpage .frontslidercontentinner {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 83%;
}

.getstartedpage .frontslider .frontslidercontent h2 {
    font-family: 'RalewayExtraBold';
    font-size: 27px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0;
    line-height: 30px;
}

.getstartedpage .frontslider .frontslidercontent p {
    font-family: 'RalewayRegular';
    font-size: 18px;
    margin: 0px;
    padding: 0;
    line-height: 24px;
    font-weight: normal;
    margin-left: 0px;
    font-style: normal;
    color: #fff;
    margin-top: 7px;
}



.getstaredfooternew{}
.getstaredfooternew .homeblock4 {
    background: url(../images/getstaredfooternewbg.jpg) no-repeat bottom left!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}





/*
.rTable { display: table; width: 100%; text-align: center; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; }*/
