@media screen  and  (max-width: 1800px) {
    .aboutpcrblock2inner {
        background: url(../images/aboutpcrblock2inner.png) no-repeat top right -15% !important;
    }

    .aboutpcrblock2 .homeblock3wrapper {
        width: 96%;
    }

    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -15% !important;
    }
    .aboutpcrblock6 .homeblock3wrapper{
        width: 96%;
    }
    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -20% !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-right: 0px;
        padding-left: 0px;
        background-size: contain!important;
    }
}


@media screen  and  (max-width: 1700px) {



    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -30% !important;
        background-size: contain!important;
    }
    .aboutpcrblock7inner {
        background: url(../images/aboutpcrblock7inner.png) no-repeat left -12% top !important;
        background-size: contain!important;
    }
    .aboutpcrblock2 .homeblock3wrapper {
        width: 94%;
    }

    .aboutpcrblock3 .homeblock3wrapper {
        width: 94%;
    }

    .aboutpcrblock6 .homeblock3wrapper {
        width: 94%;
    }
    .aboutpcrblock7 .homeblock3wrapper {
        width: 94%;
    }
}


@media screen  and  (max-width: 1666px){

    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -48% !important;
        background-size: contain!important;
    }

    .whoweareblock3 {
        background: #dbeae7 url(../images/whoweareblock3bgwrapper.png) no-repeat top right -15% !important;
        background-size: contain !important;
    }


    .homeblock3.whoweareblock3 .homeblock3content {
        width: 54% !important;
        display: inline-block;
    }

    .nexgen_frontheader_wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .carousel-item img.full-screen{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: inherit !important;
    }
    .homeblock2wrapper{
        width: 98%;
    }

    .homeblock3wrapper{
        width: 98%;
    }

    .nexgen_frontheader_wrapper .social_media_container .call_container {
        padding-right: 5%;
    }
    .nexgen_frontheader_wrapper .navbarblockwrapperinner {
        padding-right: 5%;
    }
}

@media screen  and  (max-width: 1600px) {
    .whoweareblock4bgright {
        background: url(../images/whoweareblock4bgright.png) no-repeat top right -300%;
        background-size: contain;
    }

    .aboutpcrblock7inner {
        background: url(../images/aboutpcrblock7inner.png) no-repeat left -30% top !important;
        background-size: contain!important;
    }
    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -55% !important;
        background-size: contain!important;
    }
    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -25% !important;
    }

    .frontslider .carousel-caption {
        left: 23%;
    }

}


@media screen  and  (max-width: 1540px) {
    .whoweareblock4bgright {
        background: url(../images/whoweareblock4bgright.png) no-repeat top right -135%;
        background-size: contain;
    }
    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -70% !important;
        background-size: contain!important;
    }
}


@media screen  and  (max-width: 1500px) {
    .whoweareblock3 {
        background: #dbeae7 url(../images/whoweareblock3bgwrapper.png) no-repeat top right -5% !important;
        background-size: contain !important;
    }
    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -40% !important;
        background-size: contain!important;
    }

    .aboutpcrblock7inner {
        background: url(../images/aboutpcrblock7inner.png) no-repeat left -22% top!important;
        background-size: contain!important;
    }

    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -15% !important;
        background-size: contain!important;
    }

    .frontslider .carousel-caption {
        left: 26%;
    }

    .generalcls h1 {
        font-size: 30px !important;
        line-height: 34px !important;
        margin-top: 10px;
    }
    .homeblock4 h1{
        font-size: 30px !important;
        line-height: 34px !important;
        margin-top: 10px;
    }
    .generalcls p {
        font-size: 18px;
        line-height: 24px;
    }

    .generalcls .homeblock2 p span, .generalcls .homeblock1 p span {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bigtextwrapper {
        font-size: 21px;
        padding: 12px;
    }

    .homeblock2contentleft {
        margin-right: 20px;
    }

    .generalcls p {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen  and  (max-width: 1440px) {
    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -25% !important;
        background-size: contain !important;
    }
}


@media screen  and  (max-width: 1400px){
    .aboutpcrblock7inner {
        background: url(../images/aboutpcrblock7inner.png) no-repeat left -31% top!important;
        background-size: contain!important;
    }

    .whoweareblock4bgright {
        background: url(../images/whoweareblock4bgright.png) no-repeat top right 170%;
        background-size: cover;
    }

    .aboutpcrblock2inner {
        background: url(../images/aboutpcrblock2inner.png) no-repeat top right -30% !important;
        background-size: contain!important;
    }

    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -30% !important;
        background-size: contain!important;
    }

    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -60% !important;
        background-size: contain!important;
    }

}

@media screen  and  (max-width: 1366px) {
    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -50% !important;
        background-size: contain!important;
    }

    .aboutpcrblock7inner {
        background: url(../images/aboutpcrblock7inner.png) no-repeat left -34% top!important;
        background-size: contain!important;
    }


/*    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -70% !important;
    }*/


    .aboutpcrblock3 .homeblock3content {
        width: 46% !important;
    }
    .aboutpcrblock3 .homeblock3content {
        margin-left: 54%;
    }


    .aboutpcrblock7 .homeblock3content {
        width: 46% !important;
    }
    .aboutpcrblock7 .homeblock3content {
        margin-left: 54%;
    }

    .aboutpcrblock1 .homeblock1wrapper {
        width: 98%;
    }
    .aboutpcrblock6 .homeblock3content p span {
        display: block;
        margin-top: 7px;
        margin-bottom: 7px;
    }


    .nex_frontheader_logo {
        padding: 15px;
    }
    .nexgen_frontheader_wrapper .social_media_container .call_container {
        padding-right: 0;
    }
    .nexgen_frontheader_wrapper .navbarblockwrapperinner {
        padding-right: 0;
    }

    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -60% !important;
        background-size: contain!important;
    }
}

@media screen  and  (max-width: 1300px) {

    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -70% !important;
        background-size: contain!important;
    }

    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -65% !important;
        background-size: contain !important;
    }
}


@media screen  and  (max-width: 1280px) {
    .aboutpcrblock7 .homeblock3content {
        margin-left: 56%;
        width: 44% !important;
    }

    .whoweareblock4bgright {
        background: url(../images/whoweareblock4bgright.png) no-repeat top right 125%;
        background-size: cover;
    }

    .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -100% !important;
    }
    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -55% !important;
        background-size: contain!important;
    }
    .aboutpcrblock7inner {
        background: url(../images/aboutpcrblock7inner.png) no-repeat left -48% top!important;
        background-size: contain!important;
    }

    .aboutpcrblock2inner {
        background: url(../images/aboutpcrblock2inner.png) no-repeat top right -50% !important;
    }
    .frontslider .carousel-caption {
        left: 29%;
    }
    .generalcls p {
        font-size: 14px;
        line-height: 20px;
    }
    .generalcls h1 {
        margin-bottom: 10px;
    }
    .homeblock4 h1{
        margin-bottom: 10px;
    }
}

@media screen  and  (max-width: 1240px) {
    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -70% !important;
        background-size: contain!important;
    }

     .aboutpcrblock3inner {
        background: url(../images/aboutpcrblock3inner.png) no-repeat top left -120% !important;
    }
}

@media screen  and  (max-width: 1220px) {
    .aboutpcrblock6inner {
        background: url(../images/aboutpcrblock6inner.png) no-repeat top right -80% !important;
        background-size: contain !important;
    }
}


@media screen  and  (max-width: 1199px){
    .getstaredfooternew .homeblock4 {
        background: none !important;
    }

    .frontslider .frontslidercontent p {
        margin-left: 0;
        margin-top: 10px;
    }
    .homeblock2content ul.list-inline li:nth-child(1){padding-left: 5px !important;}
    .homeblock2content ul.list-inline li:nth-child(3){padding-left: 5px !important;}


    .generalcls .homeblock2 p span.bigtextwrapper {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .getstartedpage .frontslider .carousel-item img {
        width: 130%!important;
        margin-left: -30%;
    }

    .getstartedblock1 .homeblock1wrapper {
        width: 100%;
    }
    .aboutpcrblock6inner {
        background: #dbeae7 url(../images/aboutpcrblock6inner.png) no-repeat left top !important;
        background-size: 100% !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .aboutpcrblock6inner .homeblock3wrapper {
        padding-left: 0px;
        padding-top: 64% !important;
        text-align: center;
        width: 100%;
        padding: 25px 0px;
    }
    .aboutpcrblock6 .homeblock3content {
        width: 94%;
        display: inline-block;
    }




    .aboutpcrblock7inner {
        background: #dbeae7 url(../images/aboutpcrblock7inner.png) no-repeat left top !important;
        background-size: 100% !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .aboutpcrblock7inner .homeblock3wrapper {
        padding-left: 0px;
        padding-top: 46% !important;
        text-align: center;
        width: 100%;
        padding: 25px 0px 10px;
    }
    .aboutpcrblock7 .homeblock3content {
        width: 94% !important;
        display: inline-block;
    }
    .aboutpcrblock7 .homeblock3content {
        margin-left: 0;
    }


    .pathogenpanelslist ul.list-inline li p {
        font-size: 18px;
        line-height: 20px;
    }

    .aboutpcrblock2 .homeblock3content {
        width: 94%;
        display: inline-block;
    }

    .aboutpcrblock3 .homeblock3content {
        margin-left: 0;
        width: 94% !important;
    }
    .aboutpcrblock3inner {
        background: #dbeae7 url(../images/aboutpcrblock3inner.png) no-repeat left top !important;
        background-size: 108% !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .aboutpcrblock3 .aboutpcrblock3inner {
        padding-left: 0px;
        text-align: center;
        width: 100%;
        padding: 25px 0px;
    }

    .aboutpcrblock3 .homeblock3wrapper {
        padding-top: 39%;
    }
    .aboutpcrblock2inner {
        background: #dbeae7 url(../images/aboutpcrblock2inner.png) no-repeat left top !important;
        background-size: 108% !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .aboutpcrblock2inner .homeblock3wrapper {
        padding-left: 0px;
        padding-top: 47% !important;
        text-align: center;
        width: 100%;
        padding: 25px 0px;
    }


    .outteamcontentdoc .paddingdoc{width: 33.33% !important;}

    .whoweareblock4 .homeblock3wrapper {
        width: 100%;
    }

    .whoweareblock4 .homeblock3wrapper {
        padding-left: 0px;
        padding-top: 24%;
        text-align: center;
    }

    .whoweareblock4 .outteamcontent {
        width: 480px;
        float: none;
        text-align: center;
        margin: 0 auto;
    }


    .whoweareblock4bgright {
        /*background: #dbeae7 url(../images/whoweareblock4bgright.png) no-repeat top left 100%;*/
        background-size: 108% !important;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .whoweareblock4 {
        background: #dbeae7 url(../images/whoweareblock4bgleft.png) no-repeat top left;
        background-size: 147%;
        padding: 0 !important;
    }

    /*.whoweareblock4{
        padding:  0!important;
    }
*/


    .frontslidercontentinner {
        position: inherit !important;
        top: 0 !important;
        left: 0 !important;
        transform: inherit !important;
        -webkit-transform: inherit !important;
        -ms-transform: inherit !important;
        -o-transform: inherit !important;
        width: 100% !important;
    }

    .frontslider .carousel {
        height: auto;
        overflow: hidden;
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(122,206,76,0.9)), color-stop(100%, rgba(0,125,158,0.9)));
        background: -webkit-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%);
        background: -o-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%);
        background: -ms-linear-gradient(318deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.9) 100%);
        background: linear-gradient(132deg, rgba(122,206,76,0.9) 0%, rgba(0,125,158,0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ace4c', endColorstr='#007d9e',GradientType=1 );
    }
    .frontslider .carousel-caption {
        position: inherit !important;
        right: 0 !important;
        bottom: 0; !important;
        z-index: 9999999;
        height: auto !important;
        transform: inherit !important;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        text-align: center;
    }
    .frontslidercontentwrapper {
        position: relative;
        height: auto;
    }

    .frontslider .frontslidercontent {
        -webkit-clip-path: none;
        clip-path: none;
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px 20px;
        background: none !important;
    }
    .frontslider .carousel-caption button {
        position: inherit;
        bottom: 0;
        right: 0;
        margin-bottom: 30px;
    }

    .homeblock3 {
        background: #dbeae7 url(../images/homeblock3bgwrapper.png) no-repeat left top !important;
        background-size: 115% !important;
        height: auto;
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .homeblock3wrapper {
        padding-left: 0px;
        padding-top: 42%;
        text-align: center;
        width: 100%;
    }

      .carousel-item img.full-screen{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: inherit !important;
    }
    .bigtextwrapper {
        font-size: 18px;
        padding: 10px;
    }

    .homeblock2content {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-block;
    }

    .homeblock2contentleft {
        margin-right: auto;
        margin-left: auto;
        display: block;
        float: none;
        width: 500px;
    }

    .homeblock2contentright{
        text-align: center;
        width: 100%;
    }

    .homeblock2contentright .btnblue {
        float: none;
        margin-top: 20px;
    }
    .homeblock3content {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .homeblock3content .btnblue {
        float: none;
    }
    .homeblock3content p {
        width: 100%;
        margin-bottom: 20px;
    }

    .homeblock2wrapper {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .homeblock1wrapper {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .homeblock3 {
        padding-top: 10px;
        padding-bottom: 30px;
    }


    .homeblock4wrapper {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .nexgen_frontfooterwrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .formdivwrapper_content .form-group.text-right{
        text-align: center !important;
    }
    .homeblock4wrapper {
        text-align: center;
    }
   .frontslider .carousel-item img {
        width: 100%!important;
    }


    .whoweareblock3 {
        background: #dbeae7 url(../images/whoweareblock3bgwrapper.png) no-repeat left top !important;
        background-size: 108% !important;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .homeblock3.whoweareblock3 .homeblock3content {
        width: 100% !important;
        display: inline-block;
    }
}

@media screen  and  (max-width: 1100px) {
    .homeblock1wrapper{
        width: 100%;
    }

}

@media screen  and  (max-width: 991px) {
    .nexgen_frontfooterwrapper{
        width: 94%;
    }

    .callnewdivinner {
        padding: 10px !important;
        text-align: center;
    }

    .navbarnewdivinner .navbar-brand{display: block;}
    .navbarnewdivinner {
        padding-right: 0% !important;
        float: none;
        width: 100%;
    }
    .navbarnewdivinner .navbar{
        display: inherit;
        padding: 10px !important;
    }

    .pcrfeatureslist ul.list-inline li {
        width: 32.33% !important;
    }
    .aboutpcrblock5 .pcrfeatureslist ul.list-inline li{
        width:49% !important;
    }

    .nexgen_frontheader_wrapper .social_media_container .call_container p {
        text-align: center;
    }
    .home_wrapper .carousel .carousel-control-next, .carousel-control-prev{
        height: 100% !important;
    }
    .navbarblockwrapper {
        padding: 10px;
    }
    .nexgen_frontfooterwrapper .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nexgen_frontheader_wrapper .navbar-expand-lg .navbar-brand{
        color:#333;
        text-transform: uppercase;
        font-weight: bold;
    }
    .nexgen_frontheader_wrapper .navbar-toggler {
        background-color: #d0d0d0b0 !important;
        border: 1px solid transparent;
    }


    .nexgen_frontfooterwrapper {
        width: 100%;
        text-align: center;
    }
    .footerlists {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 1px solid #43555d;
        border-bottom: 1px solid #43555d;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footerlists ul {
        text-align: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    .footerlogo {
        margin-top: 10px;
        float: none;
        width: 267px;
        margin-left: auto;
        margin-right: auto;
    }

    .frontslider .frontslidercontent h5 {
        font-family: 'RalewayRegular';
        font-size: 22px;
        margin: 0px;
        padding: 0;
        line-height: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .frontslider .carousel-control-prev-icon {
        background-image: url(../images/front_prev_icon.png)!important;
        padding: 20px;
    }
    .frontslider .carousel-control-next-icon {
        background-image: url(../images/front_next_icon.png)!important;
        padding: 20px;
    }

    .collapse.in {
        display: block !important;
    }
    .navbar-collapse {
        background-color: #efefef;
        margin-top: 10px;
    }
    .frontslider .carousel-caption {
        left: 34%;
    }
    .logowrapperbgtop {
        height: 100px;
    }
    .logowrapperbgtop{
        display: none;
    }
    .nex_frontheader_logo {
        position: inherit;
        right: 0px;
        z-index: 9999;
        top: 0;
        transform: inherit;
    }
    .nexgen_frontheader_wrapper .col-md-8 {
        padding: 0;
        width: 100% !important;
        max-width: 100% !important;
        display: block;
        float: none;
        flex:0 0  100%;
    }
    .nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav {
        width: 100%;
    }
    .nexgen_frontheader_wrapper .col-md-4 {
        padding: 0;
        width: 100% !important;
        max-width: 100% !important;
        display: block;
        float: none;
        flex:0 0 100%;
        text-align: center;
    }

    .nexgen_frontheader_wrapper .social_media_container .call_container{
        padding-right: 0 !important;
    }
    .navbarblockwrapperinner {
        padding-right: 0 !important;
        width: 100%;
    }
    .nexgen_frontheader_wrapper .social_media_container {
        display: block;
        align-items: center;
        width: auto;
        height: auto;
        float: none;
        margin: 0;
    }
    .nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .nexgen_frontheader_wrapper .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px !important;
        border-bottom: 1px solid #d0d0d0;
    }
    .nexgen_frontheader_wrapper .navbar-expand-lg .navbar-toggler{ margin: 0 auto; padding: 8px; padding-bottom: 0; border: 1px solid #696767;}
    .nexgen_frontheader_wrapper .navbar-expand-lg .col-md-8 .navbar-toggler:focus, .navbar-toggler:hover {
        text-decoration: none;
        outline: none;
    }
    .nexgen_frontheader_wrapper .navbar-expand-lg .navbar-brand{ margin-right: 0px; float: left; }
    .nexgen_frontheader_wrapper .col-md-4 .social_media_container .profile_section .dropdown{position: inherit!important;}
    .nexgen_frontheader_wrapper .col-md-4 .social_media_container .profile_section .dropdown .dropdown-menu{position: inherit!important; transform: inherit;
        top:0;
        left:0;
    }

    .menubarcls{
        display: block !important;
    }

}


@media screen  and  (max-width: 767px) {


    .generalcls .homeblock2 p span.bigtextwrapper {
        width: 98%;
    }

    .outteamcontentdoc .paddingdoc:nth-child(3) {
        margin-right: -6%;
    }
    .outteamcontentdoc .paddingdoc:nth-child(1) {
        margin-left: -6%;
    }

    .outteamcontentdoc {
        width: 100%;
    }

    .formdivwrapper form {
        margin-top: 15px;
    }
    .homeblock4wrapper {
        width: 100%;
    }

    .homeblock4wrapper h1{
        margin-bottom: 0px !important;
    }
    .homeblock4 .form-row {
        display: inline-block !important;
        flex-wrap: inherit !important;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 100%;
    }
    .pcrfeatureslist ul.list-inline li {
        width: 49% !important;
    }


}

@media screen  and  (max-width: 600px) {
    .paddingdoc h3 {
        font-size: 20px;
        line-height: 36px;
    }
    .pathogenpanelslist ul.list-inline li {
        width: 49.43%;
    }
}

@media screen  and  (max-width: 540px) {
    modal-container .modal-dialog{
        width: 90%;
    }

    .generalcls .homeblock2 p span.bigtextwrapper {
        width: 90%;
    }

    .homeblock2content {
        display: block;
    }
    .frontslider .frontslidercontent h5 {
        font-size: 18px;
        line-height: 24px;
    }
    .whoweareblock4 .homeblock3wrapper {
        padding-top: 18%;
    }
    .frontslider .frontslidercontent h2 {
        font-size: 32px;
        line-height: normal;
    }
    .frontslider .frontslidercontent p {
        font-size: 16px;
        line-height: 24px;
        margin-left: 0;
        font-style: normal;
        margin-top: 15px;
    }
    .whoweareblock4 .outteamcontent {
        width: 380px;
    }
    .paddingdoc h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .outteamcontenttitle h2 {
        font-size: 18px;
        padding: 5px 0px;
    }
    .homeblock2contentleft {
        width: 100%;
    }
    .homeblock2content ul.list-inline li {
        padding: 5px !important;
    }
    .generalcls h1 {
        font-size: 25px !important;
        line-height: 26px !important;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .homeblock4 h1{
        font-size: 25px !important;
        line-height: 26px !important;
        margin-top: 10px;
    }
    .frontslider .carousel-control-prev {
        width: 7% !important;
    }
    .frontslider .carousel-control-next {
        width: 7% !important;
    }
    .customernumber {
        margin-bottom: 10px;
    }
}



@media screen  and  (max-width: 480px) {
    .pcrfeatureslist ul.list-inline li {
        width: 100% !important;
    }

    .frontslider .frontslidercontent h2 {
        font-size: 28px;
    }
    .footerlogo {
        width: 90%;
    }
    .frontslider .frontslidercontent h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .getstartedpage .frontslider .frontslidercontent h2 {
        font-size: 22px;
        line-height: 26px;
    }

    .btnblue {
        font-size: 18px;
        line-height: 24px;
    }

    .generalcls h1 {
        font-size: 22px !important;
        line-height: 24px !important;
    }

    .aboutpcrblock5 .pcrfeatureslist ul.list-inline li {
        width: 100% !important;
    }
    .homeblock2imgwrapper {
        height: 90px;
    }
    .whoweareblock4 .outteamcontent {
        width: 270px;
    }
    .outteamcontenttitle h2 {
        font-size: 16px;
        padding: 5px 0px;
        line-height: 20px;
    }
    .paddingdoc h3 {
        font-size: 14px;
        line-height: 21px;
    }
    .pcrfeatureslist ul.list-inline li {
        width: 100%;
    }
    .pathogenpanelslist ul.list-inline li {
        width: 100%;
    }
}


@media screen  and  (max-width: 360px) {
    .whoweareblock4 .outteamcontent {
        width: 264px;
    }
}