@media  screen and (max-width: 1900px) {
    .signup_wrapper .sign_inner_wrapper {
        width: 90%;
    }
    .sales_agreement_wrapper .sales_inner_wrapper{ width: 90%; }
}
@media screen and (max-width: 1830px) {
    .home_wrapper .carousel-item .carousel-caption {
        left: 9%;
    }
}
@media screen and (max-width: 1750px){
    .nextgen_login_wrapper {
        background-size: 124%;
        background-position: 45% 0%;
    }
    .nexgen_header_wrapper{ width:90%;}
    .home_wrapper .carousel-item .carousel-caption {
        left: 7%;
    }
}

@media screen and (max-width: 1660px){
    .nextgen_login_wrapper {background-position: 65% 0%;}
    .carousel-item img {
        width: 110%!important;
    }
}
@media screen and (max-width: 1630px) {
    .home_wrapper .carousel-item .carousel-caption {
        left: 6%;
    }

}
@media screen and (max-width: 1580px) {
    .nexgen_header_wrapper {
        width: 94%;
    }

    .nexgen_header_wrapper .social_media_container .profile_section ul {
        padding-left: 15px;
    }
}
@media screen and (max-width: 1520px) {
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav {
        width: 685px;
    }
}
@media screen and (max-width: 1440px) {
    .home_wrapper .carousel  .carousel-control-next, .carousel-control-prev{width: 5%!important; }
}
@media screen and (max-width: 1400px) {
    .login_container {
        width: 700px;
        padding: 60px 70px;
    }
    .home_wrapper .carousel-item .carousel-caption{ width: 460px; bottom: 25%; }
    .home_wrapper .carousel-item .carousel-caption h2{ font-size: 54px; }
}
@media screen and (max-width: 1380px){
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav { width: 575px; }
}
@media screen and (max-width: 1366px){
    .signup_wrapper .inner_block .form_section .form-group .form-control{ height: 32px;}
    .signup_wrapper .inner_block .form_section .form-group textarea{ height: 50px!important;}
    .signup_wrapper .inner_block .form_section .User_section { padding: 6px 0; }
}
@media screen and (max-width: 1340px) {
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav {
        width: 500px;
    }
}
@media screen and (max-width: 1280px){
    .nexgen_header_wrapper .social_media_container p { font-size: 15px; }
    .nextgen_login_wrapper {
        background-size: 130%;
        background-position: 50% 0%;
    }

    .login_container {
        width: 650px;
        padding: 50px 60px;
    }
    .login_container form .form-group p:nth-child(2) { width: 38%; }
}
@media screen and (max-width: 1240px){
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav {
        width: 450px;
    }
    .home_wrapper .carousel-item .carousel-caption {
        width: 440px;
        bottom: 25%;
    }
    .home_wrapper .carousel-item .carousel-caption h2 {
        font-size: 50px;
    }
    .home_wrapper .carousel-item .carousel-caption h5 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1220px){
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav {
        width: 100%;
    }
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav .nav-link{ padding:7px; }
}
@media screen and (max-width: 1199px){
    .signup_wrapper{height: auto; position: inherit; padding: 40px 0; }
    .signup_wrapper .sign_inner_wrapper{position: inherit;
        top:0;
        left:0;
        transform: inherit;
        padding: 30px 0;
    }

    .nexgen_header_wrapper .col-md-4{ max-width: inherit;
        flex:1;}
    .nexgen_header_wrapper .social_media_container{float:none;}
    .nexgen_header_wrapper .col-md-8 { max-width: inherit; flex: 1; display: block; width: 100%; }


    .nexgen_header_wrapper .col-md-4 .social_media_container .profile_section .dropdown .dropdown-menu.show { top: 25px !important;  left: -162%!important; }
    .nextgen_login_wrapper{  background: url("../images/login_bgresponsive.jpg") no-repeat; background-size: cover;
        position: inherit;
    }
    .login_container form .form-group .signin_button{ margin-top: 0px; }
    .nexgen_header_wrapper .hidden_logo{ display: block; margin: 0 auto;
        width: 300px;
        text-align: center;}
    .nexgen_header_wrapper .hidden_logo img{width: 100%; height:auto;}
    .nex_header_logo{display: none; }
    .nexgen_header_wrapper .social_media_container .profile_section ul li .nav-link {
        padding: 0px;
        margin-top: 10px;
    }
    /*Home section*/
    .home_wrapper .carousel-item .carousel-caption {
        width: 100%;
        bottom: 0;
        position: inherit;
        left: 0;
        right: 0;
        top: 0;
        background: rgba(41, 41, 41, 0.7);
        text-align: center;
        cursor: pointer;
        display: block!important;
    }
    .carousel-item img { width: 100%!important; }
    .home_wrapper .carousel  .carousel-control-next, .carousel-control-prev{width: 7%!important; }
}


@media screen and (max-width: 1040px) and (min-width: 992px) {

}
@media screen and (max-width: 991px) {

    .nexgen_header_wrapper .col-md-8 {
        padding: 0;
        width: 100% !important;
        max-width: 100% !important;
        display: block;
        float: none;
        flex:0 0  100%;
    }
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav {
        width: 100%;
    }
    .nexgen_header_wrapper .col-md-4 {
        padding: 0;
        width: 100% !important;
        max-width: 100% !important;
        display: block;
        float: none;
        flex:0 0 100%;
        text-align: center;
    }
    .nexgen_header_wrapper .social_media_container {
        display: block;
        align-items: center;
        width: auto;
        height: 100%;
        float: none;
        margin: 0;
    }
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .nexgen_header_wrapper .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px;
        border-bottom: 1px solid #d0d0d0;
    }
    .nexgen_header_wrapper .navbar-expand-lg .navbar-toggler{ margin: 0 auto; padding: 8px; padding-bottom: 0; border: 1px solid #696767;}
    .nexgen_header_wrapper .navbar-expand-lg .col-md-8 .navbar-toggler:focus, .navbar-toggler:hover {
        text-decoration: none;
        outline: none;
    }
    .nexgen_header_wrapper .navbar-expand-lg .navbar-brand{ margin-right: 0px; }
    .nexgen_header_wrapper .col-md-4 .social_media_container .profile_section .dropdown{position: inherit!important;}
    .nexgen_header_wrapper .col-md-4 .social_media_container .profile_section .dropdown .dropdown-menu{position: inherit!important; transform: inherit;
        top:0;
        left:0;
    }
    .nexgen_header_wrapper .col-md-4 .social_media_container .profile_section ul li .dropdown-menu .dropdown-item  {border-bottom: 1px solid #d2d2d2;}
    .nexgen_header_wrapper .col-md-4 .social_media_container .profile_section ul li .dropdown-menu .dropdown-item:nth-last-child(1)  {border-bottom: none;}
    .nexgen_header_wrapper .col-md-4 .social_media_container .profile_section .dropdown .dropdown-menu.show {
        display: block;
        width: 100%;
        transform: inherit!important;
        text-align: center;
    }
    .nexgen_header_wrapper .social_media_container .profile_section ul {
        padding-left: 0;
        padding: 0 8px;
    }
    .sales_agreement_wrapper .sales_inner_wrapper .inner_block h2{ font-size: 48px; }
}
@media screen and (max-width: 860px){
    .home_wrapper .carousel .carousel-control-next, .carousel-control-prev {
        width: 8%!important;
    }
}


@media screen and (max-width: 776px){
    .login_container {
        width: 85%;
        padding: 40px 45px;
    }
    .login_container form .form-group p{ font-size: 16px;}
    .home_wrapper .carousel  .carousel-control-next, .carousel-control-prev{height: 60%!important; }
    .home_wrapper .carousel .carousel-control-next, .carousel-control-prev {
        width: 10%!important;
    }
}
@media screen and (max-width: 700px){
    .login_container form .form-group p {
        display: block;
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .login_container form .form-group p:nth-child(2) {
        width: 100%;
        float: none;
        text-align: center;
    }

}
@media screen and (max-width: 620px){
    .home_wrapper .carousel .carousel-control-next, .carousel-control-prev {
        width: 12%!important;
    }
}
@media screen and (max-width: 520px){
    .nexgen_header_wrapper .social_media_container p {
        font-size: 16px;
        display: inline-block;
    }
    .nexgen_header_wrapper .social_media_container .profile_section ul {
        padding-left: 0;
    }
    .nexgen_header_wrapper .row{
        padding:0!important; margin: 0!important;}
}
@media screen and (max-width: 480px){
    .login_container {
        width: 90%;
        padding: 40px 45px;
    }
    .home_wrapper .carousel .carousel-control-next, .carousel-control-prev {
        width: 15%!important;
        height:45%!important;
    }
    .home_wrapper .carousel-item .carousel-caption h5 { font-size: 18px; }
    .home_wrapper .carousel-item .carousel-caption h2 { font-size: 32px;}
    .home_wrapper .carousel-item .carousel-caption h5 { font-size: 18px; }
    .home_wrapper .carousel .carousel-control-next, .carousel-control-prev {
       height: 45%!important;
    }
    .carousel-control-next-icon{ padding: 20px;}
    .carousel-control-prev-icon{ padding: 20px;}
}
@media screen and (max-width: 420px) {
    .signup_wrapper .inner_block .form_section .form-row > .col, .form-row > [class*=col-] {
        padding-right: 0px !important;
    }
    .signup_wrapper .inner_block .form_section .sign_upbutton{
        width: 100%;
        display: inherit;
        padding: 0;
    }
    .signup_wrapper .inner_block{ padding: 20px; }
}
@media screen and (max-width: 360px){
    .login_container form .form-group .signin_button{ font-size: 30px; }
    .login_container { padding: 20px; }
    .login_container form .form-group p{ font-size: 16px;}
    .forgot_container .form-group h3{font-size: 20px;}
    .nexgen_header_wrapper .hidden_logo img {
        width: 90%;
        height: auto;
    }

    .home_wrapper .carousel-item .carousel-caption h2 {
        font-size: 24px;
    }
    .home_wrapper .carousel-item .carousel-caption h5 {
        font-size: 16px;
        font-weight: bold;
    }
    .home_wrapper .carousel-item .carousel-caption p {
        line-height: 20px;
    }
}