<!--<app-adminheader></app-adminheader>-->
<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right myreplist">
      <app-listing class="myrep" templatetype="table" sourcetitle="Rep" source="users_view" [sourcecondition]="sourcecondition" [tabledatalis]="tabledatalis" menuval="Rep List" [formdata]="formdata" [formsource]="datasource">
      </app-listing>
    </div>
  </div>
</div>