<app-adminheader></app-adminheader>
<div class="nextGen_admin_mainwrapper">
  <div class="page-wrapper s_getmybrand_adminlist">
    <div class="nexgen_adminlist">
      <div class="user_management_wrapper">
        <div class="user_management_inner">
          <h2>Legal Documents</h2>
          <a class="w_9_download_btn" href="https://www.irs.gov/pub/irs-pdf/f1099msc.pdf" target="_blank">Click Here To Download 1099</a>
          <div class="clearfix"></div>
        </div>
        <div class="row">
          <div class="col-lg-12 admin_inner_wrapper">
            <div class="clearfix"></div>
            <div class="content_header_block">
              <div class="clearfix"></div>
              <div class="newblock1 ">
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="nexgen_admin_table">
              <div class="action_section">
                <div class="inner_actionblock">
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="table-responsive admin_table_wrapper generaltablecls">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Document</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr>
                    <td>
                      <span *ngIf="getw9values==null">-</span>
                      <span *ngIf="getw9values!=null">{{commonservices.showdateforreplegal(getw9values.created_at)}}</span>
                    </td>
                    <td>1099</td>
                    <td>
                      <span *ngIf="getw9values!=null">Submitted</span>
                      <span *ngIf="getw9values==null">Not Submitted</span></td>
                    <td>

                      <input style="display: none" type="file" accept=".doc,.docx,.ppt,.pdf,.txt" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event,'W9')" [uploadInput]="uploadInput" #fileInput1 >

                      <button (click)="fileInput1.click()" type="button" class="deletebtn"  *ngIf="getw9values!=null">Upload New</button>
                      <button (click)="fileInput1.click()" type="button" class="deletebtn"  *ngIf="getw9values==null">Upload</button> <button type="button" (click)="deletdata(getw9values,commonconfirmmodal)" *ngIf="getw9values" class="deletebtn">Delete</button>
                    <!--  <label *ngIf="filesw9==null && getw9values!=null">Uploaded File Name: {{getw9values.filelocalname}}</label>-->
                      <div *ngIf="filesw9?.length>0">
                      <!--  <span *ngIf="percentageisw9==100 && errormg==''">
                          <img *ngIf="last=='pdf'" src="../../assets/images/pdfimage.png"/>
                          <img *ngIf="last=='doc'" src="../../assets/images/docimage.png"/>
                          <img *ngIf="last=='docx'" src="../../assets/images/docximage.png"/>
                          <img *ngIf="last=='ppt'" src="../../assets/images/pptimage.png"/>
                          <img *ngIf="last=='txt'" src="../../assets/images/txtimage.png"/>
                          <img *ngIf="last=='xls'" src="../../assets/images/xlsimage.png"/>
                          <label> File Name: {{filesw9[0].name}}</label>
                        </span>-->
                        <label *ngIf="percentageisw9!=100 && errormg==''">Upload Percentage:{{percentageisw9}}%</label>
                        <br>
                      </div>
                     </td>
                  </tr>

                  <!-- <tr>
                    <td>
                      <span *ngIf="getidvalues==null">-</span>
                      <span *ngIf="getidvalues!=null">{{commonservices.showdateforreplegal(getidvalues.created_at)}}</span>
                    </td>
                    <td>Insurance Docket</td>
                    <td>
                      <span *ngIf="getidvalues!=null">Submitted</span>
                      <span *ngIf="getidvalues==null">Not Submitted</span></td>
                    <td>
                      <input style="display: none" type="file" accept=".doc,.docx,.ppt,.pdf,.txt" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event,'ID')" [uploadInput]="uploadInput" #fileInput2 >
                      <button (click)="fileInput2.click()" type="button" class="deletebtn" *ngIf="getidvalues!=null">Upload New</button>         <button (click)="fileInput2.click()" type="button" class="deletebtn" *ngIf="getidvalues==null">Upload</button>
                      <button type="button" (click)="deletdata(getidvalues,commonconfirmmodal)" *ngIf="getidvalues" class="deletebtn">Delete</button>
                      <div *ngIf="filesid?.length>0">
                        <label *ngIf="percentageisid!=100 && errormg==''">Upload Percentage:{{percentageisid}}%</label>
                      </div>

                    </td>
                  </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>




<!--ConTRACT DOC DOWNLOAD SEC-->
<!-- <div class="contract_doc_wrapper">
  <div class="header_p">
  </div>
  <div class="contract_doc_content_w bg-light_rep_w">
    <p class="ins_w">Instructions For Uploading W-9:</p>
  <div class="instruction_list_w9">
      <ol>
        <li> Click here to download the W-9 (links here: <a class="pdf_link" href="https://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank">https://www.irs.gov/pub/irs-pdf/fw9.pdf)</a> </li>
        <li> Fill out the form </li>
        <li> Print the form </li>
        <li> Sign </li>
        <li> Take a clear picture of the form via your cellphone or scan the form. </li>
        <li> Upload. </li>
      </ol>
  </div>
    <div class="clearfix"></div>
  </div>
</div> -->
<!--END DOC DOWNLOAD SEC-->


<!--ConTRACT DOC DOWNLOAD SEC-->
  <div class="contract_doc_wrapper">
    <div class="header_p">
        <h2> contract</h2>
    </div>
    <div class="contract_doc_content_w">
      <h3>download your digital contract here</h3>
      <a (click)="downloadfullcontract()">download</a>
      <div class="clearfix"></div>
    </div>
  </div>
<!--END DOC DOWNLOAD SEC-->

<app-footer></app-footer>
<ng-template #commonconfirmmodal>
  <div class="modal-body brandmanagement_modal successmodal_listing">
    <div class="logo_wrapper">
      <img src="assets/images/logo.png">
    </div>
    <div class="brand_messagebox btn_cnt">
      <h3>Are you sure that you want to delete this record ?</h3>

      <button class="message_allow" (click)="confirmdelete(messagemodal)">Yes</button>
      <button class="message_deny" (click)="nodelete()">No</button>
    </div>
  </div>
  <div>
  </div>
</ng-template>

<!--Common message modal-->
<ng-template #messagemodal>
  <div class="modal-body brandmanagement_modal">
    <div class="logo_wrapper">
      <img src="assets/images/logo.png">
    </div>
    <div class="message_success">{{message}}</div>

  </div>
</ng-template>
