<div class="as_newcontainer">
  <div class="additionalvideomainwrapper">
    <div class="asnewtextwrapper">
      <h2>Have it be "Additional Training" with a drop down that says "Best of YouTube" and then "Morning MindSet"</h2>
    </div>

    <div class="as_videomainwrapper">

        <div class="as_videosubwrapper">
          <div class="as_videowrapper">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jNSde_5uYAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="videotextwrapper">
            <h2>Rim Jhim Gire Sawan - Raj Barman (Monsoon Special Song)| Unplugged Cover | Kishore Kumar</h2>
            <p>As everyone voted..this is dedicated to all of u!
                Rim Jhim Gire Sawan - Raj Barman | Unplugged Cover</p>
          </div>
        </div>
        <div class="as_videosubwrapper">
            <div class="as_videowrapper">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jNSde_5uYAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="videotextwrapper">
              <h2>Rim Jhim Gire Sawan - Raj Barman (Monsoon Special Song)| Unplugged Cover | Kishore Kumar</h2>
              <p>As everyone voted..this is dedicated to all of u!
                  Rim Jhim Gire Sawan - Raj Barman | Unplugged Cover</p>
            </div>
          </div>
          <div class="as_videosubwrapper">
              <div class="as_videowrapper">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jNSde_5uYAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="videotextwrapper">
                <h2>Rim Jhim Gire Sawan - Raj Barman (Monsoon Special Song)| Unplugged Cover | Kishore Kumar</h2>
                <p>As everyone voted..this is dedicated to all of u!
                    Rim Jhim Gire Sawan - Raj Barman | Unplugged Cover</p>
              </div>
            </div>
            <div class="as_videosubwrapper">
                <div class="as_videowrapper">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jNSde_5uYAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videotextwrapper">
                  <h2>Rim Jhim Gire Sawan - Raj Barman (Monsoon Special Song)| Unplugged Cover | Kishore Kumar</h2>
                  <p>As everyone voted..this is dedicated to all of u!
                      Rim Jhim Gire Sawan - Raj Barman | Unplugged Cover</p>
                </div>
              </div>
              <div class="as_videosubwrapper">
                  <div class="as_videowrapper">
                      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jNSde_5uYAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="videotextwrapper">
                    <h2>Rim Jhim Gire Sawan - Raj Barman (Monsoon Special Song)| Unplugged Cover | Kishore Kumar</h2>
                    <p>As everyone voted..this is dedicated to all of u!
                        Rim Jhim Gire Sawan - Raj Barman | Unplugged Cover</p>
                  </div>
                </div>

    </div>

  </div>
</div>