<app-adminheader></app-adminheader>
<div class="resources_wrapper">
    <h2 class="resources_header1">Resource Center</h2>
  <h3>Welcome to the Resource Center.<br>
    Please review the following documents to assist you in your education <br> and sales strategies.</h3>
</div>
<div class="resources_content_wrapper">
    <div class="m_wrapper">

  <div>

      <div *ngFor="let item of resources| orderBy:'priority':'reverse';let i=index;">
       <div class="inner_resources_block_head"> {{item.categoryname}}</div>
          <div class="inner_resources_block">
          <div class="main_div" *ngFor="let item1 of item.resource| orderBy:'priority':'reverse'"> <!--| orderBy:'priority':'reverse'-->
              <div class="for_content">
                  <div class="img_div">
                      <!--  <p>{{_commonservices.gettype(item.file)}}</p>-->
                      <span *ngIf="_commonservices.gettype(item1.file)=='PDF'">
               <img src="../../assets/images/pdf-icon.png">
          </span>
                      <span *ngIf="_commonservices.gettype(item1.file)=='PPT'">
               <img src="../../assets/images/pptimage.png">
          </span>
                      <span *ngIf="_commonservices.gettype(item1.file)=='DOCX'">
               <img src="../../assets/images/docximage.png">
          </span>
                      <span *ngIf="_commonservices.gettype(item1.file)=='DOC'">
               <img src="../../assets/images/docimage.png">
          </span>
                      <span *ngIf="_commonservices.gettype(item1.file)=='TXT'">
               <img src="../../assets/images/txtimage.png">
          </span>
                      <span *ngIf="_commonservices.gettype(item1.file)=='XLS'">
               <img src="../../assets/images/xlsimage.png">
          </span>
                      <span *ngIf="_commonservices.gettype(item1.file)=='JPG'">
             <img src="../../assets/images/jpgformat.png">
          </span>
                      <span *ngIf="_commonservices.gettype(item1.file)=='PNG'">
             <img src="../../assets/images/pngformat.png">
          </span>
                  </div>
                  <p>{{item1.description}}</p>
              </div>
              <div class="for_downbutton">
                  <a href="{{_commonservices.uploadsslurl}}{{item1.file}}" target="_blank"> download now</a>
              </div>
          </div>

      </div>


    </div>

  </div>
   <!-- <div class="main_div">
      <div class="for_content">
        <div class="img_div">
          <img src="assets/images/pdf-icon.png">
        </div>
        <p>THIS IS THE COMPLETE INFORMATION ON NEXGEN</p>
      </div>
      <div class="for_downbutton">
        <button> Download PDF</button>
      </div>
    </div>
    <div class="main_div">
      <div class="for_content">
        <div class="img_div">
          <img src="assets/images/pdf-icon.png">
        </div>
        <p>THIS IS THE COMPLETE INFORMATION ON NEXGEN</p>
      </div>
      <div class="for_downbutton">
        <button> Download PDF</button>
      </div>
    </div>
    <div class="main_div">
      <div class="for_content">
        <div class="img_div">
          <img src="assets/images/pdf-icon.png">
        </div>
        <p>THIS IS THE COMPLETE INFORMATION ON NEXGEN</p>
      </div>
      <div class="for_downbutton">
        <button> Download PDF</button>
      </div>
    </div>
    <div class="main_div">
      <div class="for_content">
        <div class="img_div">
          <img src="assets/images/pdf-icon.png">
        </div>
        <p>THIS IS THE COMPLETE INFORMATION ON NEXGEN</p>
      </div>
      <div class="for_downbutton">
        <button> Download PDF</button>
      </div>
    </div>
    <div class="main_div">
      <div class="for_content">
        <div class="img_div">
          <img src="assets/images/pdf-icon.png">
        </div>
        <p>THIS IS THE COMPLETE INFORMATION ON NEXGEN</p>
      </div>
      <div class="for_downbutton">
        <button> Download PDF</button>
      </div>
    </div>
    <div class="main_div">
      <div class="for_content">
        <div class="img_div">
          <img src="assets/images/pdf-icon.png">
        </div>
        <p>THIS IS THE COMPLETE INFORMATION ON NEXGEN</p>
      </div>
      <div class="for_downbutton">
        <button> Download PDF</button>
      </div>
    </div>
    <div class="main_div">
      <div class="for_content">
        <div class="img_div">
          <img src="assets/images/pdf-icon.png">
        </div>
        <p>THIS IS THE COMPLETE INFORMATION ON NEXGEN</p>
      </div>
      <div class="for_downbutton">
        <button> Download PDF</button>
      </div>
    </div>-->

  </div>

</div>


<app-footer></app-footer>