<app-adminheader></app-adminheader>
<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right manageleadslist">
      <app-listing class="manageleads" templatetype="table" sourcetitle="Leads" source="leads_view_for_users" editsource="leads" [sourcecondition]="sourcecondition" [tabledatalis]="tabledatalist" menuval="Leads List " [formdata]="formdata" [formsource]="datasource" hideadd="{{hideaddval}}" notes="true">
      </app-listing>
    </div>
  </div>
</div>
<app-footer></app-footer>