<app-frontendheader></app-frontendheader>


<div class="generalcls">

  <!----SLIDER AREA START---->
  <carousel class="frontslider">
    <slide>
      <img src="assets/images/aboutpcr-banner.jpg" class="full-screen" alt="aboutpcr-banner">
      <div class="carousel-caption d-md-block">
        <div class="frontslidercontentwrapper">
          <div class="frontslidercontent">
            <div class="frontslidercontentinner">
              <h2>Molecular PCR Testing</h2>
              <p>Molecular PCR technology significantly improves outcomes for patients with infectious diseases by providing an effective treatment sooner.</p>
            </div>
          </div>
          <button class="btnblue" [routerLink]="['/who_we_are']">Learn More About Us</button>
        </div>
      </div>
    </slide>

  </carousel>
  <!----SLIDER AREA END---->

  <div class="container-fluid homeblock1 aboutpcrblock1 text-center">
    <div class="homeblock1wrapper">
      <h1>Why PCR Testing is replacing Culture & Sensitivity, Results in 1 Day!</h1>
      <p>When it comes to infectious diseases, Time, Accuracy, and Antibiotic Resistance matter! Molecular PCR "Polymerase Chain Reaction"  using RNA & DNA sequencing quickly identifies pathogens and detects potential antibiotic resistance so effective treatment can begin sooner <span>Molecular PCR pathogen testing provides 24-hour identification and antibiotic resistance results for up to 99% of the pathogens responsible for Common Respiratory, Urinary tract, GI tract, Wound, and Nail Infections. Faster results than traditional culture & sensitivity can help
patients get well faster, help to prevent antibiotic and antimicrobial resistance, and reduce unnecessary complications that might result in either hospital admissions or increased cost. This can be especially important in the elderly or immunocompromised patients.</span> Below are a dozen reasons why Physicians, Hospitals. Skilled Nursing Facilities, Clinics, and Nursing Homes are using Molecular PCR testing.
      </p>
      <div class="pcrfeatureslist">
        <ul class="list-inline">
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>01</span>Complete Molecular PCR results are available in 1 day, versus 3 - 28 days for culture testing, of which up to 30% come back inconclusive.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>02</span>Molecular PCR results are  more accurate than culture and sensitivity testing which allows for the resolution of ongoing infectious diseases.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>03</span>Molecular PCR detects with >90% accuracy to identify correct pathogen(s), and antibiotic drug resistance.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>04</span>Early identification of potentially resistant pathogens helps provide confidence to prescribe the most effective therapy for the patient.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>05</span>It detects antibiotic resistance genes for 12 antibiotic classes.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>06</span>Tests multiple pathogens at once so nothing is left out. Up to 41 per panel, 154 in all.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>07</span>Detects pathogens that are not detectable using culture testing.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>08</span>Identifies bacteria and viral pathogens regardless of recent antibiotic use.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>09</span>Reduces false negatives results, and unnecessary drug exposure.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>10</span>All that's needed is a simple non-invasive swab specimen collection.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>11</span>Molecular PCR is the fastest, most accurate technology for gene detection in the world.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span>12</span>Produces better outcomes for Medicare patients and the Antibiotic Stewardship Program to help maximize MIPS scores and Physician Fee Schedules (PFS)</p>
            </div>
          </li>
        </ul>
      </div>
      <p>There's No Cost, Contract or Obligation to take advantage of this advanced technology. The Lab provides all the Specimen kits, the UPS and FedEx envelopes, pays all the postage, and files all the insurance claims. It doesn't cost a dime to see better outcomes for your patients with infectious diseases from now on. Call 208-380-4589 and we'll set you up to see the best results online in your doctors portal in a day. <span>Real-Time PCR technology is CAP and CLIA accredited, with history of 6 -Sigma high lab quality.</span></p>

    </div>
  </div>

  <div class="container-fluid homeblock3 aboutpcrblock2">
    <div class="aboutpcrblock2inner">
      <div class="homeblock3wrapper">
        <div class="homeblock3content">
          <h1><!--Get Better Results Faster!-->Get the Most Accurate Results Faster!</h1>
          <p>Molecular PCR technology significantly improves outcomes for patients with infectious diseases by precisely detecting the pathogen(s) causing the infection, the antibiotic drug resistance, and the actual antibiotics that should be prescribed in less than a 24 hour turn-around from specimen receipt. Results of specimens sent today, will be available on the doctors portal tomorrow afternoon.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid aboutpcrblock3">
    <div class="aboutpcrblock3inner">
      <div class="homeblock3wrapper">
        <div class="homeblock3content">
          <h1>How We Help</h1>
          <p>The most significant factor we deliver is accurate data of what's living inside your patient's infection so you can be confident in your treatment decisions for their overall recovery and health. <span>We also provide a list of what medications will not be effective against the patient’s pathogens, as well as what medications will be effective.</span></p>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid homeblock1 aboutpcrblock4 text-center">
    <div class="homeblock1wrapper">
      <h1>Pathogen Panels</h1>

      <div class="pathogenpanelslist">
        <ul class="list-inline">
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p>Respiratory Infectious Disease - 41 Pathogens</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p>Gastrointestinal ID - 31 Pathogens</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p>Wound Infectious Disease - 40 Pathogens</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p>Urinary Tract Infectious Disease - 32 Pathogens</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p>Nail/Paronychia Infectious Disease 15 Bacteria and 11 Fungi Pathogens </p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p>Each of these individual panels covers 95% - 99% of  the pathogens that cause these types of infections</p>
            </div>
          </li>
        </ul>
      </div>


    </div>
  </div>


  <div class="container-fluid homeblock1 aboutpcrblock5 text-center">
    <div class="homeblock1wrapper">
      <h1>Antibiotic Resistance</h1>

      <div class="pcrfeatureslist">
        <ul class="list-inline">
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span><img src="assets/images/aboutpcrblock5icon.png" alt="aboutpcrblock5icon"></span><!--Molecular PCR identifies pathogens and it's resistant or lack thereof to antibiotics, which helps provide confidence to prescribe the most effective therapy for the patient-->
                Molecular PCR identifies pathogens and it's resistant to antibiotics, which helps provide confidence to prescribe the most effective therapy for the patient.
              </p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span><img src="assets/images/aboutpcrblock5icon.png" alt="aboutpcrblock5icon"></span>Genetic variations are defense mechanisms that can cause drugs to be ineffective and are easily passed to other pathogens. Molecular PCR testing overcomes that problem.</p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span><img src="assets/images/aboutpcrblock5icon.png" alt="aboutpcrblock5icon"></span> <!--Antibiotic effectiveness has been greatly compromised by ability of pathogens to develop antibiotic resistance. Molecular PCR testing helps with this problem also.-->
                Antibiotic effectiveness has been greatly compromised by the ability of pathogens to develop antibiotic resistance. Molecular PCR testing helps with this problem also.
              </p>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="pcrfeatureswrapper">
              <p><span><img src="assets/images/aboutpcrblock5icon.png" alt="aboutpcrblock5icon"></span>  Molecular PCR testing provides early identification of potentially resistant pathogens  which helps provide confidence to prescribe the most effective therapy for the patient</p>
            </div>
          </li>
        </ul>
      </div>


    </div>
  </div>


  <div class="container-fluid homeblock3 aboutpcrblock6">
    <div class="aboutpcrblock6inner">
      <div class="homeblock3wrapper">
        <div class="homeblock3content">
          <h1>Protect Your Patients From Sepsis</h1>
          <p>Infections put your patients at risk for Sepsis<span class="redcolortxtnew">*</span><br> Without prompt treatment sepsis often leads to tissue damage, organ failure, and death.
            <span>More than 1.5 million people in the US get Sepsis<span class="redcolortxtnew">*</span><br> Anyone can get an infection and almost any infection can lead to Sepsis. </span>
            Over 250,000 Americans die from Sepsis each year<span class="redcolortxtnew">*</span><br> Prescribing the correct antibiotic quickly - Matters!
            <span>About 33% of patients who die in hospitals have Sepsis<span class="redcolortxtnew">*</span><br> Early detection of potentially resistant pathogens provides the confidence to prescribe <br>the most efficient therapy to help prevent hospitalizations. </span>
            50% of all antibiotics prescribed in the US are unnecessary or inappropriate.<span class="redcolortxtnew">*</span><br> Prescribing unnecessary or inappropriate antibiotics can lead to Antibiotic resistance which is one<br>
            of the biggest public health challenges of our time. Every Year at least 2 million people get an<br> antibiotic-resistant infection, and at least 23,000 of them die. Center for Disease Control - CDC<span class="redcolortxtnew">*</span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid aboutpcrblock7">
    <div class="aboutpcrblock7inner">
      <div class="homeblock3wrapper">
        <div class="homeblock3content">
          <h1>Our Lab</h1>
          <p>Our Laboratory: is one of the premier laboratories in the nation, and only one of a few that do Molecular PCR testing. Our laboratory is CLIA Certified and CAP accredited. It employs over 300 people of which include 24 experienced Molecular Biologist, trained Lab Technicians and Accessioners. <span>Our laboratory and Medical Director, is dual-board certified (AP/CP), and holds more than 20 years of experience in the areas of therapeutic drug monitoring and molecular pathology.  The Lab can also provides the reports necessary for compliance with the Antibiotic Stewardship Program required for all Nursing facilities in 2019.</span></p>
        </div>
      </div>
    </div>
  </div>


</div>


<app-frontendfooter></app-frontendfooter>