<app-adminheader></app-adminheader>
<div class="listevent_wrapper">
  <div class="listevent_inner_wrapper">
    <div class="inner_head_wrapper">
      <h2>event to show</h2>
    </div>
    <div class="main_inner_content">
        <div class="l" *ngFor="let item of dayarr;let i=index;">
        <p class="event_f_name">{{item.meetingwith}}</p>
        <p class="event_f_date"><b>Date:</b> {{item.startdate}}
          <span class="hide">
{{_commonservice.unixtodate(item.starttime)}}//{{_commonservice.unixtodate(item.endtime)}}//{{(item.endtime-item.starttime)/60}}slots--==--{{item.slots}}
          </span>

        </p>
        <p class="event_f_time"><b>Time :</b> {{_commonservice.unixtotime(item.starttime)}} - {{_commonservice.unixtotime(item.endtime)}}</p>
        <p class="event_f_zone"><b>Timezone :</b> {{_commonservice.showtimezone(item.timezone)}}</p>
      </div>


</div>
  </div>
</div>

<app-footer></app-footer>
