<app-adminheader></app-adminheader>

<div class="admin_dashboard_container rep_dashboard_wrapper1">
  <div class="content_text">

    <h2>WELCOME TO THE BETO PAREDES FAMILY OF COMPANIES
    </h2>

    <p>We are glad to have you as a part of a family that creates integrated technical solutions and support systems catering to a host of different industries ranging from Medicare to Music and several others. We take great pride in the companies and the quality of services on offer at our various portals, and we welcome you with open arms to be an integral part of our journey. If you have any questions, please contact your Regional Recruiter below.</p>


    <!--<h2>Lorem Ipsum</h2>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco</p>-->
  </div>
</div>


<div class="rep_dashboard_wrapper2">
  <div class="inner_content" *ngIf="repdetails?.length>0">
    <h2>Regional Recruiter </h2>
    <h4> Your Regional Recruiter is :   <span> {{repdetails[0].recdetails[0].firstname}} {{repdetails[0].recdetails[0].lastname}}</span></h4>
    <h4>Email Address :  <span> {{repdetails[0].recdetails[0].email}} </span></h4>
    <h4>Contact Number : <span class="contact_no"> {{showphoneno(repdetails[0].recdetails[0].phoneno)}} </span></h4>

    <button class="appointment_booking_button" (click)="gotorepevents()">Book Appointment Now</button>
  </div>
</div>


<div class="rep_dashboard_wrapper3">
  <div class="row">
    <!-- <div class="col-md-4">
      <button class="buttoncss" (click)="gototrainingsectionwithcat()">training center</button>
    </div> -->
    <div class="col-md-4">
      <button>
    <a class="buttoncss" href="http://api.nexgentesting.com/testpdf/html2pdf/nexgenpdf.php?id={{cookeiservice.get('userid')}}" target="_blank">digital contract</a>
      </button>
    </div>
    <div class="col-md-4">
      <button (click)="gotorepevents()" class="buttoncss">calender</button>
    </div>
  </div>
</div>





<app-footer></app-footer>
