<app-adminheader></app-adminheader>

<div class="admin_dashboard_container rep_dashboard_wrapper1">
  <div class="content_text">

    <h2 class="repdashboardhewading1">Welcome to your Rep back office with the Beto Paredes Family of Companies!
    </h2>

    <p><!--We are glad to have you as a part of a family that creates integrated technical solutions and support systems catering to a host of different industries ranging from Medicare to Music and several others. We take great pride in the companies and the quality of services on offer at our various portals, and we welcome you with open arms to be an integral part of our journey. If you have any questions, please contact your Regional Recruiter below.-->This is where you will find everything you need to train, download decks and keep up to date on everything that we are doing here with the Beto Paredes Family of Companies.
    </p>


    <!--<h2>Lorem Ipsum</h2>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco</p>-->
  </div>
</div>

<div class="rep_dashboard_wrapper2_btn_wrapper">
  <div class="rep_dashboard_wrapper2_btn_wrapper_sub">

  <a (click)="gototrainingsectionwithcat()">Training Portal</a>
  <a [routerLink]="['/resources']">Document Library</a>
  <a href="javascript:void(0);">Set a 15 Rep minute Q&A Call</a>
  <a href="javascript:void(0);">Launch the Discovery Call Calendar</a>

  </div>

  <div class="clearfix"></div>

</div>


<div class="rep_dashboard_newblock2">
  <div class="rep_dashboard_newblock2_wrapper">
  <h2>15 Minute Rep Calls</h2>
    <p>The 15 minute rep call will be set with our SVP of Business Development Vanessa Wislidoski. Please prepare all of your questions before you set this call and send them to <a href="mailto:vanessa@betoparedes.com" target="_top"> vanessa@betoparedes.com</a> so she has time to research and prepare.
    </p>


  </div>
</div>

<div class="rep_dashboard_newblock3">

  <h2>DOWNLOAD ALL OF OUR SALES DECKS NOW!</h2>

  <p>The following are the Sales Deck Downloads for each of the products that we have. We suggest that you download each of the Decks onto your desktop computer as well as your tablet if you are out visiting companies. </p>


  <div class="rep_dashboard_newblock3_sub">
    <h6>APOGEE RESULTS</h6>
    <img src="assets/images/APOGEE_slider1.jpg" alt="#">
    <a href="../../assets/images/ApogeeResultsSalesDeck.pptx" target="_blank">download now</a>
  </div>

  <div class="rep_dashboard_newblock3_sub">
    <h6> ASPIRE</h6>
    <img src="assets/images/Aspire_Sales_Slide1.jpg" alt="#">
    <a href="../../assets/images/AspirePPT.pptx" target="_blank">download now</a>
  </div>

  <div class="rep_dashboard_newblock3_sub">
    <h6>autoSTRADA</h6>
    <img src="assets/images/AST_slider1.jpg" alt="#">
    <a href="../../assets/images/ASTSalesDeck.pptx" target="_blank">download now</a>
  </div>



  <div class="rep_dashboard_newblock3_sub">
    <h6>GEOFENCEDSP</h6>
    <img src="assets/images/GEO_Slide1.jpg" alt="#">
    <a href="../../assets/images/GEOSalesSlideDeck.pptx" target="_blank">download now</a>
  </div>

  <div class="rep_dashboard_newblock3_sub">
    <h6>HARVEST A SEED</h6>
    <img src="assets/images/BetoParedes_Slide1.jpg" alt="#">
    <a href="../../assets/images/HarvestASeedSlideDeck.pptx" target="_blank">download now</a>
  </div>

  <div class="rep_dashboard_newblock3_sub">
    <h6>LocalCarOwner</h6>
    <img src="assets/images/localcar_slider1.jpg" alt="#">
    <a href="../../assets/images/LocalCarOwnerSalesDeck.pptx" target="_blank">download now</a>
  </div>

  <div class="rep_dashboard_newblock3_sub">
    <h6>Titan MLM</h6>
    <img src="assets/images/TitanMLM_Slide1.jpg" alt="#">
    <a href="../../assets/images/TitanMLM.pptx" target="_blank">download now</a>
  </div>

  <div class="rep_dashboard_newblock3_sub">
    <h6>SALESVERT </h6>
    <img src="assets/images/SALESVERT_slider1.jpg" alt="#">
    <a href="../../assets/images/SalesVertSalesSlideDeck.pptx" target="_blank">download now</a>
  </div>

  <div class="rep_dashboard_newblock3_sub">
    <h6>Universal Tech Associates</h6>
    <img src="assets/images/Universal_slider1.jpg" alt="#">
    <a href="../../assets/images/UniversalTechAssociatesPowerPoint%20RepresentationPPT.pptx" target="_blank">download now</a>
  </div>

  <div class="rep_dashboard_newblock3_sub">
    <h6>InfluxIQ </h6>
    <img src="assets/images/influx_slider1.jpg" alt="#">
    <a href="../../assets/images/InfluxIQSlideDeck.pptx" target="_blank">download now</a>
  </div>

  <div class="clearfix"></div>




</div>

<div class="rep_dashboard_newblock4">
  <div class="rep_dashboard_newblock4_wrapper">
    <h2>ADDITIONAL SCRIPTS AND MEDIA</h2>
    <p>We also have additional call scripts, additional media and other materials to assist you in setting the appointments in our system.  Please <a [routerLink]="['/resources']">click here</a> to go the document library for review.

    </p>


  </div>
</div>

<div class="rep_dashboard_newblock5">
  <div class="rep_dashboard_newblock5_wrapper">
    <h2>FINISH YOUR TRAINING AND GAIN IMMEDIATE ACCESS TO THE DISCOVERY CALENDAR!  <a href="javascript:void(0);">CLICK HERE</a></h2>
    <p>Once you are finished with the training modules and have set an appointment for your 90 minute game plan meeting with Beto Paredes you will gain immediate access to the Discovery Call Calendar.  This is where you will can set your discoveries directly with the CEOs and principal closers of all of our available brands!
      <br/><br/>
      Each of the brand owners work the closing desk and your biggest job is to set a discovery call. So your sale is really the sale of the discovery with the particular closing desk manager. So getting access to this calendar is key to getting you started!

    </p>


  </div>
</div>

<div class="rep_dashboard_newblock6">
  <div class="rep_dashboard_newblock6_wrapper">

    <h2>PLEASE TAKE ANOTHER REVIEW!</h2>

    <p>Please take the time to re-watch our two onboarding videos so that you have a clear idea of exactly what the big picture is with being a rep of the Beto Paredes Family of Companies.
    </p>

    <div class="as_video-container">
      <h4>Review Full Opportunity</h4>

      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HAWO4gaidDw?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="as_video-container">
      <h4>Onboarding and Relationship</h4>

      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LlJefs10PL4?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>

    <div class="clearfix"></div>

  </div>
</div>


<!--<div class="rep_dashboard_wrapper2">
  <div class="inner_content" *ngIf="repdetails?.length>0">
    <h2>Regional Recruiter </h2>
    <h4> Your Regional Recruiter is :   <span> {{repdetails[0].recdetails[0].firstname}} {{repdetails[0].recdetails[0].lastname}}</span></h4>
    <h4>Email Address :  <span> {{repdetails[0].recdetails[0].email}} </span></h4>
    <h4>Contact Number : <span class="contact_no"> {{showphoneno(repdetails[0].recdetails[0].phoneno)}} </span></h4>

    <button class="appointment_booking_button" (click)="gotorepevents()">Book Appointment Now</button>
  </div>
</div>-->


<!--<div class="rep_dashboard_wrapper3">
  <div class="row">

    <div class="col-md-4">
      <button>
    <a class="buttoncss" href="http://api.nexgentesting.com/testpdf/html2pdf/nexgenpdf.php?id={{cookeiservice.get('userid')}}" target="_blank">digital contract</a>
      </button>
    </div>
    <div class="col-md-4">
      <button (click)="gotorepevents()" class="buttoncss">calender</button>
    </div>
  </div>
</div>-->





<app-footer></app-footer>
