<!--rep header 1-->
<!--rep header 2-->
<div class="header_bg admin_header">
  <div class="nexgen_header_wrapper">
    <div class="hidden_logo">
      <img src="assets/images/logo.png">
    </div>
    <div class="row">
      <div class="col-md-8">
        <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand" href="#">
            <div class="nex_header_logo">
              <img src="assets/images/logo.png">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <span><i class="fa fa-bars" aria-hidden="true"></i></span>

            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto justify-content-center">
              <li class="nav-item active">
                <a class="nav-link" href="#">Admin Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">about us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">sign up</a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
      <div class="col-md-4">
        <div class="social_media_container">

          <div class="profile_section">
            <ul>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <div class="user_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png">
                  </div>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--End rep header 1-->


<!--rep header 2-->
<div class="header_bg admin_header">
  <div class="nexgen_header_wrapper">
    <div class="hidden_logo">
      <img src="assets/images/logo.png">
    </div>
    <div class="row">
      <div class="col-md-8">
        <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand" href="#">
            <div class="nex_header_logo">
              <img src="assets/images/logo.png">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <span><i class="fa fa-bars" aria-hidden="true"></i></span>

            </span>
          </button>

          <div class="collapse navbar-collapse" >
            <ul class="navbar-nav mr-auto justify-content-center">
              <li class="nav-item active">
                <a class="nav-link" href="#">Rep Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">about us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">sign out</a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
      <div class="col-md-4">
        <div class="social_media_container">

          <div class="profile_section">
            <ul>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <div class="user_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png">
                  </div>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--End rep header 2-->


<!--rep header 3-->
<!--hi-->
<!--hie-->
<div class="header_bg admin_header">
  <div class="nexgen_header_wrapper">
    <div class="hidden_logo">
      <img src="assets/images/logo.png">
    </div>
    <div class="row">
      <div class="col-md-8">
        <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand" href="#">
            <div class="nex_header_logo">
              <img src="assets/images/logo.png">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <span><i class="fa fa-bars" aria-hidden="true"></i></span>
            </span>
          </button>

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto justify-content-center">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">about us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">sign up</a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
      <div class="col-md-4">
        <div class="social_media_container">

          <div class="profile_section">
            <ul>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <div class="user_image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png">
                  </div>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--End rep header 3-->