<app-frontendheader></app-frontendheader>


<div class="generalcls" id="generalcls">

  <!----SLIDER AREA START---->
  <carousel class="frontslider">
    <slide>
      <img src="assets/images/whoweare-banner.jpg" class="full-screen" alt="whoweare-banner">
      <div class="carousel-caption d-md-block">
        <div class="frontslidercontentwrapper">
          <div class="frontslidercontent">
            <div class="frontslidercontentinner">
              <h2>Our Moto</h2>
              <p>We are committed to bringing you the most current leading edge testing technologies.</p>
            </div>
          </div>
          <button class="btnblue" [routerLink]="['/contact_us']">Contact Us</button>
        </div>
      </div>
    </slide>

  </carousel>
  <!----SLIDER AREA END---->
  <div class="container-fluid homeblock1 whoweareblock1 text-center">
    <div class="homeblock1wrapper">
      <h1>Who We Are</h1>
      <p><span>NEXGEN TESTING is a national sales organization that represents 3 different Laboratories and multiple Medical product companies. We are headquartered in Granbury, TX. NexGen Testing is working with the top medical sales representatives across our great nation. Our nationwide sales team is committed to assisting you in your successful care for your patients. We will work with you and our partners to provide the best testing and tools available. We are always updating our training and products so that we can offer our customers better outcomes for their patients.</span>
      </p>
     <!-- <a class="btnblue">Learn More</a>-->
    </div>
  </div>



  <div class="container-fluid whoweareblock4">
    <div class="whoweareblock4bgright">
      <div class="homeblock3wrapper">
        <div class="homeblock3content">
            <div class="outteamcontent">
              <h1>Our Team</h1>
                <div class="row">
                  <div class="col-md-12 paddingdoc">
                    <div class="row outteamcontentinnerouter">
                      <div class="col-md-4 outteamcontenttitle">
                        <h2>Principal</h2>
                      </div>
                    </div>
                    <div class="row principlecontentdoc paddingdocwrapper">
                      <div class="col-md-12 paddingdoc">
                        <h3>Tom Willis</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 outteamcontenttitle">
                        <h2>Regional Recruiting Managers</h2>
                      </div>
                    </div>
                    <div class="row outteamcontentdoc">
                      <div class="col-md-4 paddingdoc">
                        <h3>Curtis Drake</h3>
                      </div>
                      <div class="col-md-4 paddingdoc">
                        <h3>Rick Winston</h3>
                      </div>
                      <div class="col-md-4 paddingdoc">
                        <h3>Clay Drake</h3>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid homeblock2 whoweareblock2">
    <div class="homeblock2wrapper">
      <div class="homeblock2content">
        <div class="homeblock2contentleft">
          <ul class="list-inline">
            <li class="list-inline-item"><div class="homeblock2imgwrapper"><img src="assets/images/whoweareblock2img1.jpg" class="full-screen" alt="homeblock2img1"></div></li>
            <li class="list-inline-item"><div class="homeblock2imgwrapper"><img src="assets/images/whoweareblock2img2.jpg" class="full-screen" alt="homeblock2img2"></div></li>
          </ul>
        </div>
        <div class="homeblock2contentright">
          <h1>Our History</h1>
          <p>The NexGen founders started out in the Health and Life Insurance industry, recruiting and training national sales teams. The changes in that industry, as well as the medical field, put the founders in a position to form this company to provide excellent service to a different type of client, the Physician. As technology adapted and changed, more testing and tools came to the market. As a result, companies and laboratories are in needed of a national sales force to get their products and services into the physicians & clinics hand. This is what NexGen Testing specializes in.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid homeblock3 whoweareblock3">
    <div class="homeblock3wrapper">
      <div class="homeblock3content">
        <h1>Advanced Training is a Necessity</h1>
        <p>Our management has advanced training in place to better assist our medical sales representatives to be of greater support to you the physician. NexGen’s representatives are certified so they comply with the laboratories compliance rules and professional standards of conduct</p>
      </div>
    </div>
  </div>



</div>



<app-frontendfooter></app-frontendfooter>