<div class="nextgen_login_wrapper">

  <div class="login_container">
    <div class="logo_inner">
      <img src="assets/images/logo.png">
    </div>
    <form  novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
      <h5 class="text-center">FORGOTTEN PASSWORD</h5><br/>

      <p class="for_instruction">
        Please enter your valid email address and you will be sent a link to reset your password. You must use the same email id you have registered with us. If you no longer have the same email address then you must contact us directly with proof of your identity.
      </p>


      <div class="form-group">
        <p *ngIf="showmessage"  class="text-center suceess_msg">{{showmessage}}</p><br/>

        <input type="text"  class="form-control" placeholder="Email" [formControl]="dataForm.controls['email']" (keyup)="issubmit=0">
        <span *ngIf="!dataForm.controls['email'].valid && dataForm.controls['email'].touched && issubmit==1" class="error">Email is required.</span>
      </div>
      <div class="form-group">

        <span class="error" *ngIf="errormg!=''">{{errormg}}</span>
        <button class="signin_button">send email</button>
      </div>
    </form>
  </div>


</div>