<!-- Loader start -->
<div class="loder_body" *ngIf="loader">
    <div class="loder_wrapper">
        <img src="assets/images/betologo.png" alt="#"
            style="margin:0 auto; display: block; margin-bottom:30px; max-width: 280px;" />
        <div class="loader"></div>
    </div>
</div>
<!-- Loader end -->


<p class="event_f_name">{{slotdata.meetingwith}}</p>
<p class="event_f_date"><b>Date:</b> {{_commonservices.showdateforreplegal(slotdata.startdate)}}
    <span class="hide">
        {{_commonservices.unixtodate(slotdata.starttime)}}//{{_commonservices.unixtodate(slotdata.endtime)}}//{{(slotdata.endtime-slotdata.starttime)/60}}slots--==--{{slotdata.slots}}
    </span>

</p>
<!--<p class="event_f_time"><b>Time :</b> {{_commonservices.unixtotime(slotdata.starttime)}} - {{_commonservices.unixtotime(slotdata.endtime)}}</p>-->

<p class="event_f_time"><b>Time : </b>{{slotvalue}}</p>
<p class="event_f_zone"><b>Timezone : </b> {{_commonservices.showtimezone(timezoneshow)}}</p>
<button class="booknow_button" (click)="booknowmodal(bookevent,slotdata,messagemodal)">book now</button>


<!--<ng-template #bookevent1>
    <div class="modal-body brandmanagement_modal slotevent">
        <div class="logo_wrapper">
            <img src="../../assets/images/logo.png">
        </div>
    </div>
    <form [formGroup]="dataForm" (ngSubmit)="dosubmit()">
        <label>Meeting With</label>
          <div class="form-group"><input type="text" class="form-control" placeholder="Meeting With*" [formControl]="dataForm.controls['meeting_with']">
            <span class="errortext" *ngIf="!dataForm.controls['meeting_with'].valid && dataForm.controls['meeting_with'].touched">This field can not be blank</span>
        </div>

        <input [formControl]="dataForm.controls['startdate']"  class="form-control" placeholder="Start Date" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: false }" #drp="bsDatepicker" bsDatepicker  [minDate]="minDate">

        <timepicker [(ngModel)]="start_time" [ngModelOptions]="{standalone: true}"></timepicker>

    </form>
</ng-template>-->


<ng-template #bookevent>
    <div class="modal-body slotevent">
        <div class="modal_header">
            <h3>Edit appointment info</h3>
        </div>

        <div class="content_wrapper">
            <!-- <form [formGroup]="dataForm" (ngSubmit)="dosubmit()">
                <div class="form-group">
                    <label>Apppointment Tile</label>
                    &lt;!&ndash;   <input class="form-control" type="text" [formControl]="dataForm.controls['description']">
                    <span class="errortext" *ngIf="!dataForm.controls['description'].valid && dataForm.controls['description'].touched">This field can not be blank</span>&ndash;&gt;
                </div>
                <div class="form-group">
                    <label>Meeting With</label>
                    <input class="form-control" type="text" [formControl]="dataForm.controls['meeting_with']">
                    <span class="errortext" *ngIf="!dataForm.controls['meeting_with'].valid && dataForm.controls['meeting_with'].touched">This field can not be blank</span>
                </div>
                <div class="form-group">
                    <label>Participant</label>
                    <input class="form-control" type="text" [formControl]="dataForm.controls['participant']" readonly>
                </div>

                &lt;!&ndash;for time and date slot&ndash;&gt;

                <div class="time_date_slot form-group">
                    &lt;!&ndash;<div class="left_slot">&ndash;&gt;
                    <div class="form-group">


                        <input [formControl]="dataForm.controls['startdate']"  class="form-control startdt" placeholder="Start Date" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: false }" #drp="bsDatepicker" bsDatepicker  [minDate]="minDate">


                        <timepicker [(ngModel)]="start_time" class="tm1" [ngModelOptions]="{standalone: true}"  ></timepicker>
                    </div>
                    <label class="to_divider">To</label>
                    &lt;!&ndash;<div class="right_slot">&ndash;&gt;

                    <div class="form-group">
                        <input [formControl]="dataForm.controls['enddate']"  class="form-control enddt" placeholder="End Date" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: false }" #drp="bsDatepicker" bsDatepicker  [minDate]="minDate">

                        <timepicker [(ngModel)]="end_time" [ngModelOptions]="{standalone: true}" class=" timepicker tm2"></timepicker>
                    </div>






                </div>
                &lt;!&ndash;end time and date slot&ndash;&gt;
                <div class="zone_slot">
                    <select  class="form-control" [formControl]="dataForm.controls['timezone']">
                        <option value="''">Select one</option>
                        <option value="{{item.value}}" *ngFor="let item of _commonservices.totaltimezone">{{item.show}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Rep's Message To Adviser</label>
                    <textarea class="form-control" type="text" [formControl]="dataForm.controls['repsmsg']"></textarea>
                </div>
                <div class="form-group">
                    <button> save</button>
                </div>
            </form>-->


            <div class="editInfo_main_wrap">
                <form [formGroup]="dataForm" (ngSubmit)="dosubmit()">
                    <div class="form-group">
                        <label>appointment title</label>
                        <p><span>Meeting with</span>
                            <!--CLay Daral--> 
                            <ng-container *ngIf="router.url.indexOf('customevent')>-1 || router.url.indexOf('customevents')>-1" ><input class="form-control" type="text"
                                [formControl]="dataForm.controls['meeting_with']" > </ng-container>
                                <ng-container *ngIf="router.url.indexOf('customevent')==-1 && router.url.indexOf('customevents')==-1" >
                               <input class="form-control" type="text"
                                    [formControl]="dataForm.controls['meeting_with']" readonly> </ng-container>
                            </p>
                    </div>
                    <div class="form-group">
                        <label>participant Email</label>
                        <input class="form-control" type="text" [formControl]="dataForm.controls['participant']"
                            readonly *ngIf="participantEmail.length>2 ">
                        <input class="form-control" type="text" placeholder="Please Input Your Email Here"
                            [formControl]="dataForm.controls['participant']" *ngIf="participantEmail.length<2">

                        <span class="errortext" style="color:red"
                            *ngIf="!dataForm.controls['participant'].valid && dataForm.controls['participant'].touched">Email
                            can not be blank</span>
                    </div>

                    <div class="form-group">
                        <label>participant Name</label>
                        <input class="form-control" type="text" [formControl]="dataForm.controls['participantName']"
                            readonly *ngIf="participantEmail.length>2 ">
                        <input class="form-control" type="text" placeholder="Please Input Your Name Here"
                            [formControl]="dataForm.controls['participantName']" *ngIf="participantEmail.length<2">

                        <span class="errortext" style="color:red"
                            *ngIf="!dataForm.controls['participantName'].valid && dataForm.controls['participantName'].touched">Name
                            can not be blank</span>
                    </div>

                    <div class="form-group">
                        <label>participant Phone Number</label>
                        <input class="form-control" type="text" [formControl]="dataForm.controls['participantPhNumber']"
                            readonly *ngIf="participantEmail.length>2 ">
                        <input class="form-control" type="text" placeholder="Please Input Your Phone Number Here"
                            [formControl]="dataForm.controls['participantPhNumber']" *ngIf="participantEmail.length<2">

                        <span class="errortext" style="color:red"
                            *ngIf="!dataForm.controls['participantPhNumber'].valid && dataForm.controls['participantPhNumber'].touched">Phone
                            Number can not be blank</span>
                    </div>

                    <div class="form-group">
                        <label>appointment time</label>
                        <p class="font_problm"> {{showformat(slotdata.startdate)}}
                            <!--monday march 2009-->
                        </p>
                        <p *ngIf="route.snapshot.url[0].path!='customevent' " class="font_problm">{{slotvalue}}
                            {{_commonservices.showtimezone(timezoneshow)}}
                            <!--8.30 - 9.00 east hawai-->
                        </p>
                        <p *ngIf="route.snapshot.url[0].path=='customevent' " class="font_problm">{{slotvalue2}}
                            {{_commonservices.showtimezone(timezoneshow)}}
                            <!--8.30 - 9.00 east hawai-->
                        </p>
                    </div>

                    <div class="form-group" *ngIf="route.snapshot.url[0].path=='customevent' ">
                        <label>appointment Slot</label>
                        <p class="font_problm">

                            <select [(ngModel)]="slotdata.timespan" [ngModelOptions]="{standalone: true}">

                                <option value="15">15 Minutes</option>
                                <option value="30">30 Minutes</option>
                                <option value="60">1 Hour</option>
                            </select>

                        </p>

                    </div>

                    <div class="form-group">
                        <label>Rep’s Message To Calendar Owner/Discovery Closer</label>
                        <textarea class="form-control txt_area" type="text"
                            [formControl]="dataForm.controls['repsmsg']"></textarea>
                    </div>

                    <!--aws form fields-->
                    <ng-container *ngIf="selectedproduct!=null && selectedproduct==_commonservices.productid">
                    <!-- <ng-container> -->

                        <div class="containeraddblock">

                        <h2 class="modalh2text1">Doctor/Practice Information</h2>
                        <div class="form-group groupconblock">
                            <label>Total No. of Patients:</label>
                            <input class="form-control txt_area" type="number"
                                [formControl]="dataForm.controls['totalpatients']">
                                <span class="error" *ngIf="dataForm.controls['totalpatients'].touched && dataForm.controls.totalpatients.errors"
                                    >Total No. of Patients is
                                    Required</span>
                        </div>
                        <div class="form-group groupconblock">
                            <label>% of Medicare Patients:</label>
                            <input class="form-control txt_area" type="number"
                                [formControl]="dataForm.controls['medicare_patients']">
                                <span class="error" *ngIf="dataForm.controls['medicare_patients'].touched && dataForm.controls.medicare_patients.errors"
                                    >% of Medicare Patients is
                                    Required</span>
                        </div>
                        <div class="form-group groupconblock">
                            <label>% of Medicaid Patients:</label>
                            <input class="form-control txt_area" type="number"
                                [formControl]="dataForm.controls['medicaid_patients']">
                                <span class="error" *ngIf="dataForm.controls['medicaid_patients'].touched && dataForm.controls.medicaid_patients.errors"
                                >% of Medicaid Patients is
                                Required</span>
                        </div>
                        <div class="form-group groupconblock">
                            <label>% of Cash Payers:</label>
                            <input class="form-control txt_area" type="number"
                                [formControl]="dataForm.controls['cash_payers']">
                                <span class="error" *ngIf="dataForm.controls['cash_payers'].touched && dataForm.controls.cash_payers.errors"
                                >% of Cash Payers is
                                Required</span>
                        </div>
                        <div class="form-group groupconblock">
                            <label>% of Private Insuarance Patients:</label>
                            <input class="form-control txt_area" type="number"
                                [formControl]="dataForm.controls['pvt_insuarance_patients']">
                                <span class="error" *ngIf="dataForm.controls['pvt_insuarance_patients'].touched && dataForm.controls.pvt_insuarance_patients.errors"
                                >% of Private Insuarance Patients is
                                Required</span>
                        </div>

                        <div class="form-group groupconblock">
                            <label>How many patients are below 16 years?  </label>
                            <input class="form-control txt_area" type="number" [formControl]="dataForm.controls['sixteen_year_patients']">
                            <span class="error" *ngIf="dataForm.controls['sixteen_year_patients'].touched && dataForm.controls.sixteen_year_patients.errors"
                            >No. of below 16 years Patients is
                                Required</span>
                        </div>




                        <div class="clearfix"></div>


                        <div class="form-group form-group-wrapper1">

                            <div class="form-group_label1">
                                                <label>Doctor/Practice is:</label>

                            </div>

                            <div class="form-group_label2">
                                                <label *ngFor="let i of doctorspeciality"><input type="checkbox" (change)="speciality($event)" value="{{i.value}}">{{i.name}}</label>
                                                <span class="error" *ngIf="dataForm.controls['speciality'].touched && dataForm.controls.speciality.errors"
                                >Doctor/Practice is
                                Required</span>
                            </div>
                            <div class="clearfix"></div>
                                            </div>


                           <div class="form-group groupconblock">
                            <label>Individual/Organisational NPI # *:</label>
                            <input class="form-control txt_area" type="text" [formControl]="dataForm.controls['npi']">
                            <span class="error" *ngIf="dataForm.controls['npi'].touched && dataForm.controls.npi.errors"
                                >Individual/Organisational NPI is
                                Required</span>
                        </div>

                        <div class="form-group groupconblock">
                            <label>Name of Doctor:</label>
                            <input class="form-control txt_area" type="text" [formControl]="dataForm.controls['doctor_name']">
                            <span class="error" *ngIf="dataForm.controls['doctor_name'].touched && dataForm.controls.doctor_name.errors"
                                >Name of Doctor is
                                Required</span>
                        </div>

                        <button class="addnewbtn2"> Add New</button>
                    </div>
                    </ng-container>

                    <div class="form-group">
                        <button class="btn_sv"> save</button>
                        <button class="btn_cncl" type="button" (click)="modaloff()"> cancel</button>
                    </div>
                </form>

            </div>




        </div>
    </div>









</ng-template>

<ng-template #messagemodal>
    <div class="modal-body brandmanagement_modal">
        <div class="logo_wrapper">
            <img src="assets/images/logo.png">
        </div>
        <div class="message_success">{{message}}</div>

    </div>
</ng-template>