<app-adminheader></app-adminheader>
<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right manageleadslist">
      <app-listing class="manageleads" templatetype="table" sourcetitle="Products" source="products" [sourcecondition]="sourcecondition" [tabledatalis]="tabledatalist" menuval="Products List " [formdata]="formdata" [formsource]="datasource" >
      </app-listing>
    </div>
  </div>
</div>

<app-footer></app-footer>