<app-frontendheader></app-frontendheader>


<div class="generalcls getstartedpage">

  <!----SLIDER AREA START---->
  <carousel class="frontslider">
    <slide>
      <img src="assets/images/getstarted-banner.jpg" class="full-screen" alt="getstarted-banner">
      <div class="carousel-caption d-md-block">
        <div class="frontslidercontentwrapper">
          <div class="frontslidercontent">
            <div class="frontslidercontentinner">
              <h2>Become a part of NexGen’s Sales Rep Team!</h2>
              <p>Are you seeking excellent sales training to expand your career? <br>Have a proven ability to be a sales
                professional & leader? <br>Have a competitive background? <br></p>
              <h4>NexGen Testing is looking for you!</h4>
            </div>
          </div>
          <button class="btnblue" [routerLink]="['/who_we_are']">Learn More About Us</button>
        </div>
      </div>
    </slide>

  </carousel>
  <!----SLIDER AREA END---->

  <div class="container-fluid homeblock1 getstartedblock1 text-center">
    <div class="homeblock1wrapper">
      <h1>Help Inform On a Better Tomorrow for America’s Health</h1>
      <p>NexGen takes pride in training you, the representative, to be ready to support any physician and to feel confident in what you do.  We make sure our representatives are certified and comply with the laboratories compliance rules and professional standards of Conduct. If you are ready for a lifetime opportunity to expand your career, now is the time to take the next step!
      </p>
      <h3>For more information fill out our contact form below.</h3>

    </div>
  </div>


</div>


<app-frontendfooter></app-frontendfooter>