<app-adminheader></app-adminheader>
<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right myadminlist">
      <app-listing class="myevent" templatetype="table" sourcetitle="Event" source="events" [tabledatalis]="tabledatalis" menuval="Event List " [formdata]="formdata" [formsource]="datasource">
      </app-listing>
    </div>
  </div>
</div>
<app-footer></app-footer>


<!--<timepicker></timepicker>-->
