<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="content_header_block">
        <form novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit()">
            <div class="box-body">
              <div class="form-group">
                <label >Title :</label>
                <input type="text" class="form-control" placeholder="Title" [formControl]="dataForm.controls['title']">
                <!--<input type="hidden" class="form-control" placeholder="Brand Name" [formControl]="dataForm.controls['id']">-->
                <span class="error" *ngIf="!dataForm.controls['title'].valid && dataForm.controls['title'].touched">Title field can not be blank</span>
              </div>
              <div class="form-group email_div">
                <label >Description :</label>
                <textarea class="form-control" placeholder="Description" [formControl]="dataForm.controls['description']">
                  </textarea>
                <span class="error" *ngIf="!dataForm.controls['description'].valid && dataForm.controls['description'].touched ">Description field can not be blank</span>
                 </div>
              <div class="form-group email_div">
                <label >Type :</label>
                <select class="form-control"  [formControl]="dataForm.controls['filetype']" (change)="typefile()">
                  <option value="">Select Type</option>
                  <option value="video">Video</option>
                  <option value="audio">Audio</option>
                  <option value="html">Html</option>
                  <option value="file">File</option>
                </select>
                <span class="error" *ngIf="!dataForm.controls['filetype'].valid && dataForm.controls['filetype'].touched ">Have to choose any file type</span>
                <div *ngIf="divforhtml">
                  <ck-editor [formControl]="dataForm.controls['htmleditorvalue']"></ck-editor>
                  <span class="error" *ngIf="!dataForm.controls['htmleditorvalue'].valid && dataForm.controls['htmleditorvalue'].touched ">This field is required</span>
                </div>

                <div *ngIf="divforfile">
                  <input type="hidden" [formControl]="dataForm.controls['fileservername']">
                  <input type="hidden" [formControl]="dataForm.controls['filelocalname']">
                  <input style="display: none" type="file" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain,application/pdf" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileInput1 >
                  <button (click)="fileInput1.click()" type="button">Update File</button>

                  <div *ngIf="files?.length>0">
                    <span *ngIf="files[0].progress.data.percentage==100"><label> File Name: {{files[0].name}}</label></span>
                    <label *ngIf="files[0].progress.data.percentage!=100">Upload Percentage:{{files[0].progress.data.percentage}}%</label>
                  </div>
                  <span class="error" *ngIf="!dataForm.controls['fileservername'].valid && dataForm.controls['fileservername'].touched ">Upload a file!</span>
                </div>

                <div *ngIf="divforaudio">
                  <input type="hidden" [formControl]="dataForm.controls['audioservername']">
                  <input type="hidden" [formControl]="dataForm.controls['audiolocalname']">
                  <input style="display: none" type="file" accept="audio/mp3 , audio/wav" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileInput1>
                 <!-- <input style="display: none" accept="audio/mp3 , audio/wav" type="file" (change)="onUploadOutput($event)" #fileInput2>-->
                  <button (click)="fileInput1.click()" type="button">Update Audio</button>

                  <div *ngIf="files?.length>0">
                    <span *ngIf="files[0].progress.data.percentage==100"><label> File Name: {{files[0].name}}</label></span>
                    <label *ngIf="files[0].progress.data.percentage!=100">Upload Percentage:{{files[0].progress.data.percentage}}%</label>
                  </div>
                  <span class="error" *ngIf="!dataForm.controls['audioservername'].valid && dataForm.controls['audioservername'].touched ">Upload a audio!</span>
                </div>

                <div *ngIf="divforvideo">
                  <input type="hidden" [formControl]="dataForm.controls['videoservername']">
                  <input type="hidden" [formControl]="dataForm.controls['videolocalname']">
                  <input style="display: none" type="file" accept="video/mp4, video/*" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileInput1>

                  <button (click)="fileInput1.click()" type="button">Update Video</button>

                  <div *ngIf="files?.length>0">
                    <span *ngIf="files[0].progress.data.percentage==100"><label> File Name: {{files[0].name}}</label></span>
                    <label *ngIf="files[0].progress.data.percentage!=100">Upload Percentage:{{files[0].progress.data.percentage}}%</label>
                  </div>
                  <span class="error" *ngIf="!dataForm.controls['videoservername'].valid && dataForm.controls['videoservername'].touched ">Upload a video!</span>
                </div>

              </div>

              <div class="form-group email_div">
                <label >Location Of Tranning :</label>
                <select class="form-control"  [formControl]="dataForm.controls['location']">
                  <option value="">Select Anyone</option>
                  <option value="initial">Initial</option>
                  <option value="advance">Advance</option>
                </select>
                <span class="error" *ngIf="!dataForm.controls['location'].valid && dataForm.controls['location'].touched">Location of training is required</span>
              </div>
              <div class="form-group email_div">
                <label >Is there a test associated with tranning :</label>
                <input type="radio" value="yes" class="form-control" [formControl]="dataForm.controls['yesorno']" name="yesno">
                <label>Yes</label>
                <input type="radio" value="no" class="form-control" [formControl]="dataForm.controls['yesorno']" name="yesno">
                <label>No</label>
                <span class="error" *ngIf="!dataForm.controls['yesorno'].valid && dataForm.controls['yesorno'].touched ">Have to choose any option</span>
              </div>
              <div class="form-group email_div">
                <label >Training Category :</label>
                <select class="form-control"  [formControl]="dataForm.controls['trainingcategory']">
                  <option value="">Select Category</option>
                 <option *ngFor="let item of datalist" value="{{item._id}}">{{item.categoryname}}</option>
                </select>
                <span class="error" *ngIf="!dataForm.controls['trainingcategory'].valid && dataForm.controls['trainingcategory'].touched ">Location of training is required</span>
              </div>





              <!--<div class="form-group">-->
                <!--<label >Paragraph :</label>-->
                <!--<textarea class="form-control2"  placeholder="Please Write Something" [formControl]="dataForm.controls['paragraph']" style="columns: 20;"></textarea>-->
                <!--<span class="error" *ngIf="!dataForm.controls['paragraph'].valid && dataForm.controls['paragraph'].touched">Paragraph is required</span>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<div class="s_getmyoffer_uploaded_image" (click)="fileInput.click()">-->
                  <!--<button type="button" class="s_getmyoffer_uploadButton">Upload Offer Image</button>-->
                  <!--<input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>-->
                  <!--<span class="error" *ngIf="!dataForm.controls['image'].valid && dataForm.controls['image'].touched">Please upload Brand image</span>-->
                <!--</div><br>-->
                <!--<div class="col-md-4 imguploadsuccess" *ngIf="image">-->
                  <!--<img style="width: 100%" src="{{image}}" >-->
                  <!--<button class="s_getmyoffer_image_crop"><span>Crop Image </span> </button>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--<span class="has-error" *ngIf ="imageserror"> Upload image here</span>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label >Mobile Number<span>*</span> :</label>-->
                <!--<input type="text" class="form-control" placeholder="Mobile Number" [formControl]="dataForm.controls['mobileno']">-->
                <!--<span class="error" *ngIf="dataForm.controls['mobileno'].touched && !dataForm.controls['mobileno'].valid">mobile-no Required!</span>-->
              <!--</div>-->
            </div>
            <div class="form-group form-check custom_checkbox">
              <input type="checkbox" class="form-check-input" [formControl]="dataForm.controls['status']">
              <label class="form-check-label">Active</label>
            </div>
            <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

