<div class="container-fluid homeblock4">
  <div class="homeblock4wrapper">
    <h1>Contact us</h1>
    <div class="formdivwrapper">
      <div class="formdivwrapper_content">
        <form novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value,mysuccessapplication)">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" [formControl]="dataForm.controls['firstname']">
                <span class="error" *ngIf="!dataForm.controls['firstname'].valid && dataForm.controls['firstname'].touched">First Name Field can not be blank</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" [formControl]="dataForm.controls['lastname']">
                <span class="error" *ngIf="!dataForm.controls['lastname'].valid && dataForm.controls['lastname'].touched">Last Name Field can not be blank</span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" [formControl]="dataForm.controls['email']">
                <span class="error" *ngIf="!dataForm.controls['email'].valid && dataForm.controls['email'].touched">Email Field can not be blank</span>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone *" [formControl]="dataForm.controls['phone']">
                <span class="error" *ngIf="!dataForm.controls['phone'].valid && dataForm.controls['phone'].touched">Phone Field can not be blank</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <textarea class="form-control" placeholder="Message *" [formControl]="dataForm.controls['message']"></textarea>
                <span class="error" *ngIf="!dataForm.controls['message'].valid && dataForm.controls['message'].touched">Message Field can not be blank</span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <select class="form-control" [formControl]="dataForm.controls['states']">
                  <option value="">Select State</option>
                  <option *ngFor="let item of stateslist" value="{{item.abbreviation}}">{{item.name}}</option>
                </select>
                <span class="error" *ngIf="!dataForm.controls['states'].valid && dataForm.controls['states'].touched">Have to choose any States</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group text-right">
                <button type="submit" class="btnblack">Submit</button>
                <!--data-toggle="modal" data-target="#mysuccessapplication"-->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid nexgen_frontfooter">
  <div class="nexgen_frontfooterwrapper">
    <div class="row">
      <div class="col-md-4">
        <div class="diccontactinfo">
          <p><span class="customernumber">customer service <a href="tel:8173263048">817-326-3048</a> <!--(+000) 000-000-000--></span></p>
          <h2>Locations</h2>
          <p>NEXGEN Testing<br>
            P.O. Box 5825<br>
            5006 Largo<br>
            Granbury, Texas 76049
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footerlists">
          <ul>
            <li><a [routerLink]="['/']">Home Page</a></li>
           <!-- <li><a href="javascript:void(0)">Why Us</a></li>-->
            <li><a [routerLink]="['/who_we_are']">Who We Are</a></li>
            <li><a [routerLink]="['/about_pcr_testing']">About PCR Testing</a></li>
            <li><a [routerLink]="['/get_started']">Get Started</a></li>
            <li><a [routerLink]="['/contact_us']">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footercontentright">
          <p><span>Lorem ipsum dolor sit</span> amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          <div class="footerlogo">
            <img src="assets/images/footerlogo.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nex_text_frontfooter">
  <ul>
    <li><a href="javascript:void(0)">Terms & Conditions</a></li>
    <li><a href="javascript:void(0)"> Privacy Policy </a></li>
    <li>Copyright © 2019 <a href="javascript:void(0)">NexGen Testing</a>. All Rights Reserved.</li>
  </ul>
</div>


<!--<ng-template #mysuccessapplication>
  <div class="modal fade modaldefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="logoshatterblock">
            <img src="../assets/images/logo-header.png" class="newhomelogo">
          </div>
          <p>Thank you for contacting Nexgen! We will get back to you with a response as soon as possible.</p>
        </div>

      </div>&lt;!&ndash; /.modal-content &ndash;&gt;
    </div>&lt;!&ndash; /.modal-dialog &ndash;&gt;
  </div>&lt;!&ndash; /.modal &ndash;&gt;
</ng-template>-->

<ng-template #mysuccessapplication>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="logoshatterblock">
          <img src="../assets/images/logo-header.png" class="newhomelogo">
        </div>
        <p>Thank you for contacting Nexgen! We will get back to you with a response as soon as possible.</p>
      </div>
    </div>
  </div>
</ng-template>