
<!--Single File Upload-->
<input style="display: none" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileInput1>
<button (click)="fileInput1.click()">Update single File</button>


<div *ngIf="files?.length>0">
    <span *ngIf="files[0].progress.data.percentage==100"><img style="width: 100%; height: auto" src="http://nexgen.influxiq.com/assets/images/uploads/{{files[0].response}}"></span>
    <label *ngIf="files[0].progress.data.percentage!=100">Upload Percentage:{{files[0].progress.data.percentage}}%</label>
    </div>
<!--Single File Upload-->



<br/><br/><br/>



<!--Multiple File Upload-->
<input style="display: none" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput1($event)" [uploadInput]="uploadInput" multiple #fileInput2>
<button (click)="fileInput2.click()">Update Multiple File</button>


<div *ngIf="files1?.length>0">
    <div *ngFor="let item of files1;let i=index">
        {{i}}---{{item.id}}
        <span *ngIf="item.progress.data.percentage==100"><img style="width: 100%; height: auto" src="http://nexgen.influxiq.com/assets/images/uploads/{{item.response}}"></span>

    </div>
    </div>
   <!-- <div *ngFor="let item of files1">
        <span *ngIf="item.progress.data.percentage==100"><img style="width: 100%; height: auto" src="http://nexgen.influxiq.com/assets/images/uploads/{{item.response}}"></span>
        <label *ngIf="item.progress.data.percentage!=100">Upload Percentage:{{item.progress.data.percentage}}%</label>
    </div>
    <span *ngIf="item.progress.data.percentage==100"><img style="width: 100%; height: auto" src="http://nexgen.influxiq.com/assets/images/uploads/{{item.response}}"></span>
    <label *ngIf="item.progress.data.percentage!=100">Upload Percentage:{{item.progress.data.percentage}}%</label>
    -->
<!--Multiple File Upload-->



<!--

<accordion>
  <accordion-group heading="Header">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Content 1">
    <p>Content 1</p>
  </accordion-group>
  <accordion-group heading="Content 2">
    <p>Content 2</p>
  </accordion-group>
</accordion>


-->


<carousel>
    <slide>
        <img src="../../assets/images/dashboardbg_small.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/images/dashboardbg.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/images/rep_dashboardbg.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
