<input class="img-responsive center-block clearfix" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">

<div *ngIf="files.length>0">
    <img style="width: 100%; height: auto" src="http://nexgen.influxiq.com/assets/images/uploads/{{files[0].response}}">
</div>
<!--

<accordion>
  <accordion-group heading="Header">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Content 1">
    <p>Content 1</p>
  </accordion-group>
  <accordion-group heading="Content 2">
    <p>Content 2</p>
  </accordion-group>
</accordion>


-->
