<app-adminheader></app-adminheader>
<div class="nextGen_admin_mainwrapper">
  <div class="page-wrapper s_getmybrand_adminlist">
    <div class="nexgen_adminlist">
      <div class="user_management_wrapper">
        <div class="user_management_inner">
          <h2>Training Center Report</h2>
          <div class="inner_search_wrapper">
            <div class="inner_content_wrapper">
              <div class="search_content">
                <h3><span>Search by UserId: </span> <input type="text" ><button>search</button> </h3>
              </div>
              <div class="search_content">
                <h3> <span>Search by Name:  </span> <input type="text" ><button>search</button> </h3>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 admin_inner_wrapper">
        <div class="clearfix"></div>
        <div class="content_header_block">
          <div class="clearfix"></div>
          <div class="newblock1 ">
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="nexgen_admin_table">
          <!--<div class="action_section">-->
          <!--&lt;!&ndash;<div class="inner_actionblock">&ndash;&gt;-->
          <!--&lt;!&ndash;<h3> List</h3>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
          <div class="table-responsive admin_table_wrapper generaltablecls">
            <div>
              <table class="table" >
                <thead>


                <tr>
                  <th data scope="col">Date Added</th>
                  <th scope="col">User ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Initial Training</th>
                  <th scope="col"> Additional Training</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let item of getonedetails">
                  <td data-title="Date Added" scope="row">{{commonservices.showunixtodate(item.created_at)}}</td>
                  <td data-title="User ID">{{item.unique_id}}</td>
                  <td data-title="Name">{{item.firstname}} {{item.lastname}}</td>
                  <td data-title="Initial Training">

                    <span *ngIf="item.newhirecatsum==0">0</span>
                    <span *ngIf="item.newhirecatsum>0">{{((item.newhirecatsum/totalnewhiretraining).toFixed(2)*100).toFixed(2)}}</span>
                    %</td>
                  <td data-title="Additional Training">
                    <span *ngIf="item.reactsum>0">{{((item.reactsum/totalreptraining).toFixed(2)*100).toFixed(2)}}</span>
                    <span *ngIf="item.reactsum==0">0</span>
                    %</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>