

<div class="container-fluid alanding_topblock">
  <img src="../../assets/images/a_new_landing_img1.png" alt="#" class="a_new_landing_img1">

  <div class="alanding_topblock_con">

    <div class="alanding_topblock_con_left">
      <img src="../../assets/images/logo.png" alt="#" class="alandinglogo">
      <h2>Job Types</h2>
      <h3>Part-Time, Full-time, Commission</h3>
      <!-- <h4>Salary</h4>-->
      <h5><!--Salary:--> $100,000 to $250,000 /year </h5>
      <h6>Capitalize on your strong market value/medical relationships sand take the next step in your sales career!
      </h6>
      <label>Are you ready to reach your full earning potential by offering PCR testing to your physicians?
      </label>


      <img src="../../assets/images/a_new_landing_img2.png" alt="#" class="a_new_landing_img2">

      <div class="alanding_arrowdiv"><h1>We want you on our team!</h1></div>

    </div>
    <div class="alanding_topblock_con_right">

      <h2>Lorem ipsum dolor </h2>
      <h3>Lorem ipsum dolor sit amet
        consectetur adipiscing </h3>
      <h4>Lorem ipsum dolor sit amet
        consectetur adipiscing
        <span>elitsed do eiusmod</span> </h4>

      <div class="alanding_formdiv">
        <form [formGroup]="dataForm" (ngSubmit)="dosubmit()">

          <div class="form-group"><input type="text" class="form-control" placeholder="First Name*" [formControl]="dataForm.controls['firstname']">
            <span class="errortext" *ngIf="!dataForm.controls['firstname'].valid && dataForm.controls['firstname'].touched">First Name field can not be blank</span>
          </div>
          <div class="form-group"><input type="text" class="form-control" placeholder=" Last Name*" [formControl]="dataForm.controls['lastname']">
            <span class="errortext" *ngIf="!dataForm.controls['lastname'].valid && dataForm.controls['lastname'].touched">Last Name field can not be blank</span>
          </div>
          <div class="form-group"> <input type="email" class="form-control" placeholder=" Email*" [formControl]="dataForm.controls['email']">
            <span class="errortext" *ngIf="!dataForm.controls['email'].valid && dataForm.controls['email'].touched">Email field can not be blank & give proper email id</span>
          </div>
          <div class="form-group"><input type="text" class="form-control" placeholder=" Phone*" [formControl]="dataForm.controls['phoneno']">
            <span class="errortext" *ngIf="!dataForm.controls['phoneno'].valid && dataForm.controls['phoneno'].touched">Phone field can not be blank</span>
          </div>
          <div class="form-group"><input type="text" class="form-control" placeholder="City*" [formControl]="dataForm.controls['city']">
            <span class="errortext" *ngIf="!dataForm.controls['city'].valid && dataForm.controls['city'].touched">City field can not be blank</span>

          </div>
          <div class="form-group">
            <select class="form-control" [formControl]="dataForm.controls['state']">
              <option value="">Choose State</option>
              <option *ngFor="let item of states" value="{{item.abbreviation}}">{{item.name}}</option>
            </select>
            <span class="errortext" *ngIf="!dataForm.controls['state'].valid && dataForm.controls['state'].touched">State field can not be blank</span>
          </div>


          <input type="submit" value="Submit" class="alandingsubbtn">

        </form>

      </div>


    </div>

    <div class="clearfix"></div>


  </div>
  <div class="clearfix"></div>


  <div class="alanding_topblock_bootomtext">NexGen takes pride in giving quality training to you, the representative, so that you can support any physician with complete confidence. We make sure our representatives are 100% certified and in compliance with the laboratories.
  </div>

  <div class="clearfix"></div>

</div>

<div class="container-fluid alanding_block2">

  <div class="alanding_block2_wrapper">
    <div class="alanding_block2_wrappertext">

      <h2>About <span>NEXGEN</span> Testing</h2>
      <p>If you have a passion for entrepreneurship and are looking for a stable career with a reputable company, then become part of the NexGen Testing team. If you are looking for a company that can provide you with a six-figure income with no caps, gives you flexible hours then, NexGen Testing is your next step!
        <br/>
        We help you give back. NexGen takes pride in giving quality training to you, the representative, so that you can support any physician with complete confidence. We make sure our representatives are 100% certified and in compliance with the laboratories.
      </p>
      <h3>50% of all antibiotics prescribed in the United States
        are either unnecessary or inappropriate. - CDC 2014
      </h3>
      <a href="javascript:void(0)" class="alanstartedbtn">get started </a>
    </div>
  </div>
</div>

<div class="container-fluid alanding_block3">

  <div class="alanding_block3_wrapper">
    <h2>Molecular Diagnostic For
      Pathogen Detection
    </h2>
    <div class="alanding_block3_wrappersub">

      <h3>Make informed medical decisions quickly with results for a broad range of pathogens
        and potential antibiotic resistance in 24 hours

      </h3>

      <div class="consublandin consublandinleft">
        <h6>Immunocompromised<br/>
          patients benefit: </h6>

        <label>Reduces unnecessary antibiotic administration,
          adverse events and costs </label>
        <label>Tests for resistance genes that target antibiotic class </label>
        <label>Decreases spread of acquired infections</label>

      </div>

      <div class="consublandin consublandinright">
        <h6>Real-Time PCR technology quickly
          and precisely identifies pathogens</h6>

        <label>High specificity </label>
        <label>Strain typing often incorporated in initial procedure </label>
        <label>Rapid and accurate diagnosis: 24 hours after receipt by
          the laboratory vs. 1-3 weeks for culture and sensitivity</label>
        <label>More definitive diagnosis than antigen assays</label>
        <label>CAP and CLIA accredited</label>

      </div>

      <div class="clearfix"></div>


      <div class="consublandin consublandinleft">
        <h6>Simple specimen collection, <br/>
          transport </h6>

        <label>Non-invasive swab specimen collection </label>
        <label>Viable specimen not required </label>
        <label>No special transport medium </label>
        <label>Unaffected by temperature</label>

      </div>

      <div class="consublandin consublandinright">
        <h6>Detect multiple pathogens in a <br/>
          single specimen with <br/>
          pathogen panels  </h6>
        <div class="labeldiv1">
          <label>Respiratory </label>
          <label>Gastrointestinal </label>
          <label>Urinary Tract Infection </label>
        </div>
        <div class="labeldiv1">
          <label>Wound </label>
          <label>Nail/Paronychia</label>
        </div>
        <div class="clearfix"></div>

      </div>
      <div class="clearfix"></div>
      <a href="javascript:void(0)" class="alanstartedbtn2">get started </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="alanding_bootmblock">


  <div class="alanding_bootmblock_wrapper" id="alanding_bootmblock_wrapper">
    <h2>Questionnaire : </h2>
    <div class="alanding_bootmblock_formwrapper">
      <form [formGroup]="dataForm1" (ngSubmit)="dosubmit1(messagemodal)">
        <div class="landing_form_left">
          <img src="../../assets/images/logo.png" alt="#" class="formlandinglogo">

          <input type="hidden" [formControl]="dataForm1.controls['id']">
          <div class="form-group">
            <input type="text" placeholder="First Name" [formControl]="dataForm1.controls['firstname']">
            <span class="errortext" *ngIf="!dataForm1.controls['firstname'].valid && dataForm1.controls['firstname'].touched">First Name field can not be blank</span>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Last Name" [formControl]="dataForm1.controls['lastname']">
            <span class="errortext" *ngIf="!dataForm1.controls['lastname'].valid && dataForm1.controls['lastname'].touched">Last Name field can not be blank</span>
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" [formControl]="dataForm1.controls['email']">
            <span class="errortext" *ngIf="!dataForm1.controls['email'].valid && dataForm1.controls['email'].touched">Email field can not be blank & give proper email id</span>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Phone Number" [formControl]="dataForm1.controls['phoneno']">
            <span class="errortext" *ngIf="!dataForm1.controls['phoneno'].valid && dataForm1.controls['phoneno'].touched">Phone no field can not be blank</span>
          </div>
          <div class="form-group">
            <input type="text" placeholder="City" [formControl]="dataForm1.controls['city']">
            <span class="errortext" *ngIf="!dataForm1.controls['city'].valid && dataForm1.controls['city'].touched">City field can not be blank</span>
          </div>
          <div class="form-group">
            <select [formControl]="dataForm1.controls['state']" class="form-control">
              <option value="">Choose State</option>
              <option *ngFor="let item of states" value="{{item.abbreviation}}">{{item.name}}</option>
            </select>
            <span class="errortext" *ngIf="!dataForm1.controls['state'].valid && dataForm1.controls['state'].touched">State field can not be blank</span>
          </div>

        </div>

        <div class="landing_form_right">

          <div class="form-group ">
            <label>How many years have you been in the medical health industry?</label>
            <input type="text" class="alaninput1" [formControl]="dataForm1.controls['noofyears']">
            <span class="errortext" *ngIf="!dataForm1.controls['noofyears'].valid && dataForm1.controls['noofyears'].touched">This field can not be blank</span>
            <div class="clearfix"></div>
          </div>
          <div class="form-group "><label>How many practices/clinics do you currently do business with?</label>
            <input type="text"  class="alaninput1" [formControl]="dataForm1.controls['noofclinics']">
            <span class="errortext" *ngIf="!dataForm1.controls['noofclinics'].valid && dataForm1.controls['noofclinics'].touched">This field can not be blank</span>
            <div class="clearfix"></div></div>

          <div class="form-group ">
            <label class="labellantextmain">What type of doctors do you work with?</label>
            <input type="checkbox" [formControl]="dataForm1.controls['primarycare']">
            <label class="labellantext">Primary Care  </label>
            <input type="checkbox" [formControl]="dataForm1.controls['pediatrics']">
            <label class="labellantext"> Pediatrics</label>
            <input type="checkbox" [formControl]="dataForm1.controls['podiatrist']">
            <label class="labellantext">Podiatrist  </label>
            <input type="checkbox" [formControl]="dataForm1.controls['hospitals_that_outsource']">
            <label class="labellantext">Hospitals That Outsource   </label>
            <input type="checkbox" [formControl]="dataForm1.controls['nursing']">
            <label class="labellantext">Nursing   </label>
            <input type="checkbox" [formControl]="dataForm1.controls['homesorhomehealthcare']">
            <label class="labellantext">Homes/Home Health Care    </label>
            <input type="checkbox" [formControl]="dataForm1.controls['other']">
            <label class="labellantext">Other:    </label>
            <input type="text"  class="alaninput2">
            <div class="clearfix"></div>

          </div>

          <div class="form-group "><label>How many practices/clinics do you personally/actively call on into weekly?</label>
            <input type="text"  class="alaninput1" [formControl]="dataForm1.controls['noofpersonallycall']">
            <span class="errortext" *ngIf="!dataForm1.controls['noofpersonallycall'].valid && dataForm1.controls['noofpersonallycall'].touched">This field can not be blank</span>
            <div class="clearfix"></div></div>

          <div class="form-group "><label>How often do you call each office? </label>
            <input type="text"  class="alaninput1" [formControl]="dataForm1.controls['calleachoffice']">
            <span class="errortext" *ngIf="!dataForm1.controls['calleachoffice'].valid && dataForm1.controls['calleachoffice'].touched">This field can not be blank</span>
            <div class="clearfix"></div></div>

          <div class="form-group "><label>How many practices do you have direct access to when you walk in their door? </label><input type="text"  class="alaninput1" [formControl]="dataForm1.controls['noofdirectaccess']">
            <span class="errortext" *ngIf="!dataForm1.controls['noofdirectaccess'].valid && dataForm1.controls['noofdirectaccess'].touched">This field can not be blank</span>
            <div class="clearfix"></div></div>

          <div class="form-group "><label>What are you currently doing in the medical field?  </label>
            <input type="text"  class="alaninput2" [formControl]="dataForm1.controls['workinmedicalfield']">
            <span class="errortext" *ngIf="!dataForm1.controls['workinmedicalfield'].valid && dataForm1.controls['workinmedicalfield'].touched">This field can not be blank</span>
            <div class="clearfix"></div></div>

          <div class="form-group "><label class="labellantextmain">Have you represented a company that does Molecular PCR testing in the past?  </label>
            <input type="radio" value="1" [formControl]="dataForm1.controls['pcrtesting']"> <label class="labellantext">Yes</label>
            <input type="radio"  value="0" [formControl]="dataForm1.controls['pcrtesting']"> <label class="labellantext">NO</label>
            <span class="errortext" *ngIf="!dataForm1.controls['pcrtesting'].valid && dataForm1.controls['pcrtesting'].touched">This field can not be blank</span>
            <div class="clearfix"></div>

          </div>

          <div class="form-group "><label>Company Name:  </label>
            <input type="text"  class="alaninput2" [formControl]="dataForm1.controls['companyname']">
            <span class="errortext" *ngIf="!dataForm1.controls['companyname'].valid && dataForm1.controls['companyname'].touched">This field can not be blank</span>
            <div class="clearfix"></div></div>
          <input type="submit" value="Submit" class="alandingsubbtn2">
          <div class="clearfix"></div>
        </div>


        <div class="clearfix"></div>



      </form>

    </div
    ></div>

</div>

<div class="landingfooter"><a href="javascript:void(0)">Privacy Policy</a> | <a href="javascript:void(0)">Terms & Conditions</a>          <span>© Copyright 2019 NexGen Testing - All Rights Reserved</span></div>

<ng-template #messagemodal>
  <div class="modal-body brandmanagement_modal">
    <div class="logo_wrapper">
      <img src="../../assets/images/logo.png">
    </div>
    <div class="message_success">{{message}}</div>

  </div>
</ng-template>

