/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.contactlist .modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

.contactlist .modal-dialog .brandmanagement_modal label[style]{
    display: inline-block;
    font-weight: normal !important;
    background-color: #00a8ef !important;
    color: #fff !important;
    padding: 5px 1%;
    width: 100%;
    margin-top: 30px;
    font-size: 24px;
    text-transform: uppercase;
    border-top: 4px solid #000;
}

.contactlist .modal-dialog .brandmanagement_modal label[style]:first-child{
    margin-top: 0px;
}

.paginationnew{margin-top: 10px;}
.paginationnew .next .page-link{background-color: #00a8ef; color:#fff;border-radius: 0px !important; margin-left: 5px;}
.paginationnew .next .page-link:hover{color:#fff;}
.paginationnew .prev .page-link{background-color: #000;color:#fff;border-radius: 0px !important;}
.paginationnew .prev .page-link:hover{color:#fff;}
.paginationnew .disable .page-link{background-color: #cccccc;color:#666666; border-radius: 0px !important;cursor: not-allowed;
        pointer-events: none;}
.paginationnew .disable .page-link{color:#666666; }



