<img src="../../assets/images/logo.png" class="agreement_contain_logo">

<div class="agreement_contain_wrapper">
  <h2>BETO PAREDES LLC
    <span>Consulting Director Program (Beto Paredes Family of Companies Rep)</span>
  </h2>

  <div class="paracls">
    <p [innerHTML]="safeHtml(all_data.contentTop)"></p>
    <p [innerHTML]="safeHtml(all_data.clauses)"></p>
    <p [innerHTML]="safeHtml(all_data.contentBottiom)"></p>
  </div>
  <div class="paraclsbottom">
    <div class="paraclsbtmtop">
      <span>Date:</span>
      <input readonly="readonly" name="agreement_person_agreement_date" value="{{ today | date: 'longDate' }}" type="text" class="agr_input6" />
      <span *ngIf="degitalSignForm.value.fullName != ''">
      <span>Name:</span>
      <input readonly="readonly" name="agreement_person_agreement_date" [value]="degitalSignForm.value.fullName" type="text" class="agr_input6" />
    </span>
    </div>
    
    <div class="new_signupdiv">
      <input type="button" value="Sign Here" (click)="openModal(contentmodal)">
      <span class="error">Sign Is Required</span>
    </div>
    <div class="new_successbtn">
      <button type="button" class="btn btn-default popbtn1new" (click)="submitSign(sucessmodalflag,1)">Agree</button>
      <button type="button" class="btn btn-default popbtn1new popbtn1newred" (click)="submitSign(sucessmodalflag, 0)">Decline</button>
      <button type="button" class="btn btn-default popbtn2new" (click)="modalRef1.hide()" >Cancel</button>
      <div class="clearfix"></div>
    </div>
  </div>
  
</div>



<ng-template #contentmodal class="test-modal">
  <div class="modal-body">
      <img src="../../assets/images/betologo.png" class="popup_logo">

      <h4>Digital Signature</h4>

      <form [formGroup]="degitalSignForm" (ngSubmit)="degitalSignFormSubmit()">
          <label>Full name</label>
          <input type="text" id="fullname" formControlName="fullName" />
          <span class="has-error" *ngIf="degitalSignFormSubmitFlug && degitalSignForm.controls.fullName.errors">Name is required.</span>

          <div class="popsigndiv">
              <h2>Digitally Signed By:</h2>
              <h3 id="fullnamesignature">{{ degitalSignForm.value.fullName }}</h3>
              <h4>{{ today | date: 'longDate' }} {{ today | date : 'shortTime'}}</h4>
             
          </div>

          <h5>By selecting “agree”, the parties agree that this agreement may be electronically signed. The parties agree that the electronic signatures appearing on this agreement are the same as handwritten signatures for the purposes of validity, enforceability, and admissibility.</h5>

          <div class="pop_btn_drapper">
              <button type="submit" class="btn btn-default popbtn1" data-dismiss="modal" id="agreebtn">Agree</button>
              <button type="button" class="btn btn-default popbtn2" data-dismiss="modal" (click)="hideDigitalSignModal()">Cancel</button>
              <div class="clearfix"></div>
          </div>
      </form>
  </div>
</ng-template>


<ng-template #sucessmodalflag>
  <div class="modal-body brandmanagement_modal successmodal_listing">
      <div class="logo_wrapper">
          <img src="assets/images/logo.png">
      </div>
      <div class="brand_messagebox">
          <h3>Successfully Signed</h3> <br>
          <h4>Thank You</h4>
      </div>
  </div>
  <div>
  </div>
</ng-template>